@font-face {
    font-family: 'Avenir Next';
    src: url('../../fonts/AvenirNext-UltraLight.eot');
    src: url('../../fonts/AvenirNext-UltraLight.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/AvenirNext-UltraLight.woff') format('woff'),
    url('../../fonts/AvenirNext-UltraLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../fonts/AvenirNext-Regular.eot');
    src: url('../../fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/AvenirNext-Regular.woff') format('woff'),
    url('../../fonts/AvenirNext-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../fonts/AvenirNext-Medium.eot');
    src: url('../../fonts/AvenirNext-Medium.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/AvenirNext-Medium.woff') format('woff'),
    url('../../fonts/AvenirNext-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Avenir Next';
    src: url('../../fonts/AvenirNext-DemiBold.eot');
    src: url('../../fonts/AvenirNext-DemiBold.eot?#iefix') format('embedded-opentype'),
    url('../../fonts/AvenirNext-DemiBold.woff') format('woff'),
    url('../../fonts/AvenirNext-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}