.no-svg .dummy-container:before {
    content: url("../images/png/logo.png") url("../images/png/arrow-down.png") url("../images/png/arrow-down-blue.png") url("../images/png/icon-events.png") url("../images/png/icon-events-blue.png") url("../images/png/icon-tickets.png") url("../images/png/icon-tickets-blue.png") url("../images/png/icon-info.png") url("../images/png/icon-info-blue.png") url("../images/png/icon-user.png") url("../images/png/icon-user-blue.png") url("../images/png/refresh.png") url("../images/png/refresh-blue.png") url("../images/png/search-icon.png") url("../images/png/search-icon-blue.png") url("../images/png/new-ticket.png") url("../images/png/new-ticket-blue.png") url("../images/png/new-ticket-white.png") url("../images/png/check-mark.png") url("../images/png/arrow-right.png") url("../images/png/refresh-box-icon.png") url("../images/png/arrow-left.png") url("../images/png/arrow-left-blue.png") url("../images/png/comment-bubble.png") url("../images/png/report-problem-icon.png") url("../images/png/request-change-icon.png") url("../images/png/get-assistance-icon.png") url("../images/png/schedule-visit-icon.png") url("../images/png/report-problem-small.png") url("../images/png/request-change-small.png") url("../images/png/get-assistance-small.png") url("../images/png/schedule-visit-small.png") url("../images/png/dropdown-arrows.png") url("../images/png/search-icon-black.png") url("../images/png/calendar-icon.png") url("../images/png/calendar-icon-blue.png") url("../images/png/arrow-down2.png") url("../images/png/arrow-down2-blue.png") url("../images/png/arrow-up.png") url("../images/png/arrow-up-blue.png") url("../images/png/search-icon-white.png") url("../images/png/calendar-arrow-left.png") url("../images/png/calendar-arrow-right.png") url("../images/png/calendar-dropdown-arrows.png") url("../images/png/close-icon.png") url("../images/png/search-icon-black.png") url("../images/png/close-icon2.png") url("../images/png/close-icon2-hover.png") url("../images/png/tick.png") url("../images/svg/arrow-right2.svg") url("../images/png/icon-viewpoint.png") url("../images/png/icon-recovery-service.png") url("../images/png/icon-cloud.png") url("../images/png/icon-ticketing.png") url("../images/png/icon-spotlight.png") url("../images/png/icon-launchboard.png") url("../images/png/icon-recover-cloud.png") url("../images/png/icon-test-planning.png") url("../images/png/icon-doc-repo.png") url("../images/png/icon-doc-library.png") url("../images/png/icon-admin.png") url("../images/png/icon-user-admin.png") url("../images/png/icon-r2c-admin.png") url("../images/png/icon-doc-library-repo-admin.png") url("../images/png/user-company-icon.png") url("../images/png/arrow-right2.png") url("../images/png/user-individual-icon.png") url("../images/png/icon-edit.png") url("../images/png/icon-edit-blue.png") url("../images/png/icon-logout.png") url("../images/png/icon-logout-blue.png") url("../images/png/tour-tick.png") url("../images/png/play-icon.png")
}

.no-svg header#main-header #logo {
    background-image: url("../images/png/logo.png");
}

.no-svg header#main-header nav.pull-left .nav-dropdown-button:after {
    background: url("../images/png/arrow-down.png");
}

.no-svg header#main-header nav.pull-left .nav-dropdown-button:hover:after {
    background: url("../images/png/arrow-down-blue.png");
}

.no-svg header#main-header nav.pull-right > .buttons-container > .button-container > button,
.no-svg .nav-window header .button-container button {
    box-sizing: content-box;
}

.no-svg header#main-header nav.pull-right > .buttons-container > .button-container > button,
.no-svg header#main-header nav.pull-right > .dark-bg .button-container > button {
    padding: 0 8px;
}

.no-svg header#main-header nav.pull-right > .buttons-container > .button-container > button,
.no-svg .nav-window header .button-container button {
    background-position: 50%;
}

.no-svg header#main-header nav.pull-right .events-button {
    width: 26px;
    background-image: url("../images/png/icon-events.png");
}

.no-svg header#main-header nav.pull-right .events-button:hover {
    background-image: url("../images/png/icon-events-blue.png");
}

.no-svg header#main-header nav.pull-right .tickets-button {
    width: 18px;
    background-image: url("../images/png/icon-tickets.png");
}

.no-svg header#main-header nav.pull-right .tickets-button:hover {
    background-image: url("../images/png/icon-tickets-blue.png");
}

.no-svg header#main-header nav.pull-right .tour-button {
    width: 25px;
    background-image: url("../images/png/icon-info.png");
}

.no-svg header#main-header nav.pull-right .tour-button:hover {
    background-image: url("../images/png/icon-info-blue.png");
}

.no-svg header#main-header nav.pull-right .user-button {
    width: 25px;
    background-image: url("../images/png/icon-user.png");
}

.no-svg header#main-header nav.pull-right .user-button:hover {
    background-image: url("../images/png/icon-user-blue.png");
}

.no-svg .nav-window header .refresh-button {
    width: 25px;
    background-image: url("../images/png/refresh.png");
}

.no-svg header#main-header nav.pull-right .refresh-button:hover {
    background-image: url("../images/png/refresh-blue.png");
}

.no-svg .nav-window header .search-button {
    width: 19px;
    background-image: url("../images/png/search-icon.png");
}

.no-svg header#main-header nav.pull-right header .search-button:hover {
    background-image: url("../images/png/search-icon-blue.png");
}

.no-svg .nav-window header .new-ticket-button {
    width: 21px;
    background-image: url("../images/png/new-ticket.png");
}

.no-svg header#main-header nav.pull-right .new-ticket-button:hover {
    background-image: url("../images/png/new-ticket-blue.png");
}

.no-svg .nav-window header .new-ticket-button.active {
    background-image: url("../images/png/new-ticket-white.png") !important;
}

.no-svg .nav-window .ticket-list li.ticket.resolved a:before {
    background-image: url("../images/png/check-mark.png");
}

.no-svg .nav-window .ticket-list li.ticket:hover a h6:after {
    background-image: url("../images/png/arrow-right.png");
}

.no-svg .nav-window .refresh-box span:first-child {
    width: 23px;
    height: 18px;
    background-image: url("../images/png/refresh-box-icon.png");
}

.no-svg .nav-window header h3.back {
    padding: 11px 0 10px 31px;
    background-image: url("../images/png/arrow-left.png");
    background-position: 16px 14px;
}

.no-svg .nav-window header h3.back:hover {
    background-image: url("../images/png/arrow-left-blue.png");
}

.no-svg .nav-window .comment-input-container textarea {
    background-image: url("../images/png/comment-bubble.png");
}

.no-svg .nav-window .comment-input-container.open textarea {
    background-image: none;
}

.no-svg .nav-window .new-ticket-type-selection button {
    padding: 54px 0 19px;
}

.no-svg .nav-window .new-ticket-type-selection button.nt-report-problem {
    background-image: url("../images/png/report-problem-icon.png");
    background-position: 50% 17px;
}

.no-svg .nav-window .new-ticket-type-selection button.nt-request-change {
    background-image: url("../images/png/request-change-icon.png");
    background-position: 50% 17px;
}

.no-svg .nav-window .new-ticket-type-selection button.nt-get-assistance {
    background-image: url("../images/png/get-assistance-icon.png");
    background-position: 50% 17px;
}

.no-svg .nav-window .new-ticket-type-selection button.nt-schedule-visit {
    background-image: url("../images/png/schedule-visit-icon.png");
    background-position: 50% 17px;
}

.no-svg .nav-window .new-ticket-form.report-problem-form .ticket-type {
    background-image: url("../images/png/report-problem-small.png");
}

.no-svg .nav-window .new-ticket-form.request-change-form .ticket-type {
    background-image: url("../images/png/request-change-small.png");
}

.no-svg .nav-window .new-ticket-form.get-assistance-form .ticket-type {
    background-image: url("../images/png/get-assistance-small.png");
}

.no-svg .nav-window .new-ticket-form.schedule-visit-form .ticket-type {
    background-image: url("../images/png/schedule-visit-small.png");
}

.no-svg select.input-box {
    background-image: url("../images/png/dropdown-arrows.png");
}

.no-svg input[type="search"].input-box {
    background-image: url("../images/png/search-icon-black.png");
}

.no-svg .form-group .hasDatepicker {
    background-image: url("../images/png/calendar-icon.png");
}

.no-svg .form-group .hasDatepicker:hover,
.no-svg .form-group .hasDatepicker:focus {
    background-image: url("../images/png/calendar-icon-blue.png");
}

.no-svg .nav-window .search-form .advanced-search > span span:last-child {
    width: 10px;
    height: 4px;
    display: inline-block;
    background-image: url("../images/png/arrow-down2.png");
}

.no-svg .nav-window .search-form .advanced-search:hover > span span:last-child {
    background-image: url("../images/png/arrow-down2-blue.png");
}

.no-svg .nav-window .search-form .advanced-search.open > span span:last-child {
    background-image: url("../images/png/arrow-up.png");
}

.no-svg .nav-window .search-form .advanced-search.open:hover > span span:last-child {
    background-image: url("../images/png/arrow-up-blue.png");
}

.no-svg .nav-window .form-buttons .form-button.form-button-large.search-button .icon{
    background-image: url("../images/png/search-icon-white.png");
}

.no-svg .ui-datepicker .ui-datepicker-prev span {
    background-image: url("../images/png/calendar-arrow-left.png");
}

.no-svg .ui-datepicker .ui-datepicker-next span {
    background-image: url("../images/png/calendar-arrow-right.png");
}

.no-svg ul.tagit li.tagit-choice .tagit-close {
    background-image: url("../images/png/close-icon.png");
}

.no-svg .nav-window .new-ticket-form input[type="search"].input-box {
    background-image: url("../images/png/search-icon-black.png");
}

.no-svg .nav-window .clear-search{
    padding-right: 12px;
    background-position: 100% 50%;
    background-image: url("../images/png/close-icon2.png");
}

.no-svg .nav-window .clear-search:hover{
    background-image: url("../images/png/close-icon2-hover.png");
}

.no-svg .form-group input[type="checkbox"]:checked + label:after {
    background-image: url("../images/png/tick.png");
}

.no-svg .nav-window .links-list li a.with-sub:after{
    background-image: url("../images/png/arrow-right2.png");
}

.no-svg .nav-window .links-list li a.link-managed-services:before {
    background-image: url("../images/png/icon-viewpoint.png");
}

.no-svg .nav-window .links-list li a.link-recovery-service:before {
    background-image: url("../images/png/icon-recovery-service.png");
}

.no-svg .nav-window .links-list li a.link-cloud:before {
    background-image: url("../images/png/icon-cloud.png");
}

.no-svg .nav-window .links-list li a.link-ticketing:before {
    background-image: url("../images/png/icon-ticketing.png");
}

.no-svg .nav-window .links-list li a.link-spotlight:before {
    background-image: url("../images/png/icon-spotlight.png");
}

.no-svg .nav-window .links-list li a.link-launchboard:before {
    background-image: url("../images/png/icon-launchboard.png");
}

.no-svg .nav-window .links-list li a.link-recovery-cloud:before {
    background-image: url("../images/png/icon-recover-cloud.png");
}

.no-svg .nav-window .links-list li a.link-test-planning:before {
    background-image: url("../images/png/icon-test-planning.png");
}

.no-svg .nav-window .links-list li a.link-doc-repo:before {
    background-image: url("../images/png/icon-doc-repo.png");
}

.no-svg .nav-window .links-list li a.link-doc-library:before {
    background-image: url("../images/png/icon-doc-library.png");
}

.no-svg .nav-window .links-list li a.link-admin:before {
    background-image: url("../images/png/icon-admin.png");
}

.no-svg .nav-window .links-list li a.link-user-admin:before {
    background-image: url("../images/png/icon-user-admin.png");
}

.no-svg .nav-window .links-list li a.link-r2c-admin:before {
    background-image: url("../images/png/icon-r2c-admin.png");
}

.no-svg .nav-window .links-list li a.link-doc-library-repo-admin:before {
    background-image: url("../images/png/icon-doc-library-repo-admin.png");
}

.no-svg .nav-window.impersonate-window .search-results .user-list li .company .icon,
.no-svg .nav-window.impersonate-window .selected-company span {
    background-image: url("../images/png/user-company-icon.png");
}

.no-svg .nav-window.impersonate-window .search-results .user-list li .with-sub:after {
    background-image: url("../images/png/arrow-right2.png");
}

.no-svg .nav-window.impersonate-window .search-results .user-list li .user .icon {
    background-image: url("../images/png/user-individual-icon.png");
}

.no-svg .nav-window.user-window .profile-tab #password-notification {
    background-image: url("../images/png/email-icon.png");
}

.no-svg .nav-window.user-window .profile-tab header .button-container button{
    width: 21px;
    height: 21px;
    background-position: 50%;
}

.no-svg .nav-window.user-window .profile-tab header .button-container button.user-edit-button{
    background-image: url("../images/png/icon-edit.png");
}

.no-svg .nav-window.user-window .profile-tab header .button-container button.user-edit-button:hover{
    background-image: url("../images/png/icon-edit-blue.png");
}

.no-svg .nav-window.user-window .profile-tab header .button-container button.logout-button{
    background-image: url("../images/png/icon-logout.png");
}

.no-svg .nav-window.user-window .profile-tab header .button-container button.logout-button:hover{
    background-image: url("../images/png/icon-logout-blue.png");
}

.no-svg .nav-window.tour-window .information-tab .volume{
    background-position: 50%;
}

.no-svg .nav-window.tour-window .information-tab .info-color .line.healthy .volume{
    background-image: url("../images/png/volume-healthy.png");
}

.no-svg .nav-window.tour-window .information-tab .info-color .line.weak .volume{
    background-image: url("../images/png/volume-weak.png");
}

.no-svg .nav-window.tour-window .information-tab .info-color .line.poor .volume{
    background-image: url("../images/png/volume-poor.png");
}

.no-svg .nav-window.tour-window .information-tab .info-color .line.exception .volume{
    background-image: url("../images/png/volume-exception.png");
}

.no-svg .nav-window.tour-window .information-tab .volume.smallest{
    background-image: url("../images/png/volume-smallest.png");
}

.no-svg .nav-window.tour-window .information-tab .volume.largest{
    background-image: url("../images/png/volume-largest.png");
}

.no-svg .nav-window.tour-window .information-tab .volume.vol-0{
    background-image: url("../images/png/volume-0.png");
}

.no-svg .nav-window.tour-window .information-tab .volume.vol-25{
    background-image: url("../images/png/volume-25.png");
}

.no-svg .nav-window.tour-window .information-tab .volume.vol-50{
    background-image: url("../images/png/volume-50.png");
}

.no-svg .nav-window.tour-window .information-tab .volume.vol-75{
    background-image: url("../images/png/volume-75.png");
}

.no-svg .nav-window.tour-window .information-tab .volume.vol-100{
    background-image: url("../images/png/volume-100.png");
}




.no-svg #tour-container .tour-step .window footer .button-container .prev {
    background-image: url("../images/png/arrow-left-black.png");
    background-size: 100%;
}

.no-svg #tour-container .tour-step:first-child .window footer .button-container .prev {
    background-image: url("../images/png/arrow-left.png");
}

.no-svg #tour-container .tour-step .window footer .button-container .next {
    background-image: url("../images/png/arrow-right-black.png");
}

.no-svg #tour-container .tour-step .window .close-button,
.no-svg .nav-window.tour-window .leaving-tour .close-button {
    background-image: url("../images/png/close-icon-black.png");
}

.no-svg .user-window.nav-window .profile-tab header h3{
    background-position: 0 2px;
    padding: 0 0 0 15px!important;
}

.no-svg .nav-window.tour-window .toggle-container .toggle-button .circle {
    background-image: url("../images/png/toggle-x.png");
}

.no-svg .nav-window.tour-window .toggle-container.open .toggle-button .circle {
    background-image: url("../images/png/tour-tick.png");
}

.no-svg .nav-window.tour-window .video-links ul li a:before{
    background-image: url("../images/png/play-icon.png");
}

.no-boxshadow .nav-window {
    border: 1px solid #ababab;
}

.no-borderradius .nav-window.tour-window .information-tab .info-chart.circle .left {
    width: 170px;
    height: 42px;
    background-image: url("../images/png/info-chart-circle.png");
}

.no-borderradius .nav-window.tour-window .information-tab .info-chart.circle .left *{
    display: none;
}