/*  -----------------
    Table of Contents
    -----------------

    1) Global
    2) Image preload and dummy container
    3) Global Classes
    4) Header Base
    5) Nav Window
        5.1) Ticketing Window
            5.1.1) Ticketing Window -> Ticket List
            5.1.2) Ticketing Window -> Ticket Content
            5.1.3) Ticketing Window -> New Ticket
            5.1.4) Ticketing Window -> Search Form
        5.2) Recovery Window
        5.3) Launchboard Window
        5.4) Sungard Window
        5.5) Events Window
            5.5.1) Events Window -> Events List
            5.5.2) Events Window -> Search Form
        5.6) User Window
            5.6.1) User Window -> Profile Tab
            5.6.2) User Window -> Contacts Tab
        5.7) Tour Window
            5.7.1) Tour Window -> Information Tab
            5.7.2) Tour Window -> Tutorials Tab
            5.7.3) Tour Window -> Tour Container
            5.7.4) Tour Window -> Tour Steps (Tour windows are configured here)
    6) Footer

    ---------------------------------------------------
*/

/* 1) Global */
/* ********* */

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-repeat: no-repeat !important;
    font-family: 'Avenir Next', helvetica, arial, sans-serif;
}

*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/* Clearfix */
header .container:before,
header .container:after,
header .form-group:before,
header .form-group:after,
.form-group label:before,
.form-group label:after,
.form-buttons.double-buttons:before,
.form-buttons.double-buttons:after,
.nav-window header:before,
.nav-window header:after,
.nav-window.sungard-window .user-list li > div:before,
.nav-window.sungard-window .user-list li > div:after,
#tour-container .tour-step .window footer:before,
#tour-container .tour-step .window footer:after {
    content: " ";
    display: table;
    clear: both;
}

html {
    font-family: 'Avenir Next', helvetica, arial, sans-serif;
}

body {
    font-family: 'Avenir Next', helvetica, arial, sans-serif;
    -webkit-text-size-adjust: 100%;
    text-rendering: optimizeLegibility;
    position: relative;
    line-height: normal;
    /* height: 100%; */
}

.h4, .h5, .h6, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0;
}

p, ol, ul {
    margin: 0;
}

a:focus, a:hover {
    color: inherit;
    text-decoration: none;
}

.active {
    z-index: 1;
}

label {
    display: initial;
    max-width: initial;
    margin-bottom: 0;
    font-weight: 400;
}

.hidden-svg {
    display: none;
}

.no-transition,
.no-transition * {
    transition: none !important;
}

select:-moz-focusring {
    color: transparent;
    text-shadow: 0 0 0 #000;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type=number] {
    -moz-appearance: textfield;
}

::-webkit-input-placeholder {
    color: #CCCCCC;
}

:-moz-placeholder {
    color: #CCCCCC;
}

::-moz-placeholder {
    color: #CCCCCC;
}

:-ms-input-placeholder {
    color: #CCCCCC !important;
}

@-ms-viewport {
    width: auto !important;
}

.overflow-hidden {
    overflow: hidden;
}

/* 2) Image preload and dummy container */
/* ************************************ */

.dummy-container {
    position: fixed !important;
    top: -99999px !important;
    right: -99999px !important;
    display: block !important;
    min-height: 1px;
    background: url("../images/svg/logo.svg"), url("../images/svg/arrow-down.svg"), url("../images/svg/arrow-down-blue.svg"), url("../images/svg/check-mark.svg"), url("../images/svg/arrow-right.svg"), url("../images/svg/comment-bubble.svg"), url("../images/svg/report-problem-small.svg"), url("../images/svg/dropdown-arrows.svg"), url("../images/svg/search-icon-black.svg"), url("../images/svg/calendar-icon.svg"), url("../images/svg/calendar-icon-blue.svg"), url("../images/svg/search-icon-white.svg"), url("../images/svg/calendar-arrow-left.svg"), url("../images/svg/calendar-arrow-right.svg"), url("../images/svg/calendar-dropdown-arrows.svg"), url("../images/svg/close-icon.svg"), url("../images/svg/logo-icon.svg"), url("../images/svg/icon-viewpoint.svg"), url("../images/svg/icon-recovery-service.svg"), url("../images/svg/icon-cloud.svg"), url("../images/svg/icon-ticketing.svg"), url("../images/svg/icon-spotlight.svg"), url("../images/svg/icon-launchboard.svg"), url("../images/svg/icon-recover-cloud.svg"), url("../images/svg/icon-test-planning.svg"), url("../images/svg/icon-doc-repo.svg"), url("../images/svg/icon-doc-library.svg"), url("../images/svg/icon-admin.svg"), url("../images/svg/icon-user-admin.svg"), url("../images/svg/icon-r2c-admin.svg"), url("../images/svg/icon-doc-library-repo-admin.svg"), url("../images/svg/user-company-icon.svg"), url("../images/svg/arrow-right2.svg"), url("../images/svg/user-individual-icon.svg"), url("../images/svg/toggle-x.svg"), url("../images/svg/tour-tick.svg"), url("../images/svg/play-icon.svg");
    z-index: -2;
}

.dummy-container * {
    position: relative !important;
}

/* 3) Global Classes */
/* ************** */

.form-button {
    padding: 5px 13px 8px 16px;
    font-size: 12px;
    font-weight: 500;
    border-radius: 3px;
    vertical-align: top;
}

.form-group {
    margin: 11px auto 0;
}

.form-group label {
    font-size: 13px;
    color: #9B9B9B;
    letter-spacing: -0.11px;
    display: block;
    float: left;
}

.input-box,
ul.tagit input {
    width: 100%;
    background-color: #F9F9F9;
    border: 1px solid #BFBFBF;
    border-radius: 3px;
    font-size: 13px;
    color: #4A4A4A;
    margin: 5px 0 0;
    padding: 7px 11px 8px;
    letter-spacing: -0.11px;
    outline: none;
    clear: left;
}

.input-box:hover,
.input-box:focus,
.input-box.focused {
    border: 1px solid #5291AE;
}

.input-box:focus,
.input-box.focused,
.input-box.focused .tagit-new input {
    background-color: #fff;
}

select.input-box {
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../images/svg/dropdown-arrows.svg");
    background-position: 96.7% 50%;
}

select.input-box option {
    color: #4A4A4A;
}

select.input-box option:disabled {
    color: #CCCCCC;
}

select::-ms-expand {
    display: none;
}

input[type="search"].input-box::-webkit-search-decoration {
    -webkit-appearance: none;
}

input[type="search"].input-box::-webkit-search-decoration,
input[type="search"].input-box::-webkit-search-cancel-button,
input[type="search"].input-box::-webkit-search-results-button,
input[type="search"].input-box::-webkit-search-results-decoration {
    display: none;
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    float: left;
    opacity: 0;
    width: 0;
    height: 0;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 0;
}

.form-group input[type="radio"] + label,
.form-group input[type="checkbox"] + label {
    clear: left;
    margin: 7px 0 0;
    position: relative;
    padding: 4px 0 0 31px !important;
    display: block;
    width: 100%;
    cursor: pointer;
    line-height: 18px;
    color: #4A4A4A;
    text-align: left;
}

.form-group input[type="radio"]:checked + label,
.form-group input[type="checkbox"]:checked + label {
    color: #319F5C;
}

.form-group input[type="radio"].low-pri:checked + label,
.form-group input[type="radio"].blue:checked + label {
    color: #5291AE;
}

.form-group input[type="radio"].medium-pri:checked + label {
    color: #DBA012;
}

.form-group input[type="radio"].high-pri:checked + label {
    color: #D96100;
}

.form-group input[type="radio"].crit-pri:checked + label {
    color: #B00014;
}

.form-group input[type="radio"] + label:hover:before,
.form-group input[type="radio"] + label:focus:before,
.form-group input[type="checkbox"] + label:hover:before,
.form-group input[type="checkbox"] + label:focus:before {
    border: 1px solid #319F5C;
}

.form-group input[type="radio"].low-pri + label:hover:before,
.form-group input[type="radio"].low-pri + label:focus:before,
.form-group input[type="radio"].blue + label:hover:before,
.form-group input[type="radio"].blue + label:focus:before {
    border: 1px solid #5291AE;
}

.form-group input[type="radio"].medium-pri + label:hover:before,
.form-group input[type="radio"].medium-pri + label:focus:before {
    border: 1px solid #DBA012;
}

.form-group input[type="radio"].high-pri + label:hover:before,
.form-group input[type="radio"].high-pri + label:focus:before {
    border: 1px solid #D96100;
}

.form-group input[type="radio"].crit-pri + label:hover:before,
.form-group input[type="radio"].crit-pri + label:focus:before {
    border: 1px solid #B00014;
}

.form-group input[type="radio"] + label:before,
.form-group input[type="checkbox"] + label:before {
    content: '';
    width: 24px;
    height: 24px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: #F9F9F9;
    border: 1px solid #D4D4D4;
    position: absolute;
    top: 0;
    left: 0;
}

.form-group input[type="radio"]:checked + label:before,
.form-group input[type="checkbox"]:checked + label:before {
    background-color: #fff;
    border: 1px solid #44B471;
}

.form-group input[type="radio"].low-pri:checked + label:before,
.form-group input[type="radio"].blue:checked + label:before {
    border: 1px solid #5291AE;
}

.form-group input[type="radio"].medium-pri:checked + label:before {
    border: 1px solid #DBA012;
}

.form-group input[type="radio"].high-pri:checked + label:before {
    border: 1px solid #D96100;
}

.form-group input[type="radio"].crit-pri:checked + label:before {
    border: 1px solid #B00014;
}

.form-group input[type="radio"]:checked + label:after {
    content: '';
    width: 12px;
    height: 12px;
    background-color: #44B471;
    border-radius: 6px;
    position: absolute;
    top: 6px;
    left: 6px;
}

.form-group input[type="checkbox"]:checked + label:after {
    content: '';
    width: 11px;
    height: 10px;
    background-image: url("../images/svg/tick.svg");
    position: absolute;
    top: 5px;
    left: 6px;
}

.form-group input[type="radio"].low-pri:checked + label:after,
.form-group input[type="radio"].blue:checked + label:after {
    background-color: #5291AE;
}

.form-group input[type="radio"].medium-pri:checked + label:after {
    background-color: #DBA012;
}

.form-group input[type="radio"].high-pri:checked + label:after {
    background-color: #D96100;
}

.form-group input[type="radio"].crit-pri:checked + label:after {
    background-color: #B00014;
}

.form-group textarea.input-box {
    height: 103px;
    resize: none;
}

.form-button.form-button-large {
    width: 157px;
    font-size: 13px;
    padding: 9px 0 10px;
    letter-spacing: 0.27px;
}

.grey-button {
    border: 1px solid #AAAAAA;
    color: #AAAAAA;
    background-color: #F9F9F9;
}

.grey-button:hover {
    background-color: #E7E7E7;
}

.blue-button {
    border: 1px solid #5291AE;
    background-color: #5291AE;
    color: #fff;
}

.blue-button:hover {
    border: 1px solid #2D5F76;
    background-color: #2D5F76;
}

.input-note {
    font-size: 11px;
    font-style: italic;
    color: #AAAAAA;
    display: block;
    margin: 4px 0 0 2px;
    letter-spacing: 0.1px;
}

.form-group .hasDatepicker {
    min-width: 0;
    margin: 3px 0 0 10px;
    background-image: url("../images/svg/calendar-icon.svg");
    background-position: 96% 42%;
}

.form-group .hasDatepicker.input-box-half {
    width: 48%;
    background-position: 93.5% 42%;
}

.form-group .hasDatepicker:hover,
.form-group .hasDatepicker:focus {
    background-image: url("../images/svg/calendar-icon-blue.svg");
}

.inputs-horizontal.square.form-group input[type="radio"] + label:before,
.inputs-horizontal.square.form-group input[type="checkbox"] + label:before {
    width: 23px;
    height: 22px;
    border-radius: 3px;
    margin-right: 10px;
}

.inputs-horizontal.square.form-group input[type="radio"]:checked + label:after {
    width: 13px;
    height: 12px;
    border-radius: 2px;
    top: 5px;
    left: 5px;
}

.ui-datepicker {
    border: 1px solid #5F9BB7;
    border-radius: 0 0 3px 3px;
    display: none;
    margin-top: -1px;
    z-index: 15 !important;
}

@media (min-width: 1024px) {
    .ui-datepicker.datepicker-to {
        left: auto !important;
    }
}

@media (max-width: 1023px) {
    .ui-datepicker:not(.widget-datepicker).datepicker-to {
        left: auto !important;
    }
}

.ui-datepicker .ui-datepicker-prev,
.ui-datepicker .ui-datepicker-next {
    padding: 5px;
}

.ui-datepicker .ui-datepicker-prev span,
.ui-datepicker .ui-datepicker-next span {
    width: 6px;
    height: 12px;
    display: block;
}

.ui-datepicker .ui-datepicker-prev span {
    background-image: url("../images/svg/calendar-arrow-left.svg");
}

.ui-datepicker .ui-datepicker-next span {
    background-image: url("../images/svg/calendar-arrow-right.svg");
}

.ui-datepicker .ui-datepicker-title select {
    margin: 0 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url("../images/svg/calendar-dropdown-arrows.svg");
    background-position: 100% 50%;
    padding: 0 10px 0 0;
    line-height: 16px;
}

ul.tagit li.tagit-choice {
    margin: 2px;
    padding: 5px 27px 6px 10px;
    background-color: #5291AE;
    color: #fff;
    font-size: 13px;
    font-weight: 500;
    border-radius: 2px;
    border: none;
    letter-spacing: 0.3px;
    word-break: break-word;
}

ul.tagit li.tagit-choice .tagit-close {
    width: 14px;
    height: 12px;
    top: 7px;
    right: 8px;
    margin-top: 0;
    line-height: normal;
    background-image: url("../images/svg/close-icon.svg");
}

ul.tagit li.tagit-new {
    padding: 7px 12px 8px;
    margin: 0;
    width: 100%;
}

ul.tagit li.tagit-new input::-ms-clear {
    display: none;
}

.nav-window input[type="search"].input-box {
    padding: 7px 35px 8px 11px;
    background-image: url("../images/svg/search-icon-black.svg");
    background-position: 96.7% 50%;
    -webkit-appearance: textfield;
}

/* 4) Header Base */
/* ************** */

header#main-header {
    height: 51px;
    position: relative;
    border: 1px solid #E7E7E7;
    z-index: 6;
    background: #fff;
}

header#main-header #logo {
    width: 146px;
    height: 100%;
    background-image: url("../images/svg/logo.svg");
    background-position: 19px 5px;
    display: block;
    float: left;
    border-right: 1px solid rgba(57, 57, 57, 0.1);
}

header#main-header.passive #logo {
    cursor: default;
}

header#main-header.passive .nav-dropdown-button {
    cursor: default;
}

header#main-header nav.pull-left {
    float: left;
    margin: 15px 0 0 18px;
}

header#main-header .mobile-toggle,
header#main-header nav.pull-left .mobile-links {
    display: none;
}

header#main-header nav.pull-left .button-container {
    float: left;
    margin: 0 34px 0 0;
    font-size: 13px;
    position: relative;
}

header#main-header nav.pull-left .nav-dropdown-button {
    font-size: 13px;
    font-weight: 500;
    color: #666666;
    padding: 0;
    position: relative;
    outline: none;
}

header#main-header:not(.passive) nav.pull-left .nav-dropdown-button:hover,
header#main-header:not(.passive) nav.pull-left .nav-dropdown-button:focus,
header#main-header:not(.passive) nav.pull-left .nav-dropdown-button.active {
    color: #5291AE;
}

header#main-header nav.pull-left .nav-dropdown-button:after {
    content: '';
    width: 9px;
    height: 4px;
    background: url("../images/svg/arrow-down.svg");
    position: absolute;
    top: 7px;
    right: -14px;
}

header#main-header:not(.passive) nav.pull-left .nav-dropdown-button:hover:after,
header#main-header:not(.passive) nav.pull-left .nav-dropdown-button:focus:after,
header#main-header:not(.passive) nav.pull-left .nav-dropdown-button.active:after {
    background: url("../images/svg/arrow-down-blue.svg");
}

header#main-header nav.pull-right {
    float: right;
    height: 100%;
}

header#main-header nav.pull-right .buttons-container {
    border-left: 1px solid rgba(57, 57, 57, 0.1);
    height: 100%;
    float: left;
    padding: 0 0 0 10px;
}

header#main-header nav.pull-right .buttons-container > .button-container,
header#main-header nav.pull-right > .button-container {
    float: left;
    height: 100%;
    position: relative;
}

header#main-header nav.pull-right .buttons-container > .button-container > button {
    display: block;
    padding: 8px;
    transition: opacity 0.15s;
    height: 100%;
}

header#main-header nav.pull-right .button-container > button::-moz-focus-inner {
    padding: 0;
    border: 0
}

header#main-header nav.pull-right .events-button {
    margin: 2px 10px 0 0;
}

header#main-header nav.pull-right .tickets-button {
    margin: 1px 10px 0 0;
}

header#main-header nav.pull-right .tour-button {
    margin: 1px 10px 0 0;
}

header#main-header nav.pull-right .user-button {
    margin: 1px 10px 0 0;
}

header#main-header nav.pull-right .events-button svg,
header#main-header nav.pull-right .tickets-button svg {
    stroke: #999;
}

header#main-header:not(.passive) nav.pull-right .events-button:hover svg,
header#main-header:not(.passive) nav.pull-right .tickets-button:hover svg,
header#main-header:not(.passive) nav.pull-right .events-button:focus svg,
header#main-header:not(.passive) nav.pull-right .tickets-button:focus svg,
header#main-header nav.pull-right .events-button.active svg,
header#main-header nav.pull-right .tickets-button.active svg {
    stroke: #5291AE;
}

header#main-header nav.pull-right .tour-button svg,
header#main-header nav.pull-right .user-button svg {
    fill: #999;
}

header#main-header nav.pull-right .tour-button:hover svg,
header#main-header:not(.passive) nav.pull-right .user-button:hover svg,
header#main-header nav.pull-right .tour-button:focus svg,
header#main-header:not(.passive) nav.pull-right .user-button:focus svg,
header#main-header nav.pull-right .tour-button.active svg,
header#main-header nav.pull-right .user-button.active svg {
    fill: #5291AE;
}

header#main-header nav.pull-right .tour-button {
    cursor: pointer !important;
}

/* 5) Nav Window */
/* ********** */

.nav-window {
    width: 350px;
    position: absolute;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.30);
    border-radius: 0 0 3px 3px;
    display: none;
}

.nav-window.narrow {
    width: 250px;
}

nav.pull-left .nav-window {
    top: 23px;
}

nav.pull-right .nav-window {
    top: 45px;
}

.nav-window.launchboard-window {
    left: -36px;
}

.nav-window > header {
    background: #666666;
    color: #fff;
    border-radius: 3px 3px 0 0;
    padding: 0 4px;
}

.nav-window.narrow > header {
    min-height: 6px;
    padding: 0 4px;
}

.nav-window.launchboard-window > header {
    height: 41px;
}

.nav-window > header:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9px 13px 9px;
    border-color: transparent transparent #666666 transparent;
    position: absolute;
    top: -9px;
}

.nav-window > header button.wide-header-button {
    font-size: 13px;
    font-weight: 500;
    color: #CCCCCC;
    height: auto;
    letter-spacing: 0.3px;
    border: 1px solid #666666;
    border-radius: 3px;
    padding: 7px 0 6px;
    margin: 4px 0;
}

.nav-window.narrow > header button.wide-header-button {
    width: 118px;
}

.nav-window > header button.wide-header-button.active {
    color: #fff;
    border: 1px solid #AAAAAA;
}

.nav-window header h3 {
    height: 41px;
    float: left;
    font-size: 13px;
    font-weight: 500;
    padding: 13px 0 0 15px;
    margin: 0;
    color: #fff;
    letter-spacing: 0.3px;
    cursor: default;
}

.nav-window header h3.back:hover {
    color: #84D8FF;
}

.nav-window header h3.back {
    padding: 13px 0 10px 16px;
    cursor: pointer;
    position: relative;
}

.nav-window header h3.back span{
    margin-left: 14px;
}

.nav-window header h3 svg {
    display: none;
    /* margin: 0 4px 0 0; */
    stroke: #CCC;
    position: absolute;
    top: 14px;
}

.nav-window header h3.back svg {
    display: block;
}

.nav-window header h3.back:hover svg {
    stroke: #84D8FF;
}

.nav-window > header .button-container {
    float: right;
    padding: 4px 0 0;
}

.nav-window > header .button-container button {
    height: 33px;
    vertical-align: top;
    position: relative;
    display: block;
    float: left;
    overflow: visible;
    z-index: 2;
}

.nav-window > header .button-container button.active {
    background-color: #5291AE;
    border-radius: 2px;
}

.button-container .button-tooltip {
    display: none;
    background-color: #4A4A4A;
    box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.20);
    font-size: 11px;
    font-weight: bold;
    letter-spacing: -0.09px;
    color: #FFFFFF;
    border-radius: 3px;
    position: absolute;
    width: auto;
    top: -31px;
    padding: 7px 13px 9px;
    white-space: nowrap;
    pointer-events: none;
}

.pull-right .buttons-container > .button-container > button .button-tooltip {
    top: auto;
    bottom: -25px;
    z-index: 7;
}

.pull-right .buttons-container > .button-container > button.active .button-tooltip {
    display: none !important;
}

.button-container button:hover .button-tooltip {
    display: block !important;
}

.button-container button:hover .button-tooltip:after {
    display: block;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 9px 6px 0 6px;
    border-color: #4a4a4a transparent transparent transparent;
    position: absolute;
    bottom: -8px;
    left: 50%;
    margin-left: -6px;
}

.pull-right .buttons-container > .button-container > button .button-tooltip:after {
    border-width: 0 6px 9px 6px;
    border-color: transparent transparent #4a4a4a transparent;
    bottom: auto;
    top: -7px;
}

.nav-window > header .button-container .search-button:hover span:after {
    margin-left: -9px;
}

.nav-window > header .button-container .refresh-button:hover span:after {
    margin-left: -5px;
}

.nav-window header .button-container button svg {
    vertical-align: top;
    pointer-events: none;
}

.nav-window header .refresh-button svg,
.nav-window header .search-button svg,
.nav-window header .new-ticket-button svg {
    stroke: #CCC;
}

.nav-window header .refresh-button:hover svg,
.nav-window header .search-button:hover svg,
.nav-window header .new-ticket-button:hover svg {
    stroke: #84D8FF;
}

.nav-window header .button-container button.active svg {
    stroke: #fff;
}

.nav-window header .refresh-button {
    margin: 0 7px 0 0;
    padding: 0 6px 0 7px;
}

.nav-window header .refresh-button.rotate-once svg {
    -webkit-animation: rotate360 0.3s ease-in-out;
    animation: rotate360 0.3s ease-in-out;
}

.nav-window header .refresh-button svg {
    margin: -1px 0 0;
}

.nav-window header .search-button {
    margin: 0 6px 0 0;
    padding: 0 6px 0 7px;
}

.nav-window header .search-button svg {
    margin: -1px 0 0;
}

.nav-window header .new-ticket-button {
    margin: 0 4px 0 0;
    padding: 0 6px 0 7px;
}

.nav-window .nav-window-content {
    position: relative;
    background-color: #fff;
    border-radius: 0 0 3px 3px;
}

.nav-window .nav-window-content .sliding-tab {
    background-color: #fff;
    position: absolute;
    float: left;
    top: 0;
    left: 0;
    display: none;
    border-radius: 0 0 3px 3px;
}

.nav-window:not(.narrow) .nav-window-content > div {
    width: 350px;
}

.nav-window .nav-window-content > div.shown {
    display: block;
    z-index: 3;
    transition: all 0.5s;
    left: 0;
}

.nav-window .nav-window-content > div.relative {
    position: relative;
}

.nav-window .links-list {
    padding: 7px 9px 7px;
    width: 250px;
    border-radius: 0 0 3px 3px;
}

.nav-window .links-list:not(.has-icons) {
    padding: 5px 9px 3px;
}

.nav-window .links-list li {
    margin: 0 0 3px;
}

.nav-window .links-list li a {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #666666;
    border: 1px solid #fff;
    display: block;
    padding: 7px 0 8px 35px;
    position: relative;
    border-radius: 2px;
}

.nav-window .links-list:not(.has-icons) li a {
    padding: 6px 0 9px 6px;
}

.nav-window .links-list li a:hover,
.nav-window .links-list li a:focus {
    color: #63A2BC;
    background-color: #F2FBFF;
    border: 1px solid #F2FBFF;
}

.nav-window .links-list li a.active {
    color: #63A2BC;
    background-color: #F2FBFF;
    border: 1px solid #5291AE;
}

.nav-window .links-list li a:before {
    content: '';
    position: absolute;
}

.nav-window .links-list li a.with-sub:after {
    content: '';
    width: 6px;
    height: 8px;
    position: relative;
    background-image: url("../images/svg/arrow-right2.svg");
    right: -7px;
    display: inline-block;
}

/* 5.1) Ticketing Window */
/* ********************* */

.nav-window.ticketing-window {
    left: -225px;
}

.nav-window.ticketing-window header:before {
    left: 233px;
}

.nav-window.ticketing-window header .button-container .refresh-button {
    display: none;
}

/* 5.1.1) Ticketing Window -> Ticket List */
/* ************************************** */

.nav-window.ticketing-window .ticket-list {
    padding: 7px 6px 0;
    max-height: 500px;
    overflow: auto;
    position: relative;
}

.nav-window.ticketing-window .ticket-list .ticket {
    margin: 0 0 8px;
}

.nav-window.ticketing-window .ticket-list .ticket.new {
    display: none;
    opacity: 0;
}

.nav-window.ticketing-window .ticket-list .ticket.transition {
    transition: opacity 1s;
}

.nav-window.ticketing-window .ticket-list .ticket.transition a {
    transition: border 1s, background 1s;
}

.nav-window.ticketing-window .ticket-list .ticket a {
    margin: 0;
    padding: 6px 6px 8px 28px;
    border: 1px solid #fff;
    font-size: 12px;
    color: #4A4A4A;
    position: relative;
    display: block;
}

.nav-window.ticketing-window .ticket-list .ticket a:hover,
.nav-window.ticketing-window .ticket-list .ticket.new a {
    background: #F2FBFF;
    border: 1px solid #5291AE;
    border-radius: 3px;
    padding: 6px 6px 8px 28px;
}

.nav-window.ticketing-window .ticket-list .ticket.new a {
    background: #EDF8F3;
    border: 1px solid #169E66;
}

.nav-window.ticketing-window .ticket-list .ticket a:before,
.nav-window.ticketing-window .ticket-list .ticket a:after {
    content: '';
    position: absolute;
}

.nav-window.ticketing-window .ticket-list .ticket a:before {
    top: 8px;
    left: 8px;
}

.nav-window.ticketing-window .high-pri a:before,
.nav-window.ticketing-window .medium-pri a:before,
.nav-window.ticketing-window .low-pri a:before,
.nav-window.ticketing-window .high-pri a:after,
.nav-window.ticketing-window .medium-pri a:after,
.nav-window.ticketing-window .low-pri a:after {
    content: '';
    position: absolute;
    border-radius: 50%;
    width: 10px;
    height: 10px;
}

.nav-window.ticketing-window .high-pri a:before,
.nav-window.ticketing-window .medium-pri a:before,
.nav-window.ticketing-window .low-pri a:before {
    width: 10px;
    height: 10px;
}

.nav-window.ticketing-window .high-pri a:after,
.nav-window.ticketing-window .medium-pri a:after,
.nav-window.ticketing-window .low-pri a:after {
    width: 4px;
    height: 4px;
    background-color: #fff;
}

.nav-window.ticketing-window .ticket-list .ticket a:after {
    top: 11px;
    left: 11px;
}

.nav-window.ticketing-window .low-pri a:before,
.nav-window.ticketing-window .ticket-info .low-pri:before {
    background-color: #5291AE;
}

.nav-window.ticketing-window .medium-pri a:before,
.nav-window.ticketing-window .ticket-info .medium-pri:before {
    background-color: #D96100;
}

.nav-window.ticketing-window .high-pri a:before,
.nav-window.ticketing-window .ticket-info .high-pri:before {
    background-color: #A90D0E;
}

.nav-window.ticketing-window .crit-pri a:before,
.nav-window.ticketing-window .ticket-info .crit-pri:before {
    background-color: #B00014;
}

.nav-window.ticketing-window .ticket-list .ticket.resolved a:before {
    width: 12px;
    height: 11px;
    background-image: url("../images/svg/check-mark.svg");
    top: 7px;
    left: 9px;
}

.nav-window.ticketing-window .ticket-list .ticket.resolved a:hover {
    background: #F9F9F9;
    border: 1px solid #DDDDDD;
}

.nav-window.ticketing-window .ticket-list .ticket.resolved a:after {
    display: none;
}

.nav-window.ticketing-window .ticket-list .ticket a h6 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    padding: 0 15px 0 0;
    display: inline-block;
    max-width: 275px;
    position: relative;
}

.nav-window.ticketing-window .ticket-list .ticket.transition a h6 {
    transition: color 1s;
}

.nav-window.ticketing-window .ticket-list .ticket a:hover h6 {
    color: #5291AE;
}

.nav-window.ticketing-window .ticket-list .ticket.new a h6 {
    color: #169E66;
}

.nav-window.ticketing-window .ticket-list .ticket a:hover h6:after {
    content: '';
    width: 4px;
    height: 8px;
    position: absolute;
    top: 4px;
    right: 8px;
    background-image: url("../images/svg/arrow-right.svg");
}

.nav-window.ticketing-window .ticket-list .ticket.new a:hover h6:after {
    display: none;
}

.nav-window.ticketing-window .ticket-list .ticket.resolved a h6 {
    letter-spacing: -0.1px;
    color: #AAAAAA;
    white-space: normal;
    line-height: 17px;
    padding: 0;
}

.nav-window.ticketing-window .ticket-list .ticket.resolved a:hover h6 {
    color: #5291AE;
}

.nav-window.ticketing-window .ticket-list .ticket.resolved a:hover h6:after {
    position: static;
    display: inline-block;
    margin: 0 0 0 5px;
}

.nav-window.ticketing-window .ticket-list .ticket a p {
    line-height: 17px;
    margin: 1px 0 0;
    letter-spacing: -0.1px;
}

.nav-window.ticketing-window .ticket-list .ticket a > span {
    font-weight: 500;
    color: #9B9B9B;
    display: block;
    margin: 4px 0 0;
}

.nav-window.ticketing-window .ticket-list .ticket.resolved a span {
    margin: 1px 0 0;
}

.nav-window .refresh-box {
    height: 44px;
    text-align: center;
    background-color: #F2FBFF;
    border-bottom: 1px solid #5291AE;
    display: none;
}

.nav-window .refresh-box span {
    display: inline-block;
    vertical-align: top;
    margin-top: 12px;
}

.nav-window .refresh-box span:first-child {
    margin-left: -6px;
    margin-right: 5px;
    -webkit-animation: rotate360 1s infinite linear;
    animation: rotate360 1s infinite linear;
    -webkit-transform-origin: 50% 44%;
    transform-origin: 50% 44%;
}

@-webkit-keyframes rotate360 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate360 {
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.nav-window .refresh-box span:first-child svg {
    stroke: #5291AE;
}

.nav-window .refresh-box span:last-child {
    display: inline-block;
    vertical-align: middle;
    font-size: 13px;
    font-weight: 500;
    color: #5291AE;
    letter-spacing: -0.15px;
    margin-top: 13px;
}

/* 5.1.2) Ticketing Window -> Ticket Content */
/* ***************************************** */

.nav-window.ticketing-window .ticket-content {
    color: #7C7C7C;
}

.nav-window.ticketing-window .ticket-info {
    padding: 16px 19px 17px;
}

.nav-window.ticketing-window .ticket-info h6 {
    font-size: 13px;
    font-weight: 500;
    color: #4A4A4A;
    letter-spacing: -0.11px;
    white-space: pre;
    margin: 0;
}

.nav-window.ticketing-window .ticket-info ul {
    margin: 14px 0 0;
}

.nav-window.ticketing-window .ticket-info ul li {
    line-height: 19px;
    margin-bottom: -5px;
}

.nav-window.ticketing-window .ticket-info ul li span {
    font-size: 12px;
    height: 20px;
    display: inline-block;
    vertical-align: super;
}

.nav-window.ticketing-window .ticket-info ul li span:first-child {
    font-weight: 500;
    color: #AAAAAA;
    width: 93px;
}

.nav-window.ticketing-window .ticket-info ul li span.pri {
    font-weight: 500;
    position: relative;
    padding: 0 0 0 14px;
    top: 1px;
    letter-spacing: 0.3px;
}

.nav-window.ticketing-window .ticket-info ul li span.pri:before {
    content: '';
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: 0;
}

.nav-window.ticketing-window .ticket-info ul li span.pri:after {
    content: '';
    width: 4px;
    height: 4px;
    border-radius: 2px;
    background-color: #fff;
    position: absolute;
    top: 7px;
    left: 3px;
}

.nav-window.ticketing-window .ticket-info ul li span.pri.low-pri {
    color: #5291AE;
}

.nav-window.ticketing-window .ticket-info ul li span.pri.medium-pri {
    color: #D96100;
}

.nav-window.ticketing-window .ticket-info ul li span.pri.medium-pri:after {
    color: #D96100;
}

.nav-window.ticketing-window .ticket-info ul li span.pri.high-pri {
    color: #A90D0E;
}

.nav-window.ticketing-window .ticket-info ul li span.pri.crit-pri {
    color: #B00014;
}

.nav-window.ticketing-window .ticket-tabs {
    position: relative;
    overflow: auto;
}

.nav-window.ticketing-window .ticket-tabs .tab-button {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.3px;
    color: #AAAAAA;
    background: #F9F9F9;
    width: 50%;
    border-top: 1px solid #DDDDDD;
    border-bottom: 1px solid #DDDDDD;
    float: left;
    padding: 13px 0 17px;
    position: relative;
}

.nav-window.ticketing-window .ticket-tabs .tab-button:hover {
    background-color: #F1F1F1;
    color: #666666;
}

.nav-window.ticketing-window .ticket-tabs .tab-button.active {
    color: #5291AE;
    background: #fff;
    border-top: 3px solid #5291AE;
    border-bottom: none;
    padding: 11px 0 18px;
}

.nav-window.ticketing-window .ticket-tabs .tab-button.tab-comments-button.active:after,
.nav-window.ticketing-window .ticket-tabs .tab-button.tab-ticket-details-button.active:before {
    content: '';
    width: 1px;
    height: 100%;
    background: #DDDDDD;
    position: absolute;
    top: 0;
}

.nav-window.ticketing-window .ticket-tabs .tab-button.tab-comments-button.active:after {
    right: 0;
}

.nav-window.ticketing-window .ticket-tabs .tab-button.tab-ticket-details-button.active:before {
    left: 0;
}

.nav-window.ticketing-window .ticket-tabs .tab {
    display: none;
    clear: both;
    overflow: auto;
    min-height: 50px;
    height: 375px;
}

.nav-window.ticketing-window .ticket-tabs .tab.shown {
    display: block !important;
}

.nav-window.ticketing-window .ticket-tabs .tab-comments {
    padding: 6px 6px 0 6px;
}

.nav-window.ticketing-window .ticket-tabs .tab-comments ul {
    color: #7C7C7C;
    font-size: 12px;
    padding: 0 0 0 0;
}

.nav-window.ticketing-window .ticket-tabs .tab-comments ul li {
    margin: 0 0 6px;
    border: 1px solid #fff;
    padding: 8px 12px 8px 11px;
}

.nav-window.ticketing-window .ticket-tabs .tab-comments ul li.new {
    display: none;
    opacity: 0;
}

.nav-window.ticketing-window .ticket-tabs .tab-comments ul li.transition {
    transition: border 1s, background 1s, opacity 1s;
}

.nav-window.ticketing-window .ticket-tabs .tab-comments ul li.new {
    border: 1px solid #169E66;
    border-radius: 3px;
    background: #EDF8F3;
    padding: 8px 12px 8px 11px;
}

.nav-window.ticketing-window .ticket-tabs .tab-comments ul li p:first-child {
    overflow: auto;
    margin: 0;
    width: 100%;
}

.nav-window.ticketing-window .ticket-tabs .tab-comments ul li.new p:first-child span {
    color: #169E66 !important;
}

.nav-window.ticketing-window .ticket-tabs .tab-comments ul li.transition p:first-child span {
    transition: color 1s;
}

.nav-window.ticketing-window .ticket-tabs .tab-comments ul li p {
    font-size: 12px;
}

.nav-window.ticketing-window .ticket-tabs .tab-comments ul li p:first-child span {
    font-weight: 500;
}

.nav-window.ticketing-window .ticket-tabs .tab-comments ul li p:first-child span:first-child {
    color: #666666;
    letter-spacing: -0.1px;
    float: left;
    max-width: 180px;
    word-wrap: break-word;
}

.nav-window.ticketing-window .ticket-tabs .tab-comments ul li p:first-child span:last-child {
    float: right;
    padding: 1px 0 0;
}

.nav-window.ticketing-window .ticket-tabs .tab-comments ul li p:last-child {
    line-height: 17px;
    letter-spacing: -0.11px;
    margin: 5px 0 0;
}

.nav-window.ticketing-window .ticket-tabs .tab-ticket-details ul {
    padding: 11px 21px 10px 19px;
    margin: 0;
}

.nav-window.ticketing-window .ticket-tabs .tab-ticket-details ul li {
    border-top: 1px solid #DDDDDD;
    margin: 0 0 4px;
    padding: 6px 0 0;
    overflow: auto;
}

.nav-window.ticketing-window .ticket-tabs .tab-ticket-details ul li:first-child {
    border-top: none;
}

.nav-window.ticketing-window .ticket-tabs .tab-ticket-details ul li span {
    font-size: 12px;
    line-height: 15px;
    word-break: break-word;
    display: inline-block;
    vertical-align: top;
}

.nav-window.ticketing-window .ticket-tabs .tab-ticket-details ul li span:first-child {
    font-weight: 500;
    color: #AAAAAA;
    width: 97px;
    float: left;
}

.nav-window.ticketing-window .ticket-tabs .tab-ticket-details ul li span:last-child {
    color: #7C7C7C;
    width: 190px;
    padding: 1px 0 0 0;
}

.nav-window.ticketing-window .comment-input-container {
    border-top: 1px solid #DDDDDD;
    background: #F9F9F9;
    padding: 17px 16px 12px 15px;
    position: absolute;
    z-index: 2;
    bottom: 0;
    width: 100%;
}

.nav-window.ticketing-window .comment-input-container.open {
    margin: 0 0 0;
    padding: 17px 18px 14px 19px;
}

.nav-window.ticketing-window .comment-input-container textarea {
    width: 100%;
    height: 35px;
    font-size: 13px;
    line-height: 24px;
    letter-spacing: -0.11px;
    border: 1px solid #BFBFBF;
    border-radius: 3px;
    background-image: url("../images/svg/comment-bubble.svg");
    background-position: 96.5% 49%;
    resize: none;
    padding: 4px 40px 3px 10px;
    overflow: hidden;
    transition: all 0.3s;
}

.nav-window.ticketing-window .comment-input-container textarea:hover,
.nav-window.ticketing-window .comment-input-container textarea:focus {
    border: 1px solid #5291AE;
}

.nav-window.ticketing-window .comment-input-container.open textarea {
    height: 123px;
    background-image: none;
    padding: 4px 10px;
    overflow: auto;
}

.nav-window.ticketing-window .comment-input-container .form-button {
    display: none;
    margin: 12px 0 0;
}

.nav-window.ticketing-window .comment-input-container.open .form-button {
    display: block;
}

/* 5.1.3) Ticketing Window -> New Ticket */
/* ************************************* */

.nav-window.ticketing-window .new-ticket-type-selection {
    text-align: center;
    padding: 14px 0 13px;
}

.nav-window.ticketing-window .new-ticket-type-selection button {
    width: 45%;
    display: inline-block;
    margin: 0 1px 5px;
    background-color: #F9F9F9;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    padding: 17px 0;
    vertical-align: top;
}

.nav-window.ticketing-window .new-ticket-type-selection button:hover {
    background-color: #F2FBFF;
    border: 1px solid #5291AE;
}

.nav-window.ticketing-window .new-ticket-type-selection button svg {
    stroke: #5291AE;
    display: block;
    margin: 0 auto;
    height: 37px;
}

.nav-window.ticketing-window .new-ticket-type-selection button span {
    font-size: 13px;
    font-weight: 500;
    color: #5291AE;
    display: block;
    margin: 11px 0 0;
    letter-spacing: 0.27px;
}

.nav-window.ticketing-window .new-ticket-form form {
    overflow: auto;
}

.nav-window.ticketing-window .new-ticket-form .ticket-type {
    height: 18px;
    font-size: 13px;
    font-weight: 500;
    color: #4A4A4A;
    padding: 1px 0 0 28px;
    background-image: url("../images/svg/report-problem-small.svg");
    background-position: 1px 0;
    letter-spacing: -0.11px;
    margin: 0 0 15px;
}

.nav-window.ticketing-window .new-ticket-form.report-problem-form .ticket-type {
    background-image: url("../images/svg/report-problem-small.svg");
}

.nav-window.ticketing-window .new-ticket-form.request-change-form .ticket-type {
    background-image: url("../images/svg/request-change-small.svg");
    background-position: 1px 1px;
}

.nav-window.ticketing-window .new-ticket-form.get-assistance-form .ticket-type {
    background-image: url("../images/svg/get-assistance-small.svg");
    background-position: 1px 1px;
}

.nav-window.ticketing-window .new-ticket-form.schedule-visit-form .ticket-type {
    background-image: url("../images/svg/schedule-visit-small.svg");
}

.nav-window.ticketing-window .new-ticket-form input[type="search"].input-box {
    padding: 8px 35px 10px 11px;
    background-image: url("../images/svg/search-icon-black.svg");
    background-position: 96.7% 50%;
    -webkit-appearance: textfield;
}

.nav-window.ticketing-window .form-group.inputs-horizontal {
    margin: 12px auto 13px !important;
}

.nav-window.ticketing-window .inputs-horizontal > div,
.nav-window.widget-window .inputs-horizontal > div {
    text-align: justify;
    display: table;
    width: 100%;
}

.nav-window.ticketing-window .inputs-horizontal > div div,
.nav-window.widget-window .inputs-horizontal > div div {
    min-width: 18%;
    display: table-cell;
    text-align: center;
}

.nav-window.ticketing-window .inputs-horizontal label + div,
.nav-window.widget-window .inputs-horizontal label + div {
    clear: left;
}

.nav-window.ticketing-window .new-ticket-form .form {
    padding: 15px 11px 0 13px;
    height: 435px;
    overflow: auto;
}

.nav-window.ticketing-window .new-ticket-form .form .form-group:last-child {
    margin: 11px auto 13px;
}

.nav-window.ticketing-window .new-ticket-form .form-buttons {
    width: 100%;
    border-top: 1px solid #DDDDDD;
    background-color: #F9F9F9;
    text-align: center;
    padding: 12px 0 10px;
}

.nav-window.ticketing-window .new-ticket-form .form-buttons .form-button {
    display: inline-block;
    margin: 0 1px;
}

/* 5.1.4) Ticketing Window -> Search Form */
/* ************************************** */

.nav-window.ticketing-window .search-form .form {
    padding: 4px 15px 0;
    max-height: 579px;
    overflow: auto;
}

.nav-window.ticketing-window .search-form .form-group {
    margin: 10px auto 0;
    /* overflow: auto; */
}

.nav-window.ticketing-window .search-form .form-group:first-child {
    margin: 8px auto 0;
}

.nav-window.ticketing-window .search-form .input-box {
    margin: 5px 0 0;
}

.nav-window.ticketing-window .clear-search {
    font-size: 10px;
    font-weight: 500;
    color: #5291AE;
    float: right;
    display: none;
    margin: 3px 0 0;
}

.nav-window.ticketing-window .clear-search:hover {
    color: #2D5F76;
    cursor: pointer;
}

.nav-window.ticketing-window .clear-search svg {
    stroke: #5291AE;
}

.nav-window.ticketing-window .clear-search:hover svg {
    stroke: #2D5F76;
}

.nav-window.ticketing-window .search-form .input-box.hasDatepicker {
    margin: 5px 0 0;
}

.nav-window .input-box-half {
    float: left;
}

.nav-window .input-box-half.last {
    float: right;
    clear: none;
}

.nav-window.ticketing-window .search-form .advanced-search {
    height: 20px;
    text-align: center;
    margin: 15px 0 0;
    cursor: pointer;
    position: relative;
}

.nav-window.ticketing-window .search-form .advanced-search:hover {
    color: #2D5F76;
}

.nav-window.ticketing-window .search-form .advanced-search:before {
    content: '';
    background-color: #DDDDDD;
    width: 100%;
    height: 1px;
    position: absolute;
    left: 0;
    top: 6px;
}

.nav-window.ticketing-window .search-form .advanced-search > span {
    font-size: 10px;
    font-weight: 500;
    color: #AAAAAA;
    margin: -7px 0 0;
    background-color: #fff;
    position: relative;
    top: -3px;
    padding: 0 5px;
}

.nav-window.ticketing-window .search-form .advanced-search:hover > span {
    color: #2D5F76;
}

.nav-window.ticketing-window .search-form .advanced-search > span span:last-child {
    position: relative;
    top: -1px;
}

.nav-window.ticketing-window .search-form .advanced-search > span span:last-child svg {
    stroke: #AAAAAA;
}

.nav-window.ticketing-window .search-form .advanced-search:hover > span span:last-child svg {
    stroke: #2D5F76;
}

.nav-window.ticketing-window .search-form .advanced-search.open > span span:last-child svg {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.nav-window.ticketing-window .advanced-search-form {
    display: none;
    padding: 0 0 15px;
}

.nav-window.ticketing-window .advanced-search-form .form-group {
    margin: 9px auto 0;
}

.nav-window.ticketing-window .search-form .form-buttons {
    text-align: center;
    padding: 14px 0 16px;
}

.nav-window.ticketing-window .search-form .form.open + .form-buttons {
    border-top: 1px solid #DDDDDD;
    background-color: #F9F9F9;
}

.nav-window.ticketing-window .search-form .form-buttons .form-button {
    display: inline-block;
    margin: 0 1px;
}

.nav-window.ticketing-window .form-buttons .form-button.form-button-large.search-button {
    padding: 9px 0 10px 0;
}

.nav-window.ticketing-window .form-buttons .form-button.form-button-large.search-button span {
    display: inline-block;
    vertical-align: top;
}

.nav-window.ticketing-window .form-buttons .form-button.form-button-large.search-button .icon {
    width: 17px;
    height: 16px;
    background-image: url("../images/svg/search-icon-white.svg");
    position: relative;
    left: 2px;
}

.nav-window.ticketing-window .input-box.datepicker.open,
.nav-window.widget-window .input-box.datepicker.open {
    border: 1px solid #5F9BB7;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #EAEAEA;
    z-index: 9999999;
    position: relative;
}

.nav-window.ticketing-window .search-form ul.tagit.input-box {
    padding: 0;
    cursor: text;
    margin: 25px 0 0;
}

.nav-window.ticketing-window .search-results .ticket-list {
    padding: 12px 6px 0 7px;
    max-height: 649px;
}

.nav-window.ticketing-window .search-results .ticket-list .ticket {
    margin: 0 0 9px 0;
}

.nav-window.ticketing-window .search-results .ticket-list .ticket a p {
    margin: 2px 0 0;
}

.nav-window.ticketing-window .ticket-list .ticket a .highlight {
    background-color: #D8F3FF;
    display: inline-block;
    padding: 0 2px;
    margin: 0 -2px;
    border-radius: 2px;
}

.nav-window.ticketing-window .ticket-list .ticket a > span .highlight {
    color: #5291AE;
}

.nav-window .search-no-results {
    padding: 18px 0 30px;
    text-align: center;
}

.nav-window .search-no-results p {
    color: #4A4A4A;
    font-size: 12px;
    letter-spacing: -0.1px;
    margin: 0 0 21px;
}

.nav-window .search-no-results p span {
    display: block;
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.11px;
    margin: 0 0 8px;
}

/* 5.2) Recovery Window */
/* ******************** */

.nav-window.portal-window {
    left: -59px;
}

.nav-window.portal-window header {
    border-bottom: 1px solid #DDDDDD;
}

.nav-window.portal-window header h3 {
    display: none;
}

.nav-window .links-list li a.link-managed-services:before {
    width: 21px;
    height: 21px;
    background-image: url("../images/svg/icon-viewpoint.svg");
    top: 3px;
    left: 5px;
}

.nav-window .links-list li a.link-recovery-service:before {
    width: 21px;
    height: 21px;
    background-image: url("../images/svg/icon-recovery-service.svg");
    top: 4px;
    left: 5px;
}

.nav-window .links-list li a.link-cloud:before {
    width: 22px;
    height: 22px;
    background-image: url("../images/svg/icon-cloud.svg");
    top: 3px;
    left: 5px;
}

.nav-window .links-list li a.link-ticketing:before {
    width: 15px;
    height: 23px;
    background-image: url("../images/svg/icon-ticketing.svg");
    top: 3px;
    left: 8px;
}

.nav-window .links-list li a.link-spotlight:before {
    width: 19px;
    height: 19px;
    background-image: url("../images/svg/icon-spotlight.svg");
    top: 5px;
    left: 6px;
}

/* 5.3) Launchboard Window */
/* *********************** */

.nav-window.tool-window header h3 {
    display: none;
}

.nav-window.tool-window header h3.back {
    display: block;
    /* padding: 11px 0 10px 11px; */
}

.nav-window .links-list li a.link-launchboard:before {
    width: 17px;
    height: 20px;
    background-image: url("../images/svg/icon-launchboard.svg");
    top: 4px;
    left: 8px;
}

.nav-window .links-list li a.link-recovery-cloud:before {
    width: 25px;
    height: 20px;
    background-image: url("../images/svg/icon-recover-cloud.svg");
    top: 6px;
    left: 6px;
}

.nav-window .links-list li a.link-test-planning:before {
    width: 15px;
    height: 20px;
    background-image: url("../images/svg/icon-test-planning.svg");
    top: 3px;
    left: 9px;
}

.nav-window .links-list li a.link-doc-repo:before {
    width: 16px;
    height: 21px;
    background-image: url("../images/svg/icon-doc-repo.svg");
    top: 3px;
    left: 9px;
}

.nav-window .links-list li a.link-doc-library:before {
    width: 13px;
    height: 21px;
    background-image: url("../images/svg/icon-doc-library.svg");
    top: 1px;
    left: 11px;
}

.nav-window .links-list li a.link-customer-management:before {
    width: 23px;
    height: 23px;
    background-image: url("../images/svg/icon-user-admin.svg");
    top: 4px;
    left: 5px;
}

.nav-window .links-list li a.link-r2c-admin:before {
    width: 22px;
    height: 19px;
    background-image: url("../images/svg/icon-r2c-admin.svg");
    top: 5px;
    left: 5px;
}

.nav-window .links-list li a.link-doc-library-repo-admin:before {
    width: 19px;
    height: 24px;
    background-image: url("../images/svg/icon-doc-library-repo-admin.svg");
    top: 4px;
    left: 8px;
}

/* 5.4) Sungard Window */
/* ******************* */

header#main-header nav.pull-left .nav-dropdown-button.sungard-button {
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    padding-right: 14px;
}

header#main-header nav.pull-left .nav-dropdown-button.sungard-button:after {
    right: 0;
}

.nav-window.impersonate-window {
    left: -95px;
}

.nav-window.impersonate-window .selected-company {
    display: none;
    cursor: pointer;
}

.nav-window.impersonate-window .selected-company span {
    font-size: 13px;
    font-weight: 500;
    color: #4A4A4A;
    letter-spacing: -0.11px;
    display: block;
    background-image: url("../images/svg/user-company-icon.svg");
    background-position: 18px 11px;
    padding: 13px 0 16px 45px;
    margin: 0 0 0 0;
    border-bottom: 1px solid #E7E7E7;
    width: 100%;
}

.nav-window.impersonate-window .input-container {
    padding: 6px 15px 17px;
}

.nav-window.impersonate-window .input-container.border {
    border-bottom: 1px solid #E7E7E7;
}

.nav-window.impersonate-window input[type="search"].input-box {
    background-position: 97.3% 42%;
    letter-spacing: -0.18px;
}

.nav-window.impersonate-window .sliding-tab {
    top: auto;
}

.nav-window.impersonate-window .search-no-results {
    display: none;
    padding: 5px 0 12px;
}

.nav-window.impersonate-window .search-results {
    position: relative;
    display: none;
}

.nav-window.impersonate-window .user-list {
    padding: 11px 13px 0 10px;
    width: 100%;
    max-height: 435px;
    overflow-y: scroll;
}

.nav-window.impersonate-window .user-list li {
    margin-bottom: 2px;
    position: relative;
    background-color: #fff;
    border: 1px solid #fff;
}

.nav-window.impersonate-window .user-list li:hover {
    background-color: #F2FBFF;
    border: 1px solid #F2FBFF;
    border-radius: 3px;
}

.nav-window.impersonate-window .user-list li:last-child {
    margin-bottom: 10px;
}

.nav-window.impersonate-window .user-list li > div {
    position: relative;
    border-radius: 3px;
    padding: 8px 0 8px 35px;
    cursor: pointer;
    overflow: auto;
}

.nav-window.impersonate-window .user-list li > div:hover {
}

.nav-window.impersonate-window .user-list li > div .icon {
    position: absolute;
}

.nav-window.impersonate-window .user-list li > div .info,
.info-clone {
    display: none;
    position: fixed;
    top: 10px;
    left: -30px;
    width: 200px;
    font-size: 12px;
    color: #fff;
    z-index: 9999;
    cursor: default;
}

.nav-window.impersonate-window .user-list li > div .info:before,
.info-clone:before {
    content: '';
    position: absolute;
    top: -3px;
    left: 96px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6px 9px 6px;
    border-color: transparent transparent rgb(74, 74, 74) transparent;
    border-color: transparent transparent rgba(74, 74, 74, 0.98) transparent;
}

.nav-window.impersonate-window .user-list li > div .info .wrapper,
.info-clone .wrapper {
    background-color: rgb(74, 74, 74);
    background-color: rgba(74, 74, 74, 0.98);
    margin: 4px 0 0 0;
    padding: 8px 0 9px 12px;
    border-radius: 3px;
}

.nav-window.impersonate-window .user-list li > div .info p,
.info-clone p {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: -0.11px;
    margin-bottom: 4px;
}

.nav-window.impersonate-window .user-list li > div .info span,
.nav-window.impersonate-window .user-list li > div .info a,
.info-clone span,
.info-clone a {
    display: block;
    color: #fff;
}

.nav-window.impersonate-window .user-list li > div .info .company-info span,
.nav-window.impersonate-window .user-list li > div .info .company-info a,
.info-clone .company-info span,
.info-clone .company-info a {
    line-height: 19px;
}

.nav-window.impersonate-window .user-list li > div .info .user-info span,
.nav-window.impersonate-window .user-list li > div .info .user-info a,
.info-clone .user-info span,
.info-clone .user-info a {
    line-height: 20px;
}

.nav-window.impersonate-window .user-list li > div .info .company-info + .user-info p,
.info-clone .company-info + .user-info p {
    margin-top: 19px;
    letter-spacing: -0.15px;
}

.nav-window.impersonate-window .user-list li > div .info .user-info p,
.info-clone .user-info p {
    margin-bottom: 3px;
}

.nav-window.impersonate-window .user-list li > div .user-name,
.nav-window.impersonate-window .user-list li > div .company-name {
    font-size: 13px;
    line-height: 16px;
    font-weight: 500;
    color: #666666;
    float: left;
}

.nav-window.impersonate-window .user-list li > div .user-name + .company-name {
    font-weight: 400;
    color: #AAAAAA;
    margin: 0 0 0 5px;
    line-height: 16px;
}

.nav-window.impersonate-window .user-list li .company .icon {
    width: 17px;
    height: 17px;
    background-image: url("../images/svg/user-company-icon.svg");
    top: 6px;
    left: 8px;
}

.nav-window.impersonate-window .user-list li .with-sub .company-name:after {
}

.nav-window.impersonate-window .user-list li .user .icon {
    width: 18px;
    height: 18px;
    background-image: url("../images/svg/user-individual-icon.svg");
    top: 6px;
    left: 7px;
}

.nav-window.impersonate-window .user-list li .users-button{
    font-size: 11px;
    color: #5291AE;
    position: absolute;
    top: 4px;
    right: 10px;
    display: none;
    padding: 5px 9px 5px 5px;
}

.nav-window.impersonate-window .user-list li:hover .users-button{
    display: block;
}

.nav-window.impersonate-window .user-list li .users-button:after{
    content: '';
    width: 4px;
    height: 8px;
    position: relative;
    background-image: url("../images/svg/arrow-right.svg");
    right: -9px;
    display: inline-block;
}

/* 5.5) Events Window */
/* ****************** */

.nav-window.events-window {
    left: -155px;
}

.nav-window.events-window header:before {
    left: 167px;
}

/* 5.5.1) Events Window -> Events List */
/* *********************************** */

.nav-window.events-window .events-list {
    padding: 6px 6px 0;
    max-height: 500px;
    overflow: auto;
    position: relative;
}

.nav-window.events-window .events-list .event {
    margin: 0 0 10px;
    position: relative;
    font-size: 12px;
    color: #4A4A4A;
    padding: 5px 6px 9px 10px;
}

.nav-window.events-window .events-list .event h6 {
    font-size: 12px;
    line-height: 16px;
    font-weight: 500;
    letter-spacing: 0.25px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre;
    padding: 0 15px 0 0;
    display: inline-block;
    position: relative;
}

.nav-window.events-window .events-list .event p {
    line-height: 17px;
    margin: 2px 0 0;
    padding: 0 30px 0 0;
    letter-spacing: -0.1px;
}

.nav-window.events-window .events-list .event div {
    overflow: auto;
}

.nav-window.events-window .events-list .event div span {
    font-weight: 500;
    color: #9B9B9B;
    display: block;
    float: right;
    margin: 4px 11px 0 0;
}

.nav-window.events-window .events-list .event div span:first-child {
    float: left;
    margin: 4px 0 0 0;
}

/* 5.5.2) Events Window -> Search Form */
/* *********************************** */

.nav-window.events-window .search-form .form {
    padding: 4px 15px 0;
    max-height: 579px;
    overflow: auto;
    position: relative;
}

.nav-window.events-window .search-form .form-group {
    margin: 13px auto 0;
}

.nav-window.events-window .search-form .form-group:first-child {
    margin: 8px auto 0;
}

.nav-window.events-window .search-form .input-box {
    margin: 8px 0 0;
}

.nav-window.events-window .clear-search {
    font-size: 10px;
    font-weight: 500;
    color: #5291AE;
    float: right;
    display: none;
}

.nav-window.events-window .clear-search:hover {
    color: #2D5F76;
    cursor: pointer;
}

.nav-window.events-window .clear-search svg {
    stroke: #5291AE;
}

.nav-window.events-window .clear-search:hover svg {
    stroke: #2D5F76;
}

.nav-window.events-window .search-form .input-box.hasDatepicker {
    margin: 7px 0 0;
}

.nav-window.events-window .input-box-half {
    float: left;
}

.nav-window.events-window .input-box-half.last {
    float: right;
    clear: none;
}

.nav-window.events-window .search-form .form-buttons {
    text-align: center;
    padding: 23px 0 20px;
    position: relative;
    margin: 22px 0 0;
}

.nav-window.events-window .search-form .form-buttons:before {
    content: '';
    width: calc(100% - 30px);
    height: 1px;
    background-color: #DDDDDD;
    position: absolute;
    top: 0;
    left: 15px;
}

.nav-window.events-window .search-form .form.open + .form-buttons {
    border-top: 1px solid #DDDDDD;
    background-color: #F9F9F9;
}

.nav-window.events-window .search-form .form-buttons .form-button {
    display: inline-block;
    margin: 0 1px;
}

.nav-window.events-window .search-form .form-buttons .form-button.form-button-large.search-button {
    background-image: url("../images/svg/search-icon-white.svg");
    background-position: 97px 9px;
    padding: 9px 18px 12px 0;
}

.nav-window.events-window .input-box.datepicker.open {
    border: 1px solid #5F9BB7;
    border-radius: 3px 3px 0 0;
    border-bottom: 1px solid #EAEAEA;
    z-index: 9999999;
    position: relative;
}

.nav-window.events-window .search-form ul.tagit.input-box {
    padding: 0;
    cursor: text;
    margin: 23px 0 0;
}

.nav-window.events-window .search-results .ticket-list {
    padding: 12px 6px 0 7px;
    max-height: 649px;
}

.nav-window.events-window .search-results .events-list .event p {
    margin: 2px 0 0;
}

.nav-window.events-window .events-list .event .highlight {
    background-color: #D8F3FF;
    display: inline-block;
    padding: 0 2px;
    margin: 0 -2px;
    border-radius: 2px;
}

.nav-window.events-window .events-list .event span .highlight {
    color: #5291AE;
}

/* 5.6) User Window */
/* **************** */

.nav-window.user-window {
    left: -309px;
}

.nav-window.user-window > header {
    padding: 0 4px;
}

.nav-window.user-window > header:before {
    left: 320px;
}

.nav-window header button.wide-header-button {
    width: 168px;
}

/* 5.6.1) User Window -> Profile Tab */
/* ********************************* */

.nav-window.user-window .profile-tab #password-notification {
    font-size: 13px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #5291AE;
    background-color: #F2FBFF;
    background-image: url("../images/svg/email-icon.svg");
    background-position: 16px 50%;
    border-bottom: 1px solid #5291AE;
    padding: 11px 20px 16px 60px;
    position: relative;
    display: none;
}

.nav-window.user-window .profile-tab header {
    height: 46px;
    padding: 6px 4px 6px 15px;
    border-bottom: 1px solid #E7E7E7;
    position: relative;
    z-index: 999999;
}

.nav-window.user-window .profile-tab header h3 {
    color: #4A4A4A;
}

.nav-window.user-window .profile-tab header h3 svg{
    top: 4px;
}

.nav-window.user-window .profile-tab header .button-container {
    float: right;
    margin: 0 0 0 0;
}

.nav-window.user-window .profile-tab header .button-container button {
    padding: 6px 7px;
    position: relative;
}

.nav-window.user-window .profile-tab header .button-container button.active {
    background-color: #F2FBFF;
    border-radius: 2px;
}

.nav-window.user-window .profile-tab header .button-container button.active svg {
    stroke: #5291AE;
}

.nav-window.user-window .profile-tab header .button-container button:last-child {
    margin: 0 0 0 -2px;
}

.nav-window.user-window .profile-tab header .button-container button svg {
    stroke: #666;
}

.nav-window.user-window .profile-tab header .button-container button:hover svg {
    stroke: #5291AE;
}

.nav-window.user-window .profile-tab header .user-name,
.nav-window.user-window .profile-tab header h3 {
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    color: #4A4A4A;
    margin: 8px 0 0;
    float: left;
    padding: 0 !important;
    height: auto;
}

.nav-window.user-window .profile-tab .sliding-tab {
    width: 100%;
}

.nav-window.user-window .profile-tab .user-info ul {
    padding: 15px 10px 14px 15px;
}

.nav-window.user-window .profile-tab .user-info ul li span {
    font-size: 12px;
    display: inline-block;
    vertical-align: top;
}

.nav-window.user-window .profile-tab .user-info ul li span:first-child {
    width: 94px;
    font-weight: 500;
    color: #AAAAAA;
}

.nav-window.user-window .profile-tab .user-info ul li span:nth-child(2) {
    color: #7C7C7C;
    letter-spacing: -0.2px;
}

.nav-window.user-window .profile-tab .user-info ul li a:nth-child(2) {
    color: #5291AE;
    font-size: 12px;
    vertical-align: top;
}

.nav-window.user-window .profile-tab .user-info-edit {
    width: 100%;
    padding: 3px 0 0 0;
}

.nav-window.user-window .profile-tab .form-group {
    padding: 0 15px 0 12px;
}

.nav-window.user-window .profile-tab .form-group label {
    font-size: 10px;
    color: #9B9B9B;
    padding: 0 3px 0 2px;
    margin: 0 0 -14px 10px;
    position: relative;
    height: 14px;
}

.nav-window.user-window .profile-tab .form-group label:before {
    content: '';
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #F9F9F9;
    position: absolute;
    bottom: 8px;
    left: 0;
}

.nav-window.user-window .profile-tab .form-group label span {
    position: relative;
    z-index: 2;
}

.nav-window.user-window .profile-tab .form-group input {
    padding: 8px 11px 7px;
}

.nav-window.user-window .profile-tab .form-group input:disabled {
    background-color: #fff;
    color: #AAAAAA;
    border: 1px solid #BFBFBF;
}

.nav-window.user-window .profile-tab .form-buttons {
    background-color: #F9F9F9;
    border-top: 1px solid #DDDDDD;
    margin: 19px 0 0;
    padding: 12px 0 13px;
    text-align: center;
}

.nav-window.user-window .profile-tab .form-buttons .form-button.form-button-large {
    padding: 11px 0 10px;
}

.nav-window.user-window .profile-tab .user-password-edit {
    padding: 3px 0 0;
}

.nav-window.user-window .profile-tab .input-note {
    line-height: 13px;
    margin: 0;
    padding: 6px 30px 0 15px;
}

/* 5.6.2) User Window -> Contacts Tab */
/* ********************************** */

.nav-window.user-window .contacts-tab .input-container {
    padding: 10px 13px 16px 14px;
}

.nav-window.user-window .contacts-tab .input-container input[type="search"].input-box {
    background-position: 96.7% 44%;
}

.nav-window.user-window .contacts-tab .search-results {
    font-size: 12px;
    border-top: 1px solid #E7E7E7;
    padding: 14px 35px 0 14px;
    height: 434px;
    overflow: auto;
}

.nav-window.user-window .contacts-tab .search-results li {

    margin: 0 0 13px;
}

.nav-window.user-window .contacts-tab .search-results li p {
    font-weight: 500;
    color: #666666;
    letter-spacing: -0.1px;
}

.nav-window.user-window .contacts-tab .search-results li p span {
    font-weight: 400;
    color: #AAAAAA;
    display: inline-block;
    margin: 0 0 0 4px;
    letter-spacing: -0.3px;
}

.nav-window.user-window .contacts-tab .search-results li > span {
    color: #7C7C7C;
    display: block;
    margin: 5px 0 0;
    letter-spacing: -0.3px;
}

.nav-window.user-window .contacts-tab .search-results li a {
    color: #63A2BC;
    margin: 1px 0 0;
    display: inline-block;
    letter-spacing: -0.3px;
}

/* 5.7) Tour Window */
/* **************** */

.nav-window.tour-window {
    left: -259px;
    z-index: 5;
}

.nav-window.tour-window > header:before {
    left: 271px;
}

.nav-window.tour-window .toggle-container {

    padding: 13px 16px 13px 16px;
    overflow: auto;
    border-top: 1px solid #E7E7E7;
    position: relative;
    z-index: 2;
    background: #fff;
    border-radius: 0 0 3px 3px;
}

.nav-window.tour-window .toggle-container span {
    font-size: 13px;
    font-weight: 500;
    letter-spacing: 0.3px;
    float: left;
    padding: 1px 0 0;
    transition: all 0.3s;
}

.nav-window.tour-window .toggle-container.open span {
    color: #169E66;
}

.nav-window.tour-window .toggle-container span:after {
    content: ' Off';
}

.nav-window.tour-window .toggle-container.open span:after {
    content: ' On';
}

.nav-window.tour-window .toggle-container .toggle-button {
    float: right;
    width: 30px;
    height: 18px;
    background-color: #F9F9F9;
    border: 1px solid #BFBFBF;
    border-radius: 12px;
    position: relative;
    cursor: pointer;
}

.nav-window.tour-window .toggle-container.open .toggle-button {
    background-color: #169E66;
    border: 1px solid #169E66;
}

.nav-window.tour-window .toggle-container .toggle-button .circle {
    width: 12px;
    height: 12px;
    background-color: #BFBFBF;
    background-image: url("../images/svg/toggle-x.svg");
    background-size: 5px 6px;
    background-position: 3px 3px;
    border-radius: 6px;
    position: absolute;
    top: 2px;
    left: 2px;
    transition: all 0.3s;
}

.nav-window.tour-window .toggle-container.open .toggle-button .circle {
    background-color: #fff;
    background-image: url("../images/svg/tour-tick.svg");
    background-size: 7px 5px;
    background-position: 2px 3px;
    left: 14px;
}

.nav-window.tour-window .leaving-tour {
    background-color: #fff;
    border-top: 1px solid #DDDDDD;
    padding: 17px 0 16px 16px;
    position: relative;
    display: none;
}

#tour-container .tour-step .window .close-button,
.nav-window.tour-window .leaving-tour .close-button {
    width: 9px;
    height: 10px;
    position: absolute;
    top: 17px;
    right: 20px;
}

#tour-container .tour-step .window .close-button svg,
.nav-window.tour-window .leaving-tour .close-button svg {
    fill: #666;
    vertical-align: top;
}

#tour-container .tour-step .window h6,
.nav-window.tour-window .leaving-tour h6 {
    font-size: 13px;
    font-weight: 500;
    color: #169E66;
    letter-spacing: 0.2px;
    padding: 0 50px 0 0;
}

#tour-container .tour-step .window > p,
.nav-window.tour-window .leaving-tour p {
    font-size: 12px;
    line-height: 19px;
    color: #7C7C7C;
    margin: 12px 0 0;
    padding: 0 15px 0 0;
}

/* 5.7.1) Tour Window -> Information Tab */
/* ************************************* */

.nav-window.tour-window .information-tab .content {
    max-height: 468px;
    overflow: auto;
    padding: 0 0 25px;
    color: #666666;
}

.nav-window.tour-window .information-tab h4 {
    font-size: 13px;
    font-weight: 500;
    color: #4A4A4A;
    margin: 24px 0 0;
}

.nav-window.tour-window .information-tab h4:first-child {
    margin: 20px 0 0;
}

.nav-window.tour-window .information-tab h5 {
    font-size: 13px;
    font-weight: 500;
    color: #5291AE;
    margin: 22px 0 0;
    clear: both;
}

.nav-window.tour-window .information-tab .content > div {
    padding: 0 16px;
}

.nav-window.tour-window .information-tab .content > div > p {
    font-size: 12px;
    line-height: 16px;
    margin: 7px 0 0;
}

.nav-window.tour-window .information-tab .info-color {
    font-size: 12px;
    line-height: 16px;
    color: #666666;
    margin: 24px 0 30px;
}

.nav-window.tour-window .information-tab .info-color .line {
    overflow: auto;
    clear: both;
    margin: 0 0 8px;
    padding: 0 0 0 28px;
}

.nav-window.tour-window .information-tab .info-color .line .server {
    width: 43px;
    height: 43px;
    border-radius: 3px;
    border: 1px solid #fff;
    float: left;
    margin: 0;
    cursor: default;
}

.nav-window.tour-window .information-tab .info-color .line.healthy .server {
    background-color: #17945E;
}

.nav-window.tour-window .information-tab .info-color .line.weak .server {
    background-color: #F8AF19;
}

.nav-window.tour-window .information-tab .info-color .line.poor .server {
    background-color: #EA4F02;
}

.nav-window.tour-window .information-tab .info-color .line.exception .server {
    background-color: #5291AE;
}

.nav-window.tour-window .information-tab .info-color .line p {
    margin: 4px 0 0 62px;
}

.nav-window.tour-window .information-tab .info-color .line p span {
    display: block;
}

.nav-window.tour-window .information-tab .info-color .line p span:first-child {
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: -0.15px;
}

.nav-window.tour-window .information-tab .info-color .line.healthy p span:first-child {
    color: #17945E;
}

.nav-window.tour-window .information-tab .info-color .line.weak p span:first-child {
    color: #F8AF19;
}

.nav-window.tour-window .information-tab .info-color .line.poor p span:first-child {
    color: #EA4F02;
}

.nav-window.tour-window .information-tab .info-color .line.exception p span:first-child {
    color: #5291AE;
}

.nav-window.tour-window .information-tab .info-color .line p span:last-child {
    font-size: 12px;
    line-height: 16px;
    color: #666666;
    letter-spacing: -0.1px;
}

.nav-window.tour-window .information-tab .info-tooltip{
    width: 100%;
    background-color: #F9F9F9;
    border-radius: 5px;
    padding: 0 0 0 0;
    margin: 12px 0 0;
    text-align: center;
    overflow: hidden;
    clear: both;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info{
    font-size: 10px;
    color: #fff;
    background-color: #4A4A4A;
    border-radius: 3px;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.20);
    padding: 9px 12px 7px 11px;
    z-index: 2;
    display: inline-block!important;
    position: relative;
    top: auto;
    left: auto;
    margin: 28px 0 25px;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info:before {
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 6.5px 5px 6.5px;
    border-color: transparent transparent #4A4A4A transparent;
    position: absolute;
    top: -3px;
    left: 50%;
    margin: 0 0 0 -4px;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info p {
    clear: both;
    float: left;
    white-space: pre;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .name {
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .response {
    font-weight: bold;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .response span {
    font-weight: 500;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .server-status {
    line-height: 12px;
    font-weight: 600;
    border-radius: 2px;
    display: block;
    float: left;
    clear: both;
    padding: 1px 7px 0 6px;
    margin: 4px 0 0 0;
    text-transform: uppercase;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .volumes,
.nav-window.tour-window .information-tab .info-tooltip .hover-info .used-space {
    margin: 9px 0 0;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info.poor .server-status {
    background-color: #EA4F02;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info.weak .server-status {
    background-color: #F8AF19;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info.exception .server-status {
    background-color: #5291AE;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info.healthy .server-status {
    background-color: #17945E;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .info{
    position: absolute;
    color: #4A4A4A;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: -0.12px;
    line-height: 12px;
    text-align: left;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .info:after{
    content: '';
    background-color: #DDDDDD;
    height: 1px;
    position: absolute;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .info.info-name{
    top: 8px;
    left: -81px;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .info.info-name:after{
    width: 7px;
    top: 6px;
    right: -13px;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .info.info-response{
    top: 26px;
    left: -81px;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .info.info-response:after{
    width: 46px;
    top: 5px;
    right: -53px;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .info.info-volumes{
    top: 42px;
    left: -81px;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .info.info-volumes:after{
    width: 34px;
    top: 6px;
    right: -42px;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .info.info-status{
    top: 35px;
    right: -94px;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .info.info-status:before{
    content: '';
    background-color: #DDDDDD;
    position: absolute;
    width: 1px;
    height: 10px;
    bottom: -14px;
    left: 36px;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .info.info-status:after{
    width: 42px;
    bottom: -14px;
    left: -6px;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .info.info-stat{
    top: 83px;
    right: -88px;
}

.nav-window.tour-window .information-tab .info-tooltip .hover-info .info.info-stat:after{
    width: 9px;
    top: 5px;
    left: -12px;
}

.nav-window.tour-window .information-tab div.volumes{
    border-top: 1px solid #E7E7E7;
    margin: 21px 0 0;
    padding: 13px 16px 0;
}

.nav-window.tour-window .information-tab div.volumes .info-color {
    margin: 18px 0 36px;
}

.nav-window.tour-window .information-tab div.volumes .volume{
    width: 37px;
    height: 37px;
    border-radius: 3px;
    border: 1px dashed #DDDDDD;
    float: left;
    margin: 0 5px 7px 0;
    position: relative;
    cursor: default;
}

.nav-window.tour-window .information-tab div.volumes .volume > svg {
    position: absolute;
    top: 50%;
    left: 50%;
}

.nav-window.tour-window .information-tab .info-sizes{
    padding: 0 13px 0 23px;
    margin: 32px 0 42px;
}

.nav-window.tour-window .information-tab .info-sizes:after{
    content: '';
    display: block;
    clear: both;
}

.nav-window.tour-window .information-tab  .info-sizes h6{
    font-size: 10px;
    font-weight: 600;
    color: #A9A9A9;
    margin: 0 0 18px;
}

.nav-window.tour-window .information-tab  .info-sizes .line{
    /* overflow: auto; */
    margin: 12px 0 0;
}

.nav-window.tour-window .information-tab  .info-sizes .line:after{
    content: '';
    display: block;
    clear: both;
}

.nav-window.tour-window .information-tab  .info-sizes .line .volume{
    margin: 0;
}

.nav-window.tour-window .information-tab  .info-sizes .line p{
    font-size: 13px;
    color: #4A4A4A;
    /* margin: 7px 0 0 51px; */
    padding: 8px 0 0 52px;
}

.nav-window.tour-window .information-tab  .info-sizes .line p span{
    font-weight: 600;
}

.nav-window.tour-window .information-tab  .info-sizes .capacity{
    /* width: 130px; */
    float: left;
}

.nav-window.tour-window .information-tab  .info-sizes .amount{
    /* width: 140px; */
    float: right;
}

.nav-window.tour-window .information-tab  .info-sizes{

}

.nav-window.tour-window .information-tab .volumes .info-tooltip .hover-info {
    /* padding: 9px 12px 7px 11px; */
}

.nav-window.tour-window .information-tab .volumes .info-tooltip .hover-info .info.info-name{
    left: -99px;
}

.nav-window.tour-window .information-tab .volumes .info-tooltip .hover-info .info.info-name:after{
    width: 23px;
    right: -28px;
}

.nav-window.tour-window .information-tab .volumes .info-tooltip .hover-info .info.info-response{
    left: -99px;
}

.nav-window.tour-window .information-tab .volumes .info-tooltip .hover-info .info.info-response:after{
    width: 61px;
    right: -69px;
}

.nav-window.tour-window .information-tab .volumes .info-tooltip .hover-info .info.info-volumes{
    left: -99px;
}

.nav-window.tour-window .information-tab .volumes .info-tooltip .hover-info .info.info-volumes:after{
    width: 50px;
    right: -58px;
}

.nav-window.tour-window .information-tab .volumes .info-tooltip .hover-info .info.info-used{
    top: 63px;
    right: -94px;
}

.nav-window.tour-window .information-tab .volumes .info-tooltip .hover-info .info.info-used:after{
    width: 28px;
    top: 6px;
    left: -32px;
}

.nav-window.tour-window .information-tab .volumes .info-tooltip .hover-info .info.info-capacity{
    top: 83px;
    right: -86px;
}

.nav-window.tour-window .information-tab .volumes .info-tooltip .hover-info .info.info-capacity:after{
    width: 28px;
    top: 5px;
    left: -34px;
}

/* 5.7.2) Tour Window -> Tutorials Tab */
/* *********************************** */

.nav-window.tour-window .video-links {
    padding: 14px 50px 20px 15px;
    border-top: 1px solid #DDDDDD;
}

.nav-window.tour-window .video-links > p {
    font-weight: 500;
    letter-spacing: -0.7px;
    padding: 0 0 0 1px;
}

.nav-window.tour-window .video-links ul {
    margin: 9px 0 0;
}

.nav-window.tour-window .video-links ul li {
    margin: 0 0 5px;
}

.nav-window.tour-window .video-links ul li a {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: #666666;
    position: relative;
    padding: 0 0 0 22px;
    display: block;
    outline: none;
}

.nav-window.tour-window .video-links ul li a:before {
    content: '';
    width: 16px;
    height: 15px;
    background-image: url("../images/svg/play-icon.svg");
    position: absolute;
    top: 1px;
    left: 0;
}

.mfp-content {
    padding: 0 15px;
    max-width: 1280px;
}

.mfp-content video {
    margin: 0 auto;
    display: block;
    width: 100%;
    text-align: center;
}

.mfp-content video object {
    margin: 0 auto;
}

/* 5.7.3) Tour Window -> Tour Container */
/* ************************************ */

#tour-container {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    display: none;
}

#tour-container .overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    background-color: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
    z-index: 3;
}

#tour-container .tour-step {
    position: absolute;
    top: 46px;
    z-index: 3;
    height: auto;
}

#tour-container .tour-step .pulse-dot {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 7px;
    z-index: 99999;
    position: fixed;
}

#tour-container .tour-step.active .pulse-dot,
#tour-container .tour-step .pulse-dot.active,
#tour-container .tour-step .pulse-dot.visited {
    border: 2px solid #fff;
    background-color: #CCCCCC;
}

#tour-container .tour-step .pulse-dot {
    background-color: #169E66;
}

#tour-container .tour-step:not(.active) .pulse-dot {
    cursor: pointer;
}

#tour-container .tour-step:not(.active) .pulse-dot:not(.active):after {
    content: '';
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(99, 202, 159, 0.3);
    border: 1px solid rgba(22, 158, 102, 0.12);
    position: absolute;
    top: 0;
    left: 0;
    -webkit-animation: pulse 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation: pulse 1s ease-out;
    animation-iteration-count: infinite;
    opacity: 0.0;
}

#tour-container .tour-step:not(.active) .pulse-dot.visited:after {
    display: none;
}

@-webkit-keyframes pulse {
    0% {
        -webkit-transform: scale(1, 1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        -webkit-transform: scale(5, 5);
        opacity: 0.0;
    }
}

@keyframes pulse {
    0% {
        transform: scale(1, 1);
        opacity: 0.0;
    }
    50% {
        opacity: 1.0;
    }
    100% {
        transform: scale(5, 5);
        opacity: 0.0;
    }
}

#tour-container .tour-step .window {
    width: 300px;
    background-color: #fff;
    border-radius: 3px;
    font-size: 12px;
    position: absolute;
    top: 21px;
    z-index: 3;
    padding: 18px 15px 17px 21px;
    display: none;
}

#tour-container .tour-step .window .triangle {
    display: block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 9.5px 14px 9.5px;
    border-color: transparent transparent #ffffff transparent;
    position: absolute;
    top: -9px;
}

#tour-container .tour-step.active .window {
    display: block;
}

#tour-container .tour-step .window .close-button {
    top: 20px;
    right: 20px;
}

#tour-container .tour-step .window h6 {
    padding: 0 50px 0 0;
}

#tour-container .tour-step .window > p {
    padding: 0 15px 0 0;
}

#tour-container .tour-step .window a {
    color: #5291AE;
}

#tour-container .tour-step .window ul {
    margin: 7px 0 0;
    padding: 0 20px 0 10px;
}

#tour-container .tour-step .window ul li {
    margin: 0 0 3px;
}

#tour-container .tour-step .window ul li span {
    color: #5291AE;
}

#tour-container .tour-step .window footer {
    padding: 11px 0 0;
}

#tour-container .tour-step .window footer .hide-tour {
    display: none;
    float: left;
}

#tour-container .tour-step .window footer p {
    float: left;
    position: relative;
    color: #AAAAAA;
    display: none;
}

#tour-container .tour-step .window footer p:before {
    content: '';
    width: 1px;
    height: 13px;
    background-color: #AAAAAA;
    position: absolute;
    top: 2px;
    left: 0;
    display: none;
}

#tour-container .tour-step .window footer .button-container {
    float: right;
    padding: 2px 0 0 0;
    display: none;
}

#tour-container .tour-step .window footer .button-container button {
    width: 13px;
    height: 11px;
    display: block;
    float: left;
    padding: 0 3px;
    vertical-align: top;
    -webkit-appearance: none;
}

#tour-container .tour-step:first-child .window footer .button-container .prev {
    cursor: default;
}

#tour-container .tour-step .window footer .button-container button svg {
    stroke: #666;
    display: block;
    pointer-events: none;
}

#tour-container .tour-step:first-child .window footer .button-container .prev svg {
    stroke: #CCCCCC;
}

#tour-container .tour-step .window footer .button-container .prev {
    -ms-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    margin-right: 9px;
}

/* 5.7.4) Tour Window -> Tour Steps */
/* ******************************** */

#tour-container .tour-step.step1 {
    left: 177px;
}

#tour-container .tour-step.step1 .window {
    left: -150px;
}

#tour-container .tour-step.step2 {
    left: 280px;
}

#tour-container .tour-step.step2 .window {
    left: -150px;
}

#tour-container .tour-step.step3 {
    left: 387px;
}

#tour-container .tour-step.step3 .window {
    left: -150px;
}

#tour-container .tour-step.step4 {
    right: 315px;
}

#tour-container .tour-step.step4 .window {
    left: -200px;
}

#tour-container .tour-step.step5 {
    right: 136px;
}

#tour-container .tour-step.step5 .window {
    left: -270px;
}

#tour-container .tour-step.step6 {
    right: 88px;
}

#tour-container .tour-step.step6 .window {
    left: -265px;
}

#tour-container .tour-step.step7 {
    right: 37px;
}

#tour-container .tour-step.step7 .window {
    left: -270px;
}

/* 6) Footer */
/* ********* */

footer#main-footer {
    width: 100%;
    height: 40px;
    font-size: 11px;
    line-height: 18px;
    background-color: #FDFDFD;
    border-top: 1px solid #ECECEC;
    padding: 11px 0px 0px 28px;
    position: fixed;
    bottom: 0;
}

footer#main-footer .copyright {
    float: left;
}

footer#main-footer .links {
    float: left;
    padding: 0px 0px 0px 5px;
    position: relative;
    margin: 0px 0px 0px 4px;
}

footer#main-footer .links:before,
footer#main-footer .links a:first-child:after {
    content: '';
    width: 1px;
    height: 11px;
    background-color: #4A4A4A;
    position: absolute;
    top: 4px;
    left: 0px;
}

footer#main-footer .links a {
    float: left;
    position: relative;
    color: #4A4A4A;
    margin: 0 9px 0 0;
}

footer#main-footer .links a:hover {
    color: #5291AE;
}

footer#main-footer .links a:first-child:after {
    left: auto;
    right: -5px;
}





































