@media (max-width: 767px) {
    /* 1) Header Base */
    /* ************** */

    header#main-header {
        height: 51px;
        border: none;
        border-bottom: 1px solid #E7E7E7;
    }

    header#main-header #logo {
        width: 67px;
        background-position: 16px 6px;
        background-image: url("../images/svg/logo-icon.svg");
    }

    header#main-header nav.pull-left {
        margin: 0;
        z-index: 6;
    }

    header#main-header .mobile-toggle {
        display: block;
        width: 32px;
        height: 28px;
        position: relative;
        padding: 8px;
        float: left;
        margin: 12px 0 0 12px;
    }

    header#main-header .mobile-toggle span {
        width: 20px;
        height: 1px;
        background-color: #999999;
        position: absolute;
        top: 13px;
        left: 7px;
    }

    header#main-header .mobile-toggle span:before,
    header#main-header .mobile-toggle span:after {
        content: '';
        width: 100%;
        height: 1px;
        background-color: #999999;
        position: absolute;
        left: 0;
    }

    header#main-header .mobile-toggle span:before {
        top: -7px;
    }

    header#main-header .mobile-toggle span:after {
        top: 7px;
    }

    header#main-header .mobile-toggle.active {
        background-image: url("../images/svg/nav-close.svg");
        background-position: 7px 5px;
    }

    header#main-header .mobile-toggle.active span {
        display: none;
    }

    header#main-header nav.pull-right .events-button {
        margin: 3px 3px 0 0;
        background-position: 50% 45%;
    }

    header#main-header nav.pull-right .tickets-button {
        margin: 2px 3px 0 0;
        background-position: 50% 45%;
    }

    header#main-header nav.pull-right .tour-button {
        margin: 2px 2px 0 0;
        background-position: 50% 45%;
    }

    header#main-header nav.pull-right .user-button {
        margin: 2px 9px 0 0;
        background-position: 50% 44%;
    }

    header#main-header nav.pull-right > .buttons-container > .button-container > button.active {
        background-image: url("../images/svg/nav-close.svg");
    }

    header#main-header nav.pull-right > .buttons-container > .button-container > button.active svg {
        opacity: 0;
    }

    header#main-header nav.pull-right > .buttons-container > .button-container {
        position: static;
    }

    header#main-header nav.pull-right > .buttons-container > .button-container > button {
        padding: 6px;
    }

    header#main-header.nav-open nav.pull-right > .buttons-container > .button-container > button,
    header#main-header.nav-open .mobile-toggle {
        opacity: 0.2;
    }

    header#main-header.nav-open nav.pull-right > .buttons-container > .button-container > button.active,
    header#main-header.nav-open .mobile-toggle.active {
        opacity: 1;
    }

    /* 2) Nav Window */
    /* ************* */

    .nav-window {
        width: 100%!important;
        height: 100%;
        position: absolute;
        left: 0!important;
        box-shadow: none;
    }

    .nav-window:not(.narrow) .nav-window-content > div {
        width: 100%;
    }

    .nav-window > header {
        border-radius: 0;
    }

    .nav-window header h3 {
        height: 41px;
        padding: 14px 0 0 17px;
        letter-spacing: 0.3px;
    }

    .pull-right .button-container button:hover .button-tooltip {
        display: none !important;
    }

    .nav-window-content:before,
    .nav-window-content:after{
        content: " ";
        display: table;
        clear: both;
    }

    .nav-window .nav-window-content {
        border-radius: 0;
        z-index: 5;
    }

    /* 2.1) Left Nav Window */
    /* ******************** */

    .nav-window.pull-left {
        top: 50px;
    }

    header#main-header nav.pull-left .button-container {
        margin: 0;
    }

    nav.pull-left .nav-window {
        top: 0;
    }

    nav.pull-left .nav-window > header:before{
        left: 86px;
    }

    .nav-window.pull-left .nav-dropdown-button{
        display: none;
    }

    .nav-window .links-list {
        padding: 15px 18px 7px;
        width: 100%;
    }

    .nav-window .links-list:not(.has-icons) {
        padding: 17px 22px 3px;
    }

    .nav-window .links-list li {
        margin: 0 0 6px;
    }

    .nav-window .links-list:not(.has-icons) li {
        margin: 0 0 9px;
    }

    .nav-window .links-list li a {
        font-size: 16px;
        line-height: 19px;
        padding: 13px 0 12px 55px;
        border-radius: 3px;
    }

    .nav-window.narrow > header {
        padding: 0 1%;
    }

    .nav-window.narrow > header button.wide-header-button {
        width: 49%;
    }

    /* 2.1.1) Mobile Links */
    /* ******************* */

    .nav-window.pull-left .mobile-links header{
        width: 100%;
        height: 4px;
        background: #666666;
    }

    .nav-window.pull-left .mobile-links header:before{
        content: '';
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 9px 13px 9px;
        border-color: transparent transparent #666666 transparent;
        position: absolute;
        top: -9px;
        left: 87px;
    }

    .nav-window.pull-left .mobile-links ul {
        padding: 27px 0 0 28px;
    }

    .nav-window.pull-left .mobile-links ul li {
        margin: 0 0 13px;
    }

    .nav-window.pull-left .mobile-links ul li a {
        font-size: 16px;
        font-weight: 500;
        letter-spacing: 0.3px;
        color: #666666;
        position: relative;
        padding: 5px 0 5px 45px;
        display: block;
    }

    .nav-window.pull-left .mobile-links ul li a:before {
        content: '';
        position: absolute;
        left: 0;
    }

    .nav-window.pull-left .mobile-links ul li a:after {
        content: '';
        width: 7px;
        height: 12px;
        background-image: url("../images/svg/arrow-right-mobile.svg");
        display: inline-block;
        position: relative;
        top: 1px;
        right: -8px;
    }

    .nav-window.pull-left .mobile-links ul li a.recovery-link:before {
        width: 27px;
        height: 27px;
        background-image: url("../images/svg/icon-recovery-service.svg");
        background-size: 27px 27px;
        top: 1px;
    }

    .nav-window.pull-left .mobile-links ul li a.launchboard-link:before {
        width: 23px;
        height: 29px;
        background-image: url("../images/svg/icon-launchboard.svg");
        background-size: 23px 29px;
        top: 0;
        left: 2px;
    }

    .nav-window.pull-left .mobile-links ul li a.sungard-link:before {
        width: 22px;
        height: 26px;
        background-image: url("../images/svg/user-company-icon.svg");
        background-size: 22px 26px;
        top: 2px;
        left: 3px;
    }

    /* 2.2) Recovery Window */
    /* ********************** */

    .nav-window.pull-left .portal-window > header{
        display: block;
    }

    .nav-window.pull-left .portal-window > header h3{
        display: block;
    }

    .nav-window .links-list li a.link-managed-services:before {
        width: 26px;
        height: 26px;
        background-size: 26px 26px;
        top: 8px;
        left: 10px;
    }

    .nav-window .links-list li a.link-recovery-service:before {
        width: 26px;
        height: 26px;
        background-size: 26px 26px;
        top: 8px;
        left: 10px;
    }

    .nav-window .links-list li a.link-cloud:before {
        width: 27px;
        height: 27px;
        background-size: 27px 27px;
        top: 8px;
        left: 10px;
    }

    .nav-window .links-list li a.link-ticketing:before {
        width: 20px;
        height: 28px;
        background-size: 20px 28px;
        top: 7px;
        left: 13px;
    }

    .nav-window .links-list li a.link-spotlight:before {
        width: 24px;
        height: 24px;
        background-size: 24px 24px;
        top: 9px;
        left: 11px;
    }

    /* 2.3) Launchboard Window */
    /* ************************* */

    .nav-window .links-list li a.link-launchboard:before {
        width: 24px;
        height: 28px;
        background-size: 24px 28px;
        top: 8px;
        left: 10px;
    }
    .nav-window .links-list li a.link-recovery-cloud:before {
        width: 35px;
        height: 27px;
        background-size: 35px 27px;
        top: 10px;
        left: 7px;
    }
    .nav-window .links-list li a.link-test-planning:before {
        width: 21px;
        height: 28px;
        background-size: 21px 28px;
        top: 6px;
        left: 12px;
    }
    .nav-window .links-list li a.link-doc-repo:before {
        width: 23px;
        height: 29px;
        background-size: 23px 29px;
        top: 5px;
        left: 11px;
    }
    .nav-window .links-list li a.link-doc-library:before {
        width: 18px;
        height: 29px;
        background-size: 18px 29px;
        top: 4px;
        left: 15px;
    }

    .nav-window .links-list li a.link-admin:before {
        width: 26px;
        height: 26px;
        background-size: 26px 26px;
        top: 8px;
        left: 12px;
    }

    .nav-window .links-list li a.link-user-admin:before {
        width: 30px;
        height: 30px;
        background-size: 30px 30px;
        top: 6px;
        left: 10px;
    }

    .nav-window .links-list li a.link-r2c-admin:before {
        width: 28px;
        height: 25px;
        background-size: 28px 25px;
        top: 8px;
        left: 10px;
    }

    .nav-window .links-list li a.link-doc-library-repo-admin:before {
        width: 25px;
        height: 30px;
        background-size: 25px 30px;
        top: 7px;
        left: 13px;
    }

    /* 2.4) Sungard Window */
    /* ********************* */

    .nav-window.impersonate-window .input-container {
        padding: 11px 15px 16px;
    }

    .nav-window.impersonate-window .user-list {
        padding: 12px 13px 0 10px;
        max-height: 100%;
        overflow-y: visible;
    }

    .nav-window.impersonate-window .user-list li {
        margin-bottom: 0;
    }

    .nav-window.impersonate-window .user-list li > div .user-name,
    .nav-window.impersonate-window .user-list li > div .company-name {
        font-size: 14px;
        line-height: 18px;
    }
    
    .info-clone-container{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 99;
    }

    .nav-window.impersonate-window .user-list li > div .info,
    .info-clone{
        position: fixed;
        top: 111px;
        left: 4%;
        width: 92%;
        font-size: 12px;
    }

    .info-clone .close-button{
        content: '';
        width: 27px;
        height: 30px;
        position: absolute;
        top: 11px;
        right: 6px;
        cursor: pointer;
        background-image: url("../images/svg/close-icon-white.svg");
        background-position: 50%;
    }

    .nav-window.impersonate-window .user-list li > div .info .wrapper,
    .info-clone .wrapper {
        margin: 4px 0 0 0;
        padding: 13px 20px 9px 15px;
    }

    .nav-window.impersonate-window .user-list li > div .info:before, .info-clone:before {
        display: none;
    }

    .nav-window.impersonate-window .nav-window-content {
        transition: opacity 0.3s;
    }

    .nav-window.impersonate-window .nav-window-content.low-opacity {
        opacity: 0.1;
    }

    .nav-window.impersonate-window .user-list li .users-button{
        display: block;
    }

    /* 2.5) Ticketing Window */
    /* *********************** */

    .nav-window.ticketing-window header:before {
        left: auto!important;
        right: 94px;
    }

    .nav-window.ticketing-window .ticket-list {
        max-height: 100%;
    }

    .nav-window.ticketing-window .ticket-list .ticket {
        margin: 0 0 7px;
    }

    .nav-window.ticketing-window .ticket-list .ticket a {
        padding: 7px 6px 8px 28px;
        font-size: 13px;
        line-height: 16px;
    }

    .nav-window.ticketing-window .ticket-list .ticket a:before {
        top: 9px;
    }

    .nav-window.ticketing-window .ticket-list .ticket.resolved a:before {
        top: 8px;
    }

    .nav-window.ticketing-window .ticket-list .ticket a:after {
        top: 12px;
    }

    .nav-window.ticketing-window .ticket-list .ticket a:hover, .nav-window.ticketing-window .ticket-list .ticket.new a {
        padding: 7px 6px 8px 28px;
    }

    .nav-window.ticketing-window .ticket-list .ticket a h6 {
        font-size: 13px;
        line-height: 16px;
        letter-spacing: 0.4px;
        padding: 0 15px 0 0;
        max-width: 95%;
    }

    .nav-window.ticketing-window .ticket-list .ticket.resolved a h6 {
        letter-spacing: 0.1px;
        line-height: 18px;
    }

    .nav-window.ticketing-window .ticket-list .ticket a p {
        line-height: 18px;
        margin: 3px 0 0;
        letter-spacing: 0;
    }

    .nav-window.ticketing-window .ticket-list .ticket a > span {
        margin: 5px 0 0;
    }

    .nav-window.ticketing-window .ticket-list .ticket.resolved a span {
        margin: -2px 0 0;
    }

    .nav-window.ticketing-window .search-form .form-buttons {
        padding: 11px 0 16px;
    }

    .form-button.form-button-large {
        width: 45%;
        padding: 9px 0 10px;
    }

    .nav-window.ticketing-window .form-buttons .form-button.form-button-large.search-button {
        background-position: 73% 9px;
        padding: 9px 0 10px 0;
    }

    .nav-window.ticketing-window .search-form .form {
        max-height: 100%;
        overflow: visible;
    }

    .nav-window.ticketing-window .search-form .form.open + .form-buttons {
        background-color: #fff;
    }

    .nav-window.ticketing-window .new-ticket-form .form {
        height: 100%;
        overflow: visible;
    }

    .nav-window.ticketing-window .new-ticket-form form{
        overflow: visible;
    }

    .nav-window.ticketing-window .new-ticket-form .form-buttons {
        background-color: #fff;
    }

    .nav-window.ticketing-window .ticket-tabs .tab-ticket-details ul li span:last-child {
        width: auto;
    }

    .nav-window.ticketing-window .comment-input-container.open textarea {
        height: 35px;
    }

    /* 2.6) Tour Window */
    /* ****************** */

    .nav-window.tour-window > header:before {
        left: auto!important;
        right: 57px;
    }

    .nav-window.tour-window .toggle-container {
        padding: 25px 30px;
        border-radius: 0;
    }

    .nav-window.tour-window .toggle-container span {
        font-size: 16px;
        letter-spacing: 0.3px;
        padding: 1px 0 0;
    }

    .nav-window.tour-window .toggle-container .toggle-button {
        width: 43px;
        height: 23px;
        margin: 1px 0 0;
    }

    .nav-window.tour-window .toggle-container .toggle-button .circle {
        width: 17px;
        height: 17px;
        border-radius: 9px;
        background-size: 9px 10px;
        background-position: 4px 3px;
        top: 2px;
        left: 2px;
    }

    .nav-window.tour-window .toggle-container.open .toggle-button .circle {
        background-size: 12px 10px;
        background-position: 2px 4px;
        left: 21px;
    }

    /* 2.6.1) Tour Window -> Tour Container */
    /* ************************************ */

    #tour-container .tour-step {
        width: calc(100% - 30px);
        position: absolute;
        top: 45px;
        left: 15px!important;
    }

    #tour-container .tour-step .window {
        width: 100%;
        top: 21px;
        padding: 15px 12px 17px 16px;
        left: 0!important;
    }

    #tour-container .tour-step .window .close-button {
        width: 20px;
        height: 20px;
        top: 10px;
        right: 30px;
        padding: 5px 0 0;
    }

    .nav-window.tour-window .leaving-tour {
        padding: 17px 0 16px 30px;
    }

    #tour-container .tour-step .window h6, .nav-window.tour-window .leaving-tour h6 {
        font-size: 16px;
    }

    #tour-container .tour-step .window > p, .nav-window.tour-window .leaving-tour p {
        font-size: 15px;
    }

    .nav-window.tour-window .leaving-tour .close-button {
        top: 15px;
        right: 35px;
    }

    #tour-container .tour-step .window footer {
        padding: 11px 0 0;
    }

    #tour-container .tour-step .window footer p {
        margin: 0 0 0 14px;
        padding: 0 0 0 14px;
    }

    #tour-container .tour-step .window footer p:before {
        display: block;
    }

    #tour-container .tour-step .window footer .button-container {
        padding: 0;
        margin: -3px 0 0;
    }

    #tour-container .tour-step .window footer .button-container button {
        width: 21px;
        height: 21px;
        padding: 0;
        position: relative;
    }

    #tour-container .tour-step .window footer .button-container .prev {
        margin-right: 0;
    }

    #tour-container .tour-step .window footer .button-container button svg {
        margin: 0 auto;
    }

    /* 2.6.2) Tour Window -> Information Tab */
    /* ************************************* */

    .nav-window.tour-window .information-tab .content{
        /* max-height: 100%; */
        max-height: none;
    }

    /* 2.6.3) Tour Window -> Tour Steps */
    /* ******************************** */

    #tour-container .tour-step.step2,
    #tour-container .tour-step.step3{
        display: none;
    }

    #tour-container .tour-step.step1 .pulse-dot,
    #tour-container .tour-step.step2 .pulse-dot,
    #tour-container .tour-step.step3 .pulse-dot {
        left: 89px!important;
        display: none;
    }

    #tour-container .tour-step.step1 .pulse-dot{
        display: block!important;
    }

    #tour-container .tour-step.active.step2 .pulse-dot,
    #tour-container .tour-step.active.step3 .pulse-dot {
        display: none!important;
    }

    #tour-container .tour-step.step5 .pulse-dot{
        right: 97px!important;
    }

    #tour-container .tour-step.step6 .pulse-dot{
        right: 60px!important;
    }

    #tour-container .tour-step.step7 .pulse-dot{
        right: 22px!important;
    }

    #tour-container .tour-step.step1 .triangle,
    #tour-container .tour-step.step2 .triangle,
    #tour-container .tour-step.step3 .triangle {
        left: 71px!important;
    }

    #tour-container .tour-step.step5 .triangle{
        right: 79px!important;
        left: auto!important;
    }

    #tour-container .tour-step.step6 .triangle{
        right: 42px!important;
        left: auto!important;
    }

    #tour-container .tour-step.step7 .triangle{
        right: 4px!important;
        left: auto!important;
    }

    /* 2.7) User Window */
    /* **************** */

    .nav-window.user-window > header:before {
        left: auto!important;
        right: 18px;
    }

    .nav-window header button.wide-header-button {
        width: 49%;
    }

    .nav-window.user-window .profile-tab header {
        padding: 7px 19px 6px 28px;
        height: 48px;
    }

    .nav-window.user-window .profile-tab header .button-container button {
        -ms-transform: scale(1.19);
        -webkit-transform: scale(1.19);
        transform: scale(1.19);
    }

    .nav-window.user-window .profile-tab header .button-container button:last-child {
        margin: 0 0 0 1px;
    }

    .nav-window.user-window .profile-tab .user-info ul {
        padding: 15px 10px 14px 28px;
    }

    .nav-window.user-window .profile-tab .user-info ul li{
        margin: 0 0 1px;
    }

    .nav-window.user-window .profile-tab .user-info ul li span {
        font-size: 13px;
    }

    .nav-window.user-window .profile-tab .user-info ul li span:first-child {
        width: 94px;
    }

    .nav-window.user-window .profile-tab .form-buttons {
        background-color: #fff;
    }

    .nav-window.user-window .contacts-tab .input-container {
        padding: 12px 13px 16px 14px;
    }

    .nav-window.user-window .contacts-tab .search-results {
        font-size: 13px;
        padding: 13px 17px 15px;
        height: 100%;
        overflow: visible;
    }

    .nav-window.user-window .contacts-tab .search-results li {
        margin: 0 0 13px;
    }

    .nav-window.user-window .contacts-tab .search-results li > span {
        margin: 3px 0 0;
    }

    .nav-window.user-window .contacts-tab .search-results li a {
        margin: 3px 0 0;
    }

    /* 3) Footer */
    /* ********* */

    footer#main-footer{
        height: 20px;
        font-size: 8px;
        border-top: none;
        padding: 2px 5px 0px 6px;
    }

    footer#main-footer .links{
        float: right;
    }

    footer#main-footer .links:before{
        display: none;
    }

    footer#main-footer .links a:first-child:after{
        height: 8px;
        background-color: #CDCDCD;
        top: 5px;
    }

    footer#main-footer .links a{
        margin: 0 0 0 10px;
    }
}