@charset "UTF-8";

.no-svg .dummy-container:before {
    content: url("../../images/dreamten/png/logo.png") url("../../images/dreamten/png/arrow-down.png") url("../../images/dreamten/png/arrow-down-blue.png") url("../../images/dreamten/png/icon-events.png") url("../../images/dreamten/png/icon-events-blue.png") url("../../images/dreamten/png/icon-tickets.png") url("../../images/dreamten/png/icon-tickets-blue.png") url("../../images/dreamten/png/icon-info.png") url("../../images/dreamten/png/icon-info-blue.png") url("../../images/dreamten/png/icon-user.png") url("../../images/dreamten/png/icon-user-blue.png") url("../../images/dreamten/png/refresh.png") url("../../images/dreamten/png/refresh-blue.png") url("../../images/dreamten/png/search-icon.png") url("../../images/dreamten/png/search-icon-blue.png") url("../../images/dreamten/png/new-ticket.png") url("../../images/dreamten/png/new-ticket-blue.png") url("../../images/dreamten/png/new-ticket-white.png") url("../../images/dreamten/png/check-mark.png") url("../../images/dreamten/png/arrow-right.png") url("../../images/dreamten/png/refresh-box-icon.png") url("../../images/dreamten/png/arrow-left.png") url("../../images/dreamten/png/arrow-left-blue.png") url("../../images/dreamten/png/comment-bubble.png") url("../../images/dreamten/png/report-problem-icon.png") url("../../images/dreamten/png/request-change-icon.png") url("../../images/dreamten/png/get-assistance-icon.png") url("../../images/dreamten/png/schedule-visit-icon.png") url("../../images/dreamten/png/report-problem-small.png") url("../../images/dreamten/png/request-change-small.png") url("../../images/dreamten/png/get-assistance-small.png") url("../../images/dreamten/png/schedule-visit-small.png") url("../../images/dreamten/png/dropdown-arrows.png") url("../../images/dreamten/png/search-icon-black.png") url("../../images/dreamten/png/calendar-icon.png") url("../../images/dreamten/png/calendar-icon-blue.png") url("../../images/dreamten/png/arrow-down2.png") url("../../images/dreamten/png/arrow-down2-blue.png") url("../../images/dreamten/png/arrow-up.png") url("../../images/dreamten/png/arrow-up-blue.png") url("../../images/dreamten/png/search-icon-white.png") url("../../images/dreamten/png/calendar-arrow-left.png") url("../../images/dreamten/png/calendar-arrow-right.png") url("../../images/dreamten/png/calendar-dropdown-arrows.png") url("../../images/dreamten/png/close-icon.png") url("../../images/dreamten/png/search-icon-black.png") url("../../images/dreamten/png/close-icon2.png") url("../../images/dreamten/png/close-icon2-hover.png") url("../../images/dreamten/png/tick.png") url("../../images/dreamten/svg/arrow-right2.svg") url("../../images/dreamten/png/icon-viewpoint.png") url("../../images/dreamten/png/icon-recovery-service.png") url("../../images/dreamten/png/icon-cloud.png") url("../../images/dreamten/png/icon-ticketing.png") url("../../images/dreamten/png/icon-spotlight.png") url("../../images/dreamten/png/icon-launchboard.png") url("../../images/dreamten/png/icon-recover-cloud.png") url("../../images/dreamten/png/icon-test-planning.png") url("../../images/dreamten/png/icon-doc-repo.png") url("../../images/dreamten/png/icon-doc-library.png") url("../../images/dreamten/png/icon-admin.png") url("../../images/dreamten/png/icon-user-admin.png") url("../../images/dreamten/png/icon-r2c-admin.png") url("../../images/dreamten/png/icon-doc-library-repo-admin.png") url("../../images/dreamten/png/user-company-icon.png") url("../../images/dreamten/png/arrow-right2.png") url("../../images/dreamten/png/user-individual-icon.png");
}

.no-svg header#main-header #logo {
    background: rgba(255,255,255,0.95) url("../../images/dreamten/png/logo.png") no-repeat 27px 10px;
}

.no-svg header#main-header nav.pull-left .nav-dropdown-button:after {
    background: url("../../images/dreamten/png/arrow-down.png");
}

.no-svg header#main-header nav.pull-left .nav-dropdown-button:hover:after {
    background: url("../../images/dreamten/png/arrow-down-blue.png");
}

.no-svg header#main-header nav.pull-right > .button-container > button,
.no-svg header#main-header nav.pull-right > .dark-bg .button-container > button,
.no-svg .nav-window header .button-container button {
    box-sizing: content-box;
}

.no-svg header#main-header nav.pull-right > .button-container > button,
.no-svg header#main-header nav.pull-right > .dark-bg .button-container > button {
    padding: 0 8px;
}

.no-svg header#main-header nav.pull-right > .button-container > button,
.no-svg header#main-header nav.pull-right > .dark-bg .button-container > button,
.no-svg .nav-window header .button-container button {
    background-position: 50%;
}

.no-svg header#main-header nav.pull-right .events-button {
    width: 26px;
    background-image: url("../../images/dreamten/png/icon-events.png");
}

.no-svg header#main-header nav.pull-right .events-button:hover {
    background-image: url("../../images/dreamten/png/icon-events-blue.png");
}

.no-svg header#main-header nav.pull-right .tickets-button {
    width: 18px;
    background-image: url("../../images/dreamten/png/icon-tickets.png");
}

.no-svg header#main-header nav.pull-right .tickets-button:hover {
    background-image: url("../../images/dreamten/png/icon-tickets-blue.png");
}

.no-svg header#main-header nav.pull-right .info-button {
    width: 25px;
    background-image: url("../../images/dreamten/png/icon-info.png");
}

.no-svg header#main-header nav.pull-right .info-button:hover {
    background-image: url("../../images/dreamten/png/icon-info-blue.png");
}

.no-svg header#main-header nav.pull-right .user-button {
    width: 25px;
    background-image: url("../../images/dreamten/png/icon-user.png");
}

.no-svg header#main-header nav.pull-right .user-button:hover {
    background-image: url("../../images/dreamten/png/icon-user-blue.png");
}

.no-svg .nav-window header .refresh-button {
    width: 25px;
    background-image: url("../../images/dreamten/png/refresh.png");
}

.no-svg header#main-header nav.pull-right .refresh-button:hover {
    background-image: url("../../images/dreamten/png/refresh-blue.png");
}

.no-svg .nav-window header .search-button {
    width: 19px;
    background-image: url("../../images/dreamten/png/search-icon.png");
}

.no-svg header#main-header nav.pull-right .search-button:hover {
    background-image: url("../../images/dreamten/png/search-icon-blue.png");
}

.no-svg .nav-window header .new-ticket-button {
    width: 21px;
    background-image: url("../../images/dreamten/png/new-ticket.png");
}

.no-svg header#main-header nav.pull-right .new-ticket-button:hover {
    background-image: url("../../images/dreamten/png/new-ticket-blue.png");
}

.no-svg .nav-window header .new-ticket-button.active {
    background-image: url("../../images/dreamten/png/new-ticket-white.png") !important;
}

.no-svg .nav-window .ticket-list li.ticket.resolved a:before {
    background-image: url("../../images/dreamten/png/check-mark.png");
}

.no-svg .nav-window .ticket-list li.ticket:hover a h6:after {
    background-image: url("../../images/dreamten/png/arrow-right.png");
}

.no-svg .nav-window .refresh-box span:first-child {
    width: 23px;
    height: 18px;
    background-image: url("../../images/dreamten/png/refresh-box-icon.png");
}

.no-svg .nav-window header h3.back {
    padding: 11px 0 10px 31px;
    background-image: url("../../images/dreamten/png/arrow-left.png");
    background-position: 16px 14px;
}

.no-svg .nav-window header h3.back:hover {
    background-image: url("../../images/dreamten/png/arrow-left-blue.png");
}

.no-svg .nav-window .comment-input-container textarea {
    background-image: url("../../images/dreamten/png/comment-bubble.png");
}

.no-svg .nav-window .comment-input-container.open textarea {
    background-image: none;
}

.no-svg .nav-window .new-ticket-type-selection button {
    padding: 54px 0 19px;
}

.no-svg .nav-window .new-ticket-type-selection button.nt-report-problem {
    background-image: url("../../images/dreamten/png/report-problem-icon.png");
    background-position: 50% 17px;
}

.no-svg .nav-window .new-ticket-type-selection button.nt-request-change {
    background-image: url("../../images/dreamten/png/request-change-icon.png");
    background-position: 50% 17px;
}

.no-svg .nav-window .new-ticket-type-selection button.nt-get-assistance {
    background-image: url("../../images/dreamten/png/get-assistance-icon.png");
    background-position: 50% 17px;
}

.no-svg .nav-window .new-ticket-type-selection button.nt-schedule-visit {
    background-image: url("../../images/dreamten/png/schedule-visit-icon.png");
    background-position: 50% 17px;
}

.no-svg .nav-window .new-ticket-form.report-problem-form .ticket-type {
    background-image: url("../../images/dreamten/png/report-problem-small.png");
}

.no-svg .nav-window .new-ticket-form.request-change-form .ticket-type {
    background-image: url("../../images/dreamten/png/request-change-small.png");
}

.no-svg .nav-window .new-ticket-form.get-assistance-form .ticket-type {
    background-image: url("../../images/dreamten/png/get-assistance-small.png");
}

.no-svg .nav-window .new-ticket-form.schedule-visit-form .ticket-type {
    background-image: url("../../images/dreamten/png/schedule-visit-small.png");
}

.no-svg select.input-box {
    background-image: url("../../images/dreamten/png/dropdown-arrows.png");
}

.no-svg input[type="search"].input-box {
    background-image: url("../../images/dreamten/png/search-icon-black.png");
}

.no-svg .form-group .hasDatepicker {
    background-image: url("../../images/dreamten/png/calendar-icon.png");
}

.no-svg .form-group .hasDatepicker:hover,
.no-svg .form-group .hasDatepicker:focus {
    background-image: url("../../images/dreamten/png/calendar-icon-blue.png");
}

.no-svg .nav-window .search-form .advanced-search > span span:last-child {
    width: 10px;
    height: 4px;
    display: inline-block;
    background-image: url("../../images/dreamten/png/arrow-down2.png");
}

.no-svg .nav-window .search-form .advanced-search:hover > span span:last-child {
    background-image: url("../../images/dreamten/png/arrow-down2-blue.png");
}

.no-svg .nav-window .search-form .advanced-search.open > span span:last-child {
    background-image: url("../../images/dreamten/png/arrow-up.png");
}

.no-svg .nav-window .search-form .advanced-search.open:hover > span span:last-child {
    background-image: url("../../images/dreamten/png/arrow-up-blue.png");
}

.nav-window .form-buttons .form-button.form-button-large.search-button {
    background-image: url("../../images/dreamten/png/search-icon-white.png");
}

.no-svg .ui-datepicker .ui-datepicker-prev span {
    background-image: url("../../images/dreamten/png/calendar-arrow-left.png");
}

.no-svg .ui-datepicker .ui-datepicker-next span {
    background-image: url("../../images/dreamten/png/calendar-arrow-right.png");
}

.no-svg ul.tagit li.tagit-choice .tagit-close {
    background-image: url("../../images/dreamten/png/close-icon.png");
}

.no-svg .nav-window .new-ticket-form input[type="search"].input-box {
    background-image: url("../../images/dreamten/png/search-icon-black.png");
}

.no-svg .nav-window .clear-search{
    padding-right: 12px;
    background-position: 100% 50%;
    background-image: url("../../images/dreamten/png/close-icon2.png");
}

.no-svg .nav-window .clear-search:hover{
    background-image: url("../../images/dreamten/png/close-icon2-hover.png");
}

.no-svg .form-group input[type="checkbox"]:checked + label:after {
    background-image: url("../../images/dreamten/png/tick.png");
}

.no-svg .nav-window .links-list li a.with-sub:after{
    background-image: url("../../images/dreamten/png/arrow-right2.png");
}

.no-svg .nav-window .links-list li a.link-viewpoint:before {
    background-image: url("../../images/dreamten/png/icon-viewpoint.png");
}

.no-svg .nav-window .links-list li a.link-recovery-service:before {
    background-image: url("../../images/dreamten/png/icon-recovery-service.png");
}

.no-svg .nav-window .links-list li a.link-cloud:before {
    background-image: url("../../images/dreamten/png/icon-cloud.png");
}

.no-svg .nav-window .links-list li a.link-ticketing:before {
    background-image: url("../../images/dreamten/png/icon-ticketing.png");
}

.no-svg .nav-window .links-list li a.link-spotlight:before {
    background-image: url("../../images/dreamten/png/icon-spotlight.png");
}

.no-svg .nav-window .links-list li a.link-launchboard:before {
    background-image: url("../../images/dreamten/png/icon-launchboard.png");
}

.no-svg .nav-window .links-list li a.link-recovery-cloud:before {
    background-image: url("../../images/dreamten/png/icon-recover-cloud.png");
}

.no-svg .nav-window .links-list li a.link-test-planning:before {
    background-image: url("../../images/dreamten/png/icon-test-planning.png");
}

.no-svg .nav-window .links-list li a.link-doc-repo:before {
    background-image: url("../../images/dreamten/png/icon-doc-repo.png");
}

.no-svg .nav-window .links-list li a.link-doc-library:before {
    background-image: url("../../images/dreamten/png/icon-doc-library.png");
}

.no-svg .nav-window .links-list li a.link-admin:before {
    background-image: url("../../images/dreamten/png/icon-admin.png");
}

.no-svg .nav-window .links-list li a.link-user-admin:before {
    background-image: url("../../images/dreamten/png/icon-user-admin.png");
}

.no-svg .nav-window .links-list li a.link-r2c-admin:before {
    background-image: url("../../images/dreamten/png/icon-r2c-admin.png");
}

.no-svg .nav-window .links-list li a.link-doc-library-repo-admin:before {
    background-image: url("../../images/dreamten/png/icon-doc-library-repo-admin.png");
}

.no-svg .nav-window.sungard-window .search-results .user-list li .company .icon,
.no-svg .nav-window.sungard-window .selected-company span {
    background-image: url("../../images/dreamten/png/user-company-icon.png");
}

.no-svg .nav-window.sungard-window .search-results .user-list li .with-sub:after {
    background-image: url("../../images/dreamten/png/arrow-right2.png");
}

.no-svg .nav-window.sungard-window .search-results .user-list li .user .icon {
    background-image: url("../../images/dreamten/png/user-individual-icon.png");
}


.no-boxshadow .nav-window {
    border: 1px solid #ababab;
}
