@charset "UTF-8";

@media (min-width: 768px) and (max-width: 1023px) {
    header#main-header #logo {
        width: 136px;
        height: 60px;
        background-position: 13px 10px;
    }
    
    header#main-header nav.left {
        margin: 21px 0 0 18px;
    }

    header#main-header nav.left .button-container {
        margin: 0 26px 0 0;
    }

}