@charset "UTF-8";

@media (max-width: 767px){
    header#main-header{
        height: 60px;
        border: none;
        border-bottom: 1px solid #E7E7E7;
    }
    
    header#main-header #logo {
        width: 64px;
        background-position: 13px 10px;
        background-image: url("../../images/dreamten/svg/logo-icon.svg");
    }

    header#main-header nav.pull-left {
        display: none;
    }

    header#main-header nav.pull-right > .button-container > button.active,
    header#main-header nav.pull-right > .dark-bg .button-container > button.active {
        background-image: url("../../images/dreamten/svg/nav-close.svg");
        background-position: 4px 18px;
        background-repeat: no-repeat;
    }

    header#main-header nav.pull-right > .button-container > button.active svg,
    header#main-header nav.pull-right > .dark-bg .button-container > button.active svg{
        opacity: 0;
    }

    header#main-header nav.pull-right > .button-container,
    header#main-header nav.pull-right > .dark-bg .button-container{
        position: static;
    }

    /* header#main-header.nav-open nav.pull-right > .button-container > button,
    header#main-header.nav-open nav.pull-right > .dark-bg .button-container > button {
        opacity: 0.2;
    } */

    header#main-header.nav-open nav.pull-right > .button-container > button.active,
    header#main-header.nav-open nav.pull-right > .dark-bg .button-container > button.active {
        opacity: 1;
    }

    .nav-window {
        width: 100%;
        top: 60px;
        left: 0;
        box-shadow: none;
        border-radius: 0;
    }

    .nav-window header {
        /* height: 42px; */
        border-radius: 0;
    }
    
    .nav-window.ticketing-window,
    .nav-window.user-window {
    	left: 0 !important;
    	padding: 1px;
	}

    .nav-window.ticketing-window header:before {
        left: auto;
        right: 103px;
    }
    
    .nav-window.user-window header:before {
        left: auto;
        right: 28px;
    }

    .nav-window.ticketing-window header .button-container {
        padding: 4px 3px 0 0;
    }

    .nav-window header .button-container button:hover span {
        display: none!important;
    }

    .nav-window .nav-window-content > div {
        width: 100%;
        /* height: 100%; */
        /* padding: 0 0 30px; */
    }

    .nav-window .ticket-list {
        padding: 7px 6px 0;
        max-height: 100%;
    }

    .nav-window .ticket-list .ticket {
        margin: 0 0 7px;
    }

    .nav-window .ticket-list .ticket a {
        margin: 0 0 0 0;
        padding: 5px 20px 9px 28px;
        border: 1px solid #fff;
        font-size: 13px;
    }

    .nav-window .ticket-list .ticket a:hover,
    .nav-window .ticket-list .ticket.new a {
        padding: 5px 20px 9px 28px;
    }

    .nav-window .ticket-list .ticket a:before {
        top: 8px;
        left: 8px;
    }

    .nav-window .ticket-list .ticket.resolved a:before {
        top: 7px;
        left: 8px;
    }

    .nav-window .ticket-list .ticket a:after {
        top: 11px;
        left: 11px;
    }

    .nav-window .ticket-list .ticket a h6,
    .nav-window .ticket-list .ticket.resolved a h6{
        font-size: 13px;
        line-height: 18px;
        letter-spacing: 0.27px;
        padding: 0;
        max-width: 100%;
    }

    .nav-window .ticket-list .ticket a p {
        line-height: 18px;
        margin: 3px 0 0;
        letter-spacing: -0.11px;
    }

    .nav-window .ticket-list .ticket a > span {
        margin: 5px 0 0;
    }

    .nav-window .ticket-list .ticket.resolved a span {
        margin: 1px 0 0;
    }

    .nav-window header h3 svg {
        margin: 4px 7px -1px 0;
    }

    .nav-window .search-form .form-buttons.double-buttons,
    .form-buttons.double-buttons{
        padding: 14px 15px 16px;
    }

    .form-buttons.double-buttons .form-button.form-button-large {
        width: 48%;
    }

    .form-buttons.double-buttons .form-button.form-button-large:first-child {
        float: left;
    }

    .form-buttons.double-buttons .form-button.form-button-large {
        float: right;
    }

    .nav-window .search-form .form {
        max-height: 100%;
    }

    .nav-window .new-ticket-type-selection {
        padding: 16px 0 33px;
    }

    .nav-window .new-ticket-type-selection button {
        width: 45.5%;
        margin: 0 1px 5px;
        padding: 17px 0 19px;
    }

    .nav-window .new-ticket-form .form {
        height: auto;
    }

    .nav-window .new-ticket-form .form-buttons {
        padding: 12px 11px 10px 13px;
    }

    .nav-window .new-ticket-form .form-buttons.fixed {
        position: fixed;
        bottom: 0;
    }

    .nav-window .new-ticket-form{
        padding-bottom: 62px;
    }

    .nav-window .ticket-tabs .tab {
        height: auto;
        max-height: 100%!important;
    }

    .nav-window .comment-input-container.fixed {
        padding: 17px 16px 12px 15px;
        position: fixed;
        z-index: 99;
    }
}