@charset "UTF-8";

/* cache busting NOTE: add at the end of every IMAGE file this: ?v=#version# */

/* BOOK Webfont */
@font-face {
    font-family: '../../webfont/avenir_45_bookregular';
    src: url('../../webfont/avenir-book-webfont.eot');
	src: local("☺"), /* http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/ */
         url('../../webfont/avenir-book-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webfont/avenir-book-webfont.woff') format('woff'),
         url('../../webfont/avenir-book-webfont.ttf') format('truetype'),
         url('../../webfont/avenir-book-webfont.svg#avenir_45_bookregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* MEDIUM Webfont */
@font-face {
    font-family: '../../webfont/avenir_65medium';
    src: url('../../webfont/avenir-medium-webfont.eot');
	src: local("☺"), /* http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/ */
    	  url('../../webfont/avenir-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../../webfont/avenir-medium-webfont.woff') format('woff'),
         url('../../webfont/avenir-medium-webfont.ttf') format('truetype'),
         url('../../webfont/avenir-medium-webfont.svg#avenir_65medium') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* LIGHT Web Fonts */
@font-face {
	font-family: "../../webfont/Avenir-Light" !important;
	
	/* the 4 below for IE9 */
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	/* unicode-range:urange; */
	
	src: url("../../webfont/Avenir-Light.eot"); /* IE9 Compat Modes */
	src: local("☺"), /* http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/ */
        url('../../webfont/Avenir-Light.eot?#iefix') format('embedded-opentype'),
		 url("../../webfont/Avenir-Light.woff") format("woff"), /* Modern Browsers */
		 url("../../webfont/Avenir-Light.otf") format("opentype"), /* Modern Browsers */
		 url("../../webfont/Avenir-Light.ttf") format("truetype"), /* Safari, Android, iOS */
		 url("../../webfont/Avenir-Light.svg#Avenir-Light") format("svg"); /* Legacy iOS */
}
	 
/* BOOK Web Fonts */
@font-face {
	font-family: "../../webfont/Avenir-Book" !important;	

	/* the 4 below for IE9 */
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	/* unicode-range:urange; */

	src: url("../../webfont/Avenir-Book.eot"); /* IE9 Compat Modes */
	src: local("☺"), /* http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/ */
		 url('../../webfont/Avenir-Book.eot?#iefix') format('embedded-opentype'),
		 url("../../webfont/Avenir-Book.woff") format("woff"), /* Modern Browsers */
		 url("../../webfont/Avenir-Book.otf") format("opentype"), /* Modern Browsers */
		 url("../../webfont/Avenir-Book.ttf")  format("truetype"), /* Safari, Android, iOS */
		 url("../../webfont/Avenir-Book.svg#Avenir-Book") format("svg"); /* Legacy iOS */
}
	 
/* MEDIUM Web Fonts */
@font-face {
	font-family: "../../webfont/Avenir-Medium" !important;	
		
	/* the 4 below for IE9 */
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	/* unicode-range:urange; */

	src: url("../../webfont/Avenir-Medium.eot"); /* IE9 Compat Modes */
	src: local("☺"), /* http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/ */
		url('../../webfont/Avenir-Medium.eot?#iefix') format('embedded-opentype'),
		 url("../../webfont/Avenir-Medium.woff") format("woff"), /* Modern Browsers */
		 url("../../webfont/Avenir-Medium.otf") format("opentype"), /* Modern Browsers */
		 url("../../webfont/Avenir-Medium.ttf")  format("truetype"), /* Safari, Android, iOS */
		 url("../../webfont/Avenir-Medium.svg#Avenir-Medium") format("svg"); /* Legacy iOS */
}
	 
/* HEAVY Web Fonts */
@font-face {
	font-family: "../../webfont/Avenir-Heavy" !important;
	
	/* the 4 below for IE9 */
	font-weight: normal;
	font-style: normal;
	font-stretch: normal;
	/* unicode-range:urange; */
	
	src: url("../../webfont/Avenir-Heavy.eot"); /* IE9 Compat Modes */
	src: local("☺"), /* http://paulirish.com/2009/bulletproof-font-face-implementation-syntax/ */
        url('../../webfont/Avenir-Heavy.eot?#iefix') format('embedded-opentype'),
		 url("../../webfont/Avenir-Heavy.woff") format("woff"), /* Modern Browsers */
		 url("../../webfont/Avenir-Heavy.otf") format("opentype"), /* Modern Browsers */
		 url("../../webfont/Avenir-Heavy.ttf")  format("truetype"), /* Safari, Android, iOS */
		 url("../../webfont/Avenir-Heavy.svg#Avenir-Heavy") format("svg"); /* Legacy iOS */
}