@charset "UTF-8";

/* cache busting NOTE: add at the end of every image file this: ?v=#version# */

.wrapper {
	background-color:rgba(242, 242, 242, 1);
	font-family: '../../webfont/avenir_45_bookregular', arial, sans-serif !important;
	text-shadow:none;
	line-height: inherit;
	outline: none !important;
	color: #504F4F;
	font-size:100%;
	width:100%;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								BUTTON Styling     				    */
/* //////////////////////////////////////////////////////////////////// */


.wrapper a:hover,
.wrapper btn:hover,
.wrapper button:hover {
    background-color: transparent !important;
	text-decoration:none;
    outline: 0 none !important;
    color: #545454;
}


.wrapper a:active,
.wrapper btn:active,
.wrapper button:active,
.wrapper tool-link li.active {
    background-color: #4691ac !important;
	text-decoration:none;
    outline: 0 none !important;
    color: #ffffff !important;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								HEADER Styling     				    */
/* //////////////////////////////////////////////////////////////////// */

#header {
	/* height: 80px;
	z-index: 99;
	margin: 0 -15px; */
	z-index: 99;
	margin: 0;
	position: fixed;
	top:0;
	left:0;
	height:62px !important;
	background-color: rgba(255, 255, 255, 0.95) !important;
}

.header-left-side, .header-right-side {height: 62px; padding: 10px 0;}
.header-left-side {padding: 0px;}
/* .header-right-side {background-color: rgba(233, 233, 233, 0.65) !important;} */

.edit-view-icon {width: 36%;height: 36%;}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 		                 Styling for Home Welcome Page 		                  */
/* /////////////////////////////////////////////////////////////////////////// */

.login-messaging-block {
    background-color: rgba(0, 0, 0, 0.65);
    color: #ffffff;
    height: auto;
    left: 0px;
    letter-spacing: 0.02em;
    margin: 0;
    padding: 20px 80px 20px 20px;
    position: absolute;
    top: 80px;
    z-index: 2;
    width: 320px;
  }

.login-messaging-slant /*, .home-messaging-slant */ {
	width: 100%;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 40px solid transparent;
	border-top: 80px solid rgba(74, 74, 74, 0.75);
	position:absolute;
	left:0;
	bottom:-80px;
	z-index: -1;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 						60 degree Slant Styling     				    */
/* //////////////////////////////////////////////////////////////////// */

.header-slant {
	border-left: 0 solid rgba(233, 233, 233, 0.65);
    border-right: 45px solid rgba(233, 233, 233, 0.65);
    border-top: 80px solid rgba(0, 0, 0, 0);
    bottom: 0px;
    height: 0;
    left: -45px;
    position: absolute;
    width: 0;
    z-index: -2;
    
    display:none;
}

.login-slant {
    border-left: 0 solid transparent;
    border-right: 12px solid transparent;
    border-top: 18px solid #4692ad;
    bottom: -18px;
    height: 0;
    left: 0;
    position: absolute;
    width: 100%;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 		        	          USER HELP AREA Styling                           */
/* /////////////////////////////////////////////////////////////////////////// */

.menu-drawers {
   color: #FFFFFF;
    display: inline-block;
    float: right;
    padding: 0 3px;
    position: fixed;
    right: 15px;
    /* z-index: 5000; */
   }
   
.menu-drawers-title {
    color: #FFFFFF;
    padding: 0 3px;
    font-size: 70%;
    position:relative;
    top:2px;
}   
    
.userMenu {top: 0px; right: -300px;}
.companyMenu {top: 25px; right: -225px;}
.informationMenu {top: 50px; right: -225px;}
.filterMenu {top: 80px; right: -225px; z-index: 500 !important;}
.actionsMenu {top: 80px; right: -225px; z-index: 500 !important;}
.displaysMenu {top: 80px; right: -225px; z-index: 500 !important;}
   
.forgot-password-text { padding: 0 !important; color:#fff; float:right; margin-top:10px; }

.logout-button {
    float: left;
    margin-right: 15px;
    position: relative;
   }

.logout-button .btn {
   background-color: rgba(70, 146, 173, 0.9);
    padding: 0 0 0 6px;
    border-radius: 0;
    color:#fff;
    height:auto; /* was 25px; */

   }
   
.logout-button-slant {
    border-left: 0 solid rgba(0, 0, 0, 0);
    border-right: 12px solid rgba(0, 0, 0, 0);
    border-top: 25px solid #4691ac; /* rgba(70, 146, 173, 0.9); */
    top: 0px;
    height: 0;
    position: absolute;
    right: -12px;
    }
    
.logout-button .btn:hover { opacity:0.75; }

.user-help-menu-drawer, .company-menu-drawer, .information-menu-drawer {
    background-color:  rgba(0, 0, 0, 0.85);
    float:left;
    position: relative;
    height:auto; /* was 25px; */
    border-radius: 0;
    color:#fff;
    padding-left: 3px;
    width: 220px; /* was width: 175px; */
    }

/* .user-help-menu-drawer .btn {margin-top:1px;} */

.user-help-menu-drawer-slant-left {
    border-right: 0 solid rgba(0, 0, 0, 0);
    border-left: 12px solid rgba(0, 0, 0, 0);
    border-bottom: 25px solid  rgba(0, 0, 0, 0.85);
    left: -12px;
    top: 0px;
    height: 0;
    position: absolute;
    }

.user-help-menu-drawer-slant-right, .company-menu-drawer-slant-right, .information-menu-drawer-slant-right {
    border-left: 0 solid rgba(0, 0, 0, 0);
    border-right: 13px solid rgba(0, 0, 0, 0);
    border-top: 25px solid rgba(0, 0, 0, 0.85);
    right: -13px;
    top: 0px;
    height: 0;
    position: absolute;
    }

.company-input, .filter-input {
    color: #FFFFFF;
    font-size: 70%;
    height:auto; /* was 25px; */
    text-transform: capitalize;
    background-color: #575757;
}
.company-input {width: 170px;}
.filter-input {width: 115px;}

#chaldron-customer-name {padding-top: 8px;}

.login-slant, .header-slant,
.logout-button-slant, .user-help-menu-drawer-slant-right, .user-help-menu-drawer-slant-left,
.company-menu-drawer-slant-right, .information-menu-drawer-slant-right {    
    transform: scale(0.9999);
    -moz-transform: scale(0.9999);
    }


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 		        	FIXED DASHBOARD Customer+App launched Styling                */
/* /////////////////////////////////////////////////////////////////////////// */


 #fixed-dashboard {
    position: fixed; /* was position: fixed; */
    top: 80px;
	width: 100%;
	height:auto; /* was 25px; */
	z-index: 99;
	background-color: rgba(255, 255, 255, 0.95);
	border-bottom: 1px solid rgba(75, 75, 75, 0.10);
	border-top: 1px solid rgba(75, 75, 75, 0.1);
	padding-right:18px; /* was 10px */
  }

#fixed-dashboard .table {margin-bottom: 0px;}

.customer-app {
    border-radius: 0;
    color: #CACACA;
    font-size: 75%;
    height:auto; /* was 25px; */
    width: 200px;
}

.customer-app-icon {padding:5px 0 0 10px;}
.customer-app span {position:relative; top:-3px}
.customer-app-cutout {
	width: 200px;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 5px solid transparent;
	border-top: 10px solid #4692AD ;
	position:absolute;
	left:0;
	bottom:-10px;
	z-index: -2;
}

.portalboard-wrapper {margin:65px 0 0 0 !important;}

#wrapper {
	margin: 0;
    padding: 0;
    position: relative;
    top: 0px;
    z-index: 0;
}

#content { /* must be same height as the footer */
	overflow:auto;
	padding-bottom: 100px; /* was padding-bottom: 180px; */
}

.dash-text {
    font-size: 75%;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 		             DRAWER Styling for App, Tutorial, Help 		           */
/* /////////////////////////////////////////////////////////////////////////// */


.tool-drawer, .tool-icon  {width: 40px;}
.tool-drawer {background-color: #4692AD !important; padding: 25px 0px 0 0;height: 80px;}
.tool-icon {padding: 0 7px;}

.tooldrawer-bg, .informationpopover-bg, .ticketingpopover-bg, .filterpopover-bg {width:40px;height:76px; padding:25px 0 0 8px; border-radius:0;}
.tooldrawer-bg {background-color:#4692AD;}
.informationpopover-bg {background-color:#426E9B;}
.ticketingpopover-bg {background-color:#BF9B73;}
.filterpopover-bg {background-color:#7559A2;}

#tooldrawer-container {
	background-color: rgba(0, 0, 0, 0.85);
    color: #FFFFFF;
    display: block;
	height: auto;
    left: 0;
    padding: 5px;
    position: fixed;
    top: 80px;
    width: 300px;
    z-index: 202;
}

#tooldrawer-container ul li a {text-align: left; width:100%;font-size: 80%; color: #FFFFFF; padding: 2px 0 0 5px;}
#tooldrawer-container ul li a:hover,
#tooldrawer-container ul li a.active {background-color: #4691ac;color: #FFFFFF;}


.tooldrawer-slant {
	width: 300px;
	height: 0;
	border-left: 0px solid transparent;
	border-right: 20px solid transparent;
	border-top: 40px solid rgba(0, 0, 0, 0.85);
	position:absolute;
	left:0;
	bottom:-39px;
	z-index: -2;
}

.VideoDrawer-LocationRight {
  z-index: 125;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 5px;
  position: fixed;
  top: 0px;
  right: 0px;
  width: 350px;
  height: 100%;
  overflow: hidden;
  display: block;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/*                            Information/About Popover Styling                */
/* /////////////////////////////////////////////////////////////////////////// */

.about-popover-title {
  padding: 4px 8px;
  margin: 0;
  line-height: 12px;
}

.about-popover-module {
    padding: 0 8px 0 4px;
    width: 100%;
   clear: both;
}

.about-popover-images {width: 100%;}
.about-section-header {
   background-color: rgba(57, 57, 57, 0.25);
   font-size: 75%;
   width: 100%;
   text-align: center;
   padding: 2px 0 1px;
   text-transform:uppercase;
}

/* .about-section-header span {margin: 2px 0 1px 0;} */
.about-section-item {
    font-size: 80%;
    line-height: 14px;
   /*  margin: 0 0 5px; */
    padding: 3px 0 5px 0;
}

about-section-item div ul {list-style:circle outside;}
about-section-item div ul li {padding-left:5px;}

.about-section-bottom-line {border-bottom: 1px solid rgba(66,110,155,0.25);}
.about-section-item span.pageview-icons {position:relative; top:0px;}
.about-page-icons {
    display: inline;
    float: left;
    font-size: 100%;
    height: auto;
    line-height: 10px;
    width: 50%;
}

.about-page-icons li {border-bottom: 1px solid rgba(66,110,155,0.25);padding: 0 0 5px 0;}
.about-page-icons li span.pageview-icons {position:relative; top:3px; padding: 0 3px;}

.about-logo-area {display: inline;}

.about-logo-directions {
    float: left;
    width: 55%;
    margin-left: 1%;
}

.about-r2c-rpo-minutes-txt div, 
.about-r2c-storage-bytes-txt div, 
.about-r2c-srm-rpo-minutes-txt div,
.about-r2c-srm-rpo-minutes-txt-one,
.about-r2c-srm-rpo-minutes-txt-two,
.about-r2c-srm-rpo-minutes-txt-three {position:relative; font-weight:bolder; font-size: 105%;}
.about-r2c-rpo-minutes-txt div {margin-bottom: 6px;right:33px; top:-107px;}
.about-r2c-storage-bytes-txt div {margin-bottom: 4px;right:33px; top:-111px;}
.about-r2c-srm-rpo-minutes-txt div {margin-bottom: 6px; right: 33px; top:-107px;}
.about-r2c-srm-rpo-minutes-txt-one,
.about-r2c-srm-rpo-minutes-txt-two,
.about-r2c-srm-rpo-minutes-txt-three {left:45px; top:-21px;display: inline;}
.about-r2c-srm-rpo-minutes-txt-two {left:90px;}
.about-r2c-srm-rpo-minutes-txt-three {left:140px;}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 						Portalboard Styling				 		        */
/* //////////////////////////////////////////////////////////////////// */

.portalboard-tiles, .launchboard-tiles {margin-top:20px;}

.portalboard-btn, 
.launchboard-btn {
	color: #fff; 
	font-size:85%; 
	text-transform:uppercase; 
	-webkit-box-shadow: 0 10px 5px -5px rgba(57,57,57,0.25);
	   -moz-box-shadow: 0 10px 5px -5px rgba(57,57,57,0.25);
	        box-shadow: 0 10px 5px -5px rgba(57,57,57,0.25);
	width:100%;
}

.portalboard-btn {padding:10px 10px 10px 10px; }
.launchboard-btn {padding:10px 10px 10px 10px; }

.portalboard-btn:hover, 
.launchboard-btn:hover {
	color: rgba(255, 255, 255, 0.65); 
	opacity: 0.95;
}

.portalboard-btn:focus, 
.portalboard-btn:active, 
.launchboard-btn:focus, 
.launchboard-btn:active {
	color: #333;  /* was rgba(57, 57, 57, 0.5); */
	opacity: 0.95;
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 		                 Styling for Home Welcome Page 		                  */
/* /////////////////////////////////////////////////////////////////////////// */



.main-layout-wrapper {
    width: 100%;
    float: left;
}

.launchpad-block {
    margin-top:30px;
    letter-spacing: 0.02em;
    line-height: 16px;
    font-size: 110%;
    text-align:center;
}

.launchpad-wrapper {
    width: 200px;
    margin:auto;
    float: left;
}

.home-welcome-container {
   margin-left: 200px;
   display: none;
}

.home-splash-image {
	/* -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH"; */
}

.home-messaging-block {
    color: #FFFFFF;
    height: 40%;
    left: 0;
    letter-spacing: 0.02em;
    line-height: 16px;
    padding: 30px 20px 0 10px;
    position: absolute;
    top: 0px;
    z-index: 2;
    width: 50%;
  }


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								Page VIEW Styling     				           */
/* /////////////////////////////////////////////////////////////////////////// */


.portlet-instruction-margin {margin:25px 0 0 12px; /* was margin:0px 0px 0px 20px; */}
.portlet-instruction-text {color:#575757;line-height: 9px;}
.title-Customer {font-size:1.2em;letter-spacing: -0.02em;margin-right:20px;}
.title-App {
	background-color: #52ADB5;
	box-shadow:-5px -5px 10px rgba(0, 0, 0, 0.25) inset;
    color: #FFFFFF;
    font-size: 0.65em;
    margin: 2px 0 0 0;
    padding: 7px 0;
    text-align: center;
    text-transform: uppercase;
}

.LeftSide, .RightSide {background-color:#fff; }
.LeftSide {padding-right: 2px;}
.RightSide {padding-left: 2px;}

.myTabContent {
	margin:0 5px; /* was margin:0 0 0 30px;  */
	/* padding: 0 5px; */
	background-color:#fff;
	/* border-radius:10px;
	border: 1px solid #D6D6D6; */
	/* box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.30); */
}

.myTabContent-expanded {
	margin:10px 0 0 0; /* was margin:0 0 0 30px;  */
	/* background-color: #FFFFFF;
    border: 1px solid #D6D6D6; */
    border-radius: 0px 0px 10px 10px;
    padding: 0 5px 5px 5px;
}

.information-page-category {
	font-size:65%;
	text-transform: uppercase;
	text-align:center;
	font-weight:lighter;
	padding-top:4px;
	padding-bottom:2px;
	background-color: rgba(133, 224, 232, 0.25);
}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								Modal VIEW Styling     				           */
/* /////////////////////////////////////////////////////////////////////////// */

.view {
	overflow:hidden;
	border-radius:10px 10px 0px 0px;
}

.discovery-view, .video-view {left: 5%;}
.discovery-view {height: auto;}
.data-view, .document-view {left:25%; right:25%;}

/* .pointer {
	border-bottom: 12px solid #52ADB5;
   	border-left: 12px solid transparent;
    border-right: 12px solid transparent;
}

.pointer {top: -12px;}

.contact-pointer,
.profile-pointer,
.company-pointer,
.request-pointer {position: fixed;}

.contact-pointer {left: 206px;}
.profile-pointer {left: 231px;}
.company-pointer {left: 250px;}
.request-pointer {left: 250px;} */

.expandedPanel-pointer {
	border-bottom: 14px solid #FFFFFF;
	border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    position: fixed;
	/*left: 22%;
    top: 65px; */
    z-index: 90;
}

.tab-pointer {position:relative;left:200px;}
.tab-pointer-bottom {position:absolute;top:-46px; border-right:25px solid transparent;border-left:25px solid transparent; border-bottom: 25px solid #b8b8b8;}
.tab-pointer-top {position:absolute;top:-35px; border-right:25px solid transparent;border-left:25px solid transparent; border-bottom: 25px solid #fff;}


.grid-header {
	font-size:0.85em;
	background-color:#52ADB5;
	padding:5px;
	color:#fff;
	text-align:center;
}

.grid-header, .grid-odd, .grid-even {border-radius:5px; padding: 5px;}
.grid-odd, .grid-even {font-size:85%; padding: 5px; margin: 5px;}
.grid-even {background-color:#D7E9EB;}

.profile-content {margin: 10px 0;}
.profile-title {font-size:75%;padding-top:4px;}

.heightRestrict {height: 100%; overflow-y:scroll; overflow-x:hidden;}
.fontList-Contacts {font-size:0.9em;text-transform:lowercase;}

.clickable-icon {cursor:pointer; float: left;}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								TP MODAL Styling      				           */
/* /////////////////////////////////////////////////////////////////////////// */

.createModal-AppTab {font-size:85%; padding: 5px;}
/* .testplan-title {color: #fff;font-size: 75%;margin: 0 5px;padding: 8px 5px 0;width: 20%;} */
.AppTab-InnerContent {margin:4px 8px;}
.AppTab-InnerContent a:link {color:#52ADB5;}
.AppTab-InnerContent a:hover {color:#333;font-style: normal;}
.AppTab-InnerContent a.error {color:red;}

.tabOne-LeftDetails {position: absolute; top: 0px; /*left:0px; bottom: 0px;*/ width: 290px;}
.tabOne-RightDetails {position: absolute; top: 0px; left:300px; bottom: 0px;}

.confirm-PageMargin {margin: 0 5%;}
.confirm-LeftWidth {width:75%;}
.confirm-ObjectivesBox {overflow-y: scroll; font-size: 80%; height: 115px; box-shadow:0 0 3px rgba(57, 57, 57, 0.15) inset; background-color:#F3F3F3; padding:10px; margin:4px 0 0;}
.confirm-service-item {padding:3px 5px 2px; font-size:85%; float:left;}
.confirm-fauxAccordion {margin:0 6px; cursor:pointer; padding:0 0 0 0;}

.platform-header {font-size:65%;color:#3F3E38; padding:3px 6px 2px 6px; border-radius:4px;}

.input-height {height:200px;}

.customerName-Background {background-color: rgba(57,57,57,0.5); border-radius: 8px 8px 0 0;}

/* TILES */
/* TILES-Setup */

.tile-single, .tile-block, .tile-column {
    font-family: Arial, sans-serif !important;
	border-radius:0px;
	padding: 4px;
	box-shadow: 0 6px 3px -4px rgba(57, 57, 57, 0.5);
    border-style: solid;
    border-width: 0px; /* was border-width: 1px; */
}

.tile-single, .tile-block {
	display:inline-block;
	padding-right:4px;
	margin:0 5px 5px 0;
}

.tile-column {
    display:block;
    font-size: 100%;
    line-height: 16px;
    margin: 5px 0;
    text-transform: capitalize;
}

.tile-single ul li, .tile-block ul li, .tile-block-column ul li {list-style:none;}

.tile-grid {
    font-family: Arial, sans-serif !important;
	display: inline-table;
  	overflow-x: scroll;
  	background-color: transparent;
}

.tile-grid-header {display: table-header-group;}
.tile-grid-row {display: table-row; border-radius: 6px 6px 6px 6px;padding:4px;}
.tile-grid-column {display: table-column;}

.tile-grid-row-header,
.tile-grid-row-cell {
	border-color: rgba(0, 0, 0, 0.05) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
    border-style: solid;
    border-width: 1px;
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    display: table-cell;
    vertical-align: middle;
}

.tile-grid-row-header {text-align: center; padding: 6px;}
.tile-grid-row-cell {text-align: left; padding: 6px;}

.tile-grid-row-cell-icons,
.tile-grid-row-cell-icons-right {position:relative;font-size: 100%;}

.tile-grid-row-cell-icons {left:1%;}
.tile-grid-row-cell-icons-right {right:1%;}

/* .tile-map, .tile-reserve, .tile-map-cell {
    border-radius: 4px 4px 4px 4px;
    border-style: solid;
    border-width: 1px;

} */

.tile-map-cell, .tile-reserve-cell {
	border-radius: 4px 0 0 4px;
    border-style: solid;
    border-width: 1px;
	/* padding:4px 0 4px 6px;
	height:23px; */
}

.tile-map-content-padding, .tile-reserve-content-padding { padding:8.5px; }

.tile-popover, .tile-status, .tile-application, .tile-asset, .tile-map, .tile-reserve, .tile-title, .tile-title-click {font-size: 90%;}
.tile-popover, .tile-status, .tile-application, .tile-asset, .tile-map, .tile-reserve, .tile-data, .tile-data-txt-small { padding:3px;}
.tile-LineOne, .tile-title, .tile-title-click {margin-bottom:2px;}
.tile-title-click {cursor: pointer;}
.tile-title-click:hover {opacity:0.65;}
.tile-content {
	font-size: 82%;
	content: " " attr(data-label) " //"; /* call the attribute value of data-label and adds a string // */
}
/* .tile-status, .tile-application, .tile-asset {margin:4px 4px 4px 0;} */

.tile-popover {width:100%;}
.tile-status {width:22em;}
.tile-application {width:18em;}
.tile-asset {width:12em;}
.tile-line-b, .tile-line-g, .tile-line-w {margin: 4px 0;}
.tile-line-b {border-top:1px solid rgba(0, 0, 0, 0.25);}
.tile-line-g {border-top:1px solid rgba(224, 224, 224, 0.25);}
.tile-line-w {border-top:1px solid rgba(255, 255, 255, 0.25);}

.tile-data-txt-small, .txt-small {font-size: 75%;}
.tile-asset-txt {font-size: 85%; margin-left:5px; text-transform:uppercase;}

.application-expanded {
	border-radius: 0px;
	margin: 4px 6px;
	/* overflow: auto; */
    padding: 2px 6px; /* was padding: 2px 0px; */
	border: solid 1px rgba(0, 0, 0, 0.25);
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
}
/* .application-title {margin-left:4px; margin-right: 100px; font-size: 90%;} */
.application-content, .tab-instructions, .tab-text {font-size: 82%;}
.tab-header-pane-text, .tab-text {
	color:#52ADB5;
	text-transform: uppercase;
    color: #52ADB5;
    margin: 0 10px 0 0;
    padding: 0 10px 0 0;
    text-transform: uppercase;
}

.tab-text {
	border-right: 1px solid #333333;
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 		                    SLIDER Styling for D3 SVG Charts 		              */
/* /////////////////////////////////////////////////////////////////////////// */


.ui-slider, .chart-slider, .chart-slider .ui-slider-handle {
	height: 5px;
	width:80px;
	float:right;
	position:absolute;
	right:20px; /* was 5px */
	top:12px;
	cursor: pointer !important;
}
.jquery_ui .ui-corner-all, .jquery_ui .ui-corner-bottom, .jquery_ui .ui-corner-right, .jquery_ui .ui-corner-br,
.jquery_ui .ui-corner-all, .jquery_ui .ui-corner-bottom, .jquery_ui .ui-corner-left, .jquery_ui .ui-corner-bl,
.jquery_ui .ui-corner-all, .jquery_ui .ui-corner-top, .jquery_ui .ui-corner-right, .jquery_ui .ui-corner-tr,
.jquery_ui .ui-corner-all, .jquery_ui .ui-corner-top, .jquery_ui .ui-corner-left, .jquery_ui .ui-corner-tl {
	border-radius:0;
}

.jquery_ui .ui-widget-content {
	background-image: none;
	background-color: #575757;
    border: 1px solid #dddddd;
    color: #333333;
}

.jquery_ui .ui-state-default, .jquery_ui .ui-widget-content .ui-state-default, .jquery_ui .ui-widget-header .ui-state-default {
	background-image: none;
	background-color: #bdbdb1;
    border: 1px solid #cccccc;
}

.ui-slider-vertical {width: 5px; position: absolute; right: 15px; top: 100px; height:80px;}


#rpo-chart-legend svg text {fill: black; font-weight: bold; font-size:85%;}

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								R2C Page Styling      				           */
/* /////////////////////////////////////////////////////////////////////////// */

#static-row, #r2c-nav {margin-top: 45px; margin-left: 5px;}
#static-row {position: relative;}
#r2c-nav {position: fixed; z-index: 300;}

#column-labels {visibility: hidden;}

.r2c-summary-container {float: left;/* margin-top:-4px; */width: 100px;}
.r2c-summary-container .status-title span {color:#575757; font-size:55%; text-transform:uppercase;}
.r2c-summary-container .background-bar {text-align:center; font-size:85%; /* padding: 2px; */ height:auto; /* was 25px; */}
.r2c-summary-container .status-name-number ul li {display:block; /*margin:7px 0; line-height:12px;*/}
.r2c-summary-container .status-name-number ul li.name { /* font-size:110%; */ padding: 4px 3px 2px; height:auto; /* was 25px; */}
.r2c-summary-container .status-name-number ul li.number { /* font-size:95%; */ padding: 3px 3px 2px;}

.r2c-summary-container .status-name-number ul li.name,
.r2c-summary-container .status-name-number ul li.number,
.r2c-pill-total-assets .asset-name-number ul li.name,
.r2c-pill-total-assets .asset-name-number ul li.number {padding: 5px 12px;}

.r2c-summary-container .status-name-number ul li.name span,
.r2c-summary-container .status-name-number ul li.number span {font-family: Arial, sans-serif !important; /* font-weight:bold; */}

.r2c-pill-total-assets {margin-left:5px; float:left; /* width: 135px; *//* margin-top:-3px; */}
.r2c-pill-total-assets .asset-title span {color:#575757; font-size:55%; text-transform:uppercase;}

.r2c-pill-total-assets .asset-name-number ul li {float:left; display:inline;}
.r2c-pill-total-assets .asset-name-number ul li.name {border-radius: 0;font-size: 65%;height:auto; /* was 25px; */padding: 8px 0 5px 4px;text-transform: uppercase;width:60px;}
.r2c-pill-total-assets .asset-name-number ul li.number {width:60px;border-radius:0;padding: 5px 0 5px 4px; text-align:center;height:auto; /* was 25px; */ font-size:88% !important;}
.asset-status {width: 168px; /*was width: 84px;*/}
.asset-status .asset-status-name-number ul li div {float:left; display:inline; width:42px;padding: 0.5px;text-align:center;height:auto; /* was 25px; */ font-size:88% !important;}
.asset-status .asset-status-name-number ul li div.non-button {padding: 5px 0;}

.r2c-pill-total-assets .asset-name-number ul li.name span,
.r2c-pill-total-assets .asset-name-number ul li.number span,
.asset-status .asset-status-name-number ul li div {font-family: Arial, sans-serif !important;}

.r2c-page-nav {width:32px;}

.r2c-dashboard-container {background-color: #fff !important; padding: 5px;}
.r2c-dashboard-container label {border: 1px solid #f0f0e4 !important;}
.r2c-dashboard-container label.active {outline: 0;background-image: none !important; background-color: #4691ac !important;color:#ffffff !important;}

.r2c-instructions {
    color: #575757;
    float: left;
    font-size: 75%;
    width: 50%;
    line-height: 12px;
}

.r2c-size-by-rpo .name, .r2c-size-by-diskspace .name {font-size:55%;text-transform:uppercase; color:#575757; display:none;}
.r2c-size-by-rpo, .r2c-size-by-diskspace {padding-left: 5px;}
/* .r2c-size-by-rpo {width:90px;}
.r2c-size-by-diskspace {width:120px;} */
.r2c-size-by-rpo .largebox, .r2c-size-by-rpo .largecircle {width:30px; height:30px;}
.r2c-size-by-rpo .mediumbox, .r2c-size-by-diskspace .mediumcircle {width:25px; height:auto; /* was 25px; */}
.r2c-size-by-rpo .smallbox, .r2c-size-by-diskspace .smallcircle {width:15px; height:15px;}
.r2c-size-by-rpo .tinybox, .r2c-size-by-diskspace .tinycircle {width:10px; height:10px;}
.r2c-size-by-rpo .largebox, .mediumbox, .smallbox, .r2c-size-by-diskspace .largecircle, .r2c-size-by-diskspace .mediumcircle, .r2c-size-by-diskspace .smallcircle, .r2c-size-by-rpo .tinybox, .r2c-size-by-diskspace .tinycircle {border:1px solid #575757;}
.r2c-size-by-diskspace .largecircle, .r2c-size-by-diskspace .mediumcircle, .r2c-size-by-diskspace .smallcircle {border-radius:24px;}

.r2c-size-by-rpo .largebox, .r2c-size-by-diskspace .largecircle, .r2c-size-by-rpo .mediumbox, .r2c-size-by-diskspace  .mediumcircle, .r2c-size-by-rpo .smallbox, .r2c-size-by-diskspace .smallcircle, .r2c-size-by-rpo .tinybox, .r2c-size-by-diskspace .tinycircle {position: relative;}
.r2c-size-by-rpo .largebox, .r2c-size-by-diskspace .largecircle {left: 0; top: 0; padding:25px;}
.r2c-size-by-rpo .mediumbox, .r2c-size-by-diskspace .mediumcircle {left: 7px; top: 8px; padding:18px;}
.r2c-size-by-rpo .smallbox, .r2c-size-by-diskspace .smallcircle {left: 15px; top: -21px; padding:10px;}
.r2c-size-by-rpo .tinybox, .r2c-size-by-diskspace .tinycircle {left: 21px; top: -36px; padding:2px;}
.r2c-size-by-diskspace .tinycircle {border-radius:10px;}

.r2c-filter-by-day ul li {border: 2px solid #C4C4C4; margin: 0 -2px 0 0;}
.r2c-filter-by-day ul li:hover {opacity:0.5;}
.r2c-filter-by-day ul li:active {border: 2px solid #519899; background-color:#519899;color:#fff;}


.r2c-color-circle-legend {padding:6px 0 0 0;}
.r2c-color-circle-legend ul li span {display:none; font-size:50%; text-transform:uppercase;}
.r2c-color-circle-legend ul li div {margin-top:4px; border-radius:16px; width:10px; height:10px;}
.r2c-color-circle-legend ul li span div span {visibility:hidden;}

.r2c-action-icons {
	/* visibility:hidden; */
    display: block;
    float: left;
    width: 90px;
	}


.expandVolumePanel {
	/* background-attachment: fixed;
    background-image: url("../../images/SungardImages/global/pattern-eggshell.png?v=#version#");
    background-position: 0 0;
    background-repeat: repeat; */
    background-color:#F2F2F2;
    border-radius: 0; /* was border-radius: 0 0 8px 8px; */
    left: 0;
    padding:10px; /* was 0 20px; */
    overflow: auto;
    position: relative;
    top: 0;
}

@media (max-width: 767px) {

  .r2c-narrative-container, .r2c-action-icons, .r2c-filter-container {display:none;}
  .r2c-filter-alert-events-tickets-actions-container {float:left;}

}

.r2c-admin-instructions-subnav {font-size:75%; border-bottom:0 none; margin-bottom:10px;}
.r2c-admin-instructions-subnav a {color: #6CC7CF !important;}
.r2c-admin-instructions-subnav a:hover {color: #C5FFFF !important;}
.r2c-admin-instructions-subnav a.active {color: #246e7b !important;}

.config-instructions {
   font-size:90%;
   border-bottom:1px solid rgba(57,57,57,0.15);
   margin-bottom:10px;
   padding:0 0 0 5px;
 }

.config-detail .form-group {padding:5px;}

 .config-detail .floatlabel-wrapper .no-type {
   opacity:0.5;
   border-bottom:0 none;
   cursor: not-allowed;
 }

.config-detail .floatlabel-wrapper .can-type {border-bottom:1px solid rgba(57,57,57,0.15);}
 .config-detail .floatlabel-wrapper, .config-detail input.no-type, .config-detail input.can-type {
   content:"";
   font-size:90%;
   width: 100%;
}

.config-detail input.can-type {background-color: rgba(202, 202, 202, 0.2);}

.config-detail input.no-type {
   background-color:transparent;
   border-bottom:0 none;
   opacity:0.5;
   cursor: not-allowed;
 }

/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								INFO CARD Styling      				           */
/* /////////////////////////////////////////////////////////////////////////// */

.infocard {
  background-clip: padding-box;
  background-color: rgba(255, 255, 255, 0.96);
  border-radius: 10px 10px 10px 10px;
  border-style: solid;
  border-width: 6px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 1px;
  padding-left: 1px;
  padding-right: 1px;
  position: absolute;
  min-width:400px;
  max-width:30%;
}

ul.quicklinks-setA li, ul.quicklinks-setB li {margin: 0 0 0 10px;}
ul.quicklinks-setA li {float: left;}
ul.quicklinks-setB li {float: right;}
.backtotop {margin-right:5px; border-right:1px solid #333; padding-right: 5px; }
.noMarginLeft {margin-left:0; }


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								FLOAT LABEL Styling      				       */
/*       Float Label Pattern Plugin for Bootstrap 3.1.0 by Travis Wilson       */
/* /////////////////////////////////////////////////////////////////////////// */

.float-label-control { position: relative; margin: 0 0 20px !important; }
.float-label-control ::-webkit-input-placeholder { color: transparent; }
.float-label-control :-moz-placeholder { color: transparent; }
.float-label-control ::-moz-placeholder { color: transparent; }
.float-label-control :-ms-input-placeholder { color: transparent; }
.float-label-control input:-webkit-autofill,
.float-label-control textarea:-webkit-autofill {
	background-color: transparent !important; 
	-webkit-box-shadow: 0 0 0 1000px white inset !important; 
	-moz-box-shadow: 0 0 0 1000px white inset !important; 
	box-shadow: 0 0 0 1000px white inset !important;
}
.float-label-control input, .float-label-control textarea, .float-label-control label { 
	font-size: 14px; 
	box-shadow: none; 
	-webkit-box-shadow: none;
}
.float-label-control input:focus,
.float-label-control textarea:focus { 
	box-shadow: none; 
	-webkit-box-shadow: none; 
	border-bottom-width: 2px; 
	padding-bottom: 0;
}
.float-label-control textarea:focus { padding-bottom: 4px; }
.float-label-control input, .float-label-control textarea { 
	display: block; 
	width: 100%; 
	padding: 10px 0 0 0; 
	border: none; 
	border-radius: 0px; 
	border-bottom: 1px solid #aaa; 
	outline: none; 
	margin: 0px; 
	background: none;
}
.float-label-control textarea { padding: 10px 0 0 0; }
.float-label-control label { 
	position: absolute; 
	font-weight: normal; 
	top: -5px; 
	left: 0.08em; 
	color: #aaaaaa; 
	z-index: -1; 
	font-size: 12px; 
	text-transform: uppercase;
	-moz-animation: 
	float-labels 300ms none ease-out; 
	-webkit-animation: float-labels 300ms none ease-out; 
	-o-animation: float-labels 300ms none ease-out; 
	-ms-animation: float-labels 300ms none ease-out; 
	-khtml-animation: float-labels 300ms none ease-out; 
	animation: float-labels 300ms none ease-out; 
	/* There is a bug sometimes pausing the animation. This avoids that.*/ 
	animation-play-state: running !important; 
	-webkit-animation-play-state: running !important; 
}
.float-label-control input.empty + label,
.float-label-control textarea.empty + label { 
	top: 5px; 
	font-size: 14px;
	text-transform: none; 
	animation: none; 
	-webkit-animation: none;
	padding:10px 0 0 0;
}
.float-label-control input:not(.empty) + label,
.float-label-control textarea:not(.empty) + label { z-index: 1; }
.float-label-control input:not(.empty):focus + label,
.float-label-control textarea:not(.empty):focus + label { color: #aaaaaa; }
.float-label-control.label-bottom label { 
	-moz-animation: float-labels-bottom 300ms none ease-out; 
	-webkit-animation: float-labels-bottom 300ms none ease-out; 
	-o-animation: float-labels-bottom 300ms none ease-out; 
	-ms-animation: float-labels-bottom 300ms none ease-out; 
	-khtml-animation: float-labels-bottom 300ms none ease-out; 
	animation: float-labels-bottom 300ms none ease-out; 
}
.float-label-control.label-bottom input:not(.empty) + label,
.float-label-control.label-bottom textarea:not(.empty) + label { top: 3em; }


@keyframes float-labels {
    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 14px; }
    20% { font-size: 14px; opacity: 0; }
    30% { top: 0.1em; }
    50% { opacity: 0; font-size: 14px; }
    100% { top: -1em; opacity: 1; }
}

@-webkit-keyframes float-labels {
    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 14px; }
    20% { font-size: 1.5em; opacity: 0; }
    30% { top: 0.1em; }
    50% { opacity: 0; font-size: 14px; }
    100% { top: -1em; opacity: 1; }
}

@keyframes float-labels-bottom {
    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 14px; }
    20% { font-size: 1.5em; opacity: 0; }
    30% { top: 0.1em; }
    50% { opacity: 0; font-size: 14px; }
    100% { top: 3em; opacity: 1; }
}

@-webkit-keyframes float-labels-bottom {
    0% { opacity: 1; color: #aaa; top: 0.1em; font-size: 14px; }
    20% { font-size: 1.5em; opacity: 0; }
    30% { top: 0.1em; }
    50% { opacity: 0; font-size: 14px; }
    100% { top: 3em; opacity: 1; }
}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 			GLOBAL Styling (margins, padding, fonts, alignments, etc      	   */
/* /////////////////////////////////////////////////////////////////////////// */

/*    WIDTHS   */
.width40 {width:40px;}
.width50 {width:50px;}
.width90 {width:90px;}
.width100 {width:100px;}
.width140 {width:140px;}
.width150 {width:150px;}
.width200 {width:200px;}
.width225 {width:225px;}
.width250 {width:250px;}
.width265 {width:265px;}
.width300 {width:300px;}
.width350 {width:350px;}
.width365 {width:365px;}
.width375 {width:375px;}
.width400 {width:400px;}
.width410 {width:410px;}
.width440 {width:440px;}
.width450 {width:450px;}
.width500 {width:500px;}
.width600 {width:600px;}
.width50Percent {width:50%;}
.width100Percent {width:100%;}

/*     HEIGHTs    */
.height-25 {height:auto; /* was 25px; */}
.height-81 {height: 81px;}
.height-35{height: 35px;}
.height-27{height: 27px;}
.height-200{height: 200px;}

/*     MARGINs     */
.marginNone-All {margin: 0;}
.marginNone-Top {margin-top: 0;}
.marginNone-Right {margin-right: 0;}
.marginNone-Bottom {margin-bottom: 0;}
.marginNone-Left {margin-left: 0;}
.marginNone-TopBottom {margin-top: 0; margin-bottom: 0;}
.marginNone-LeftRight {margin-left: 0; margin-right: 0;}

.evenMoreMarginTopBottom {margin: 10px 0;}

.moreMarginAll {			margin: 10px;}
.moreMarginTop {			margin-top:5px; }
.moreMarginBottom {			margin-bottom:10px;}
.moreMarginTopBottom {		margin:5px 0;}
.moreMarginRight {			margin-right: 10px;}
.moreMarginLeft {			margin-left:10px; }
.moreMarginLeftRight {		margin:0 10px;}

.slightMarginAll {			margin: 5px;}
.slightMarginTop {			margin-top:2px; }
.slightMarginBottom {		margin-bottom:2px;}
.slightMarginTopBottom {	margin-top:2px; margin-bottom:2px;}
.slightMarginLeft {			margin-left:2px; }
.slightMarginRight {		margin-right:2px; }
.slightMarginLeftRight {	margin:0 5px;}

.col-header-marginLeft {	margin-left:40px;}

/*     PADDINGs    */
.paddingNone-All {			padding: 0 !important;}
.paddingNone-Top {			padding-top: 0 !important;}
.paddingNone-Right {		padding-right: 0 !important;}
.paddingNone-Bottom {		padding-bottom: 0 !important;}
.paddingNone-Left {			padding-left: 0 !important;}
.paddingNone-TopBottom {	padding-top: 0 !important; padding-bottom: 0 !important;}
.paddingNone-LeftRight {	padding-left: 0 !important; padding-right: 0 !important;}

.morePaddingAll {			padding: 10px;}
.morePaddingTop {			padding:10px 0 0 0;}
.morePaddingBottom {		padding:0 0 10px 0;}
.morePaddingTopBottom {		padding:5px 0;}
.morePaddingLeft {			padding:0 0 0 10px;}
.morePaddingRight {			padding:0 10px 0 0;}
.morePaddingLeftRight {		padding:0 10px !important;}

.slightPaddingAll {			padding: 5px;}
.slightPaddingTop {			padding:5px 0 0 0;}
.slightPaddingBottom {		padding:0 0 5px 0;}
.slightPaddingTopBottom {	padding:3px 0 2px 0;}
.slightPaddingLeft {		padding:0 0 0 5px;}
.slightPaddingRight {		padding:0 5px 0 0;}
.slightPaddingLeftRight {	padding:0 5px !important;}

.redErrorDot {margin:2px 0 0 6px;}

/*     UNDERLINEs  (Top)    */
.topLine-b {border-top:1px solid rgba(0, 0, 0, 0.25);}
.topLine-g {border-top:1px solid rgba(224, 224, 224, 0.25);}
.topLine-w {border-top:1px solid rgba(255, 255, 255, 0.25);}

/*     UNDERLINEs  (Bottom)    */
.bottomLine-b {border-bottom:1px solid rgba(0, 0, 0, 0.25);}
.bottomLine-g {border-bottom:1px solid rgba(224, 224, 224, 0.25);}
.bottomLine-w {border-bottom:1px solid rgba(255, 255, 255, 0.25);}


/*    BORDERs     */
.borderRight-w {border-right:1px solid rgba(255,255,255,0.25); padding-right:2px;}
.borderLeft-w {border-left:1px solid rgba(255,255,255,0.25); padding-left:2px;}
.borderRight-b {border-right: 1px solid rgba(57, 57, 57, 0.25);}
.borderLeft-b {border-left: 1px solid rgba(57, 57, 57, 0.25);}
.noBorder-Right {border-right:0 none;}
.noBorder-Left {border-left:0 none;}
.noBorder-Top {border-top:0 none;}
.noBorder-Bottom {border-bottom:0 none;}
.noBorder {border:0 none;}
.noBorderRadius {border-radius:0;}
.borderRadius-None {border-radius:0;}

/*   POSITIONs   */
.positionDown {position:relative; top:5px;}
.positionDown-slight {position:relative; top:2px;}
.positionDown-slightly {position:relative; top:3px;}
.positionDown-slightest {position:relative; top:4px;}
.positionDown-more {position:relative; top:6px;}
.positionDown-most {position:relative; top:10px;}
.positionUp {position:relative; top:-5px;}
.positionUp-slight {position:relative; top:-2px;}
.positionUp-slightly {position:relative; top:-3px;}
.positionUp-slightest {position:relative; top:-4px;}
.positionUp-more {position:relative; top:-6px;}
.positionUp-most {position:relative; top:-10px;}

/*     FONTS    */
.font40, .font45, .font50, .font55, .font60, .font65 {text-transform: uppercase !important;}
.font40 {font-size:40%;}
.font45 {font-size:45%;}
.font50 {font-size:50%;}
.font55 {font-size:55%;}
.font60 {font-size:60%;}
.font65 {font-size:65%;}
.font70 {font-size:70%;}
.font75 {font-size:75%;}
.font80 {font-size:80%;}
.font85 {font-size:85%;}
.font90 {font-size:90%;}
.font95 {font-size:95%;}
.font100 {font-size:100%;}
.font105 {font-size:105%;}
.font110 {font-size:110%;}
.font115 {font-size:115%;}
.font120 {font-size:120%;}
.font125 {font-size:125%;}
.font150 {font-size:150%;}
.font175 {font-size:175%;}
.font200 {font-size:200%;}
.font220 {font-size:220%;}
.font260 {font-size:260%;}
.font360 {font-size:360%;}
.noWrapping {white-space: nowrap; }
.italicFont {font-style: italic !important;}
.ellipsis {text-overflow: ellipsis; white-space: nowrap; overflow: hidden;}


.ghosting {opacity:0.4;}

.shadow-inner {
   -moz-box-shadow:    inset 0 0 10px rgba(57,57,57,0.25);
   -webkit-box-shadow: inset 0 0 10px rgba(57,57,57,0.25);
   box-shadow:         inset 0 0 10px rgba(57,57,57,0.25);
}
.shadow-bottom-lighter {
	-webkit-box-shadow: 0 10px 5px -5px rgba(57,57,57,0.25);
	   -moz-box-shadow: 0 10px 5px -5px rgba(57,57,57,0.25);
	        box-shadow: 0 10px 5px -5px rgba(57,57,57,0.25);
}

.shadow-bottom-darker {
	-webkit-box-shadow: 0 6px 3px -4px rgba(57, 57, 57, 0.5);
	   -moz-box-shadow: 0 6px 3px -4px rgba(57, 57, 57, 0.5);
	        box-shadow: 0 6px 3px -4px rgba(57, 57, 57, 0.5);
}

.textAlign-Left {text-align:left;}
.textAlign-Center {text-align:center;}
.textAlign-Right {text-align:right;}
.textUppercase {text-transform:uppercase;}


/* \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\ */
/* 								FOOTER Styling      				           */
/* /////////////////////////////////////////////////////////////////////////// */

#footer {
 	bottom:0px;
 	left:0;
 	right:0;
 	position:fixed;
 	margin:0;
 	height:auto;/* was 25px; */
 	background-color: rgba(255, 255, 255, 0.95);
 	border-top: 1px solid rgba(75, 75, 75, 0.10);
 	z-index: 4;
}

.goog-te-gadget {
    color: #4A4A4A !important;
    font-family: arial;
    font-size: 65% !important;
    white-space: nowrap;
}
  
.goog-te-gadget img {
    border: medium none;
    display: none;
    vertical-align: middle;
}

.goog-te-gadget-simple {
    background-color: transparent !important;
    border-style: none !important;
    border-width: 0px !important;
    cursor: pointer;
    display: inline-block;
    padding: 1px 4px 2px 0 !important;
    margin-left:20px !important;
}

.goog-te-gadget-simple .goog-te-menu-value span:first-of-type {
    /* color: #4a4a4a;
    font-size: 85% !important;
    text-decoration: none; */
    color: #4691ac;
    font-size: 75% !important;
    text-decoration: none;
    text-transform: uppercase;
}
			
.goog-te-gadget-simple .goog-te-menu-value span:nth-of-type(2n),
.goog-te-gadget-simple .goog-te-menu-value span:last-of-type {display: none;}

#footer ul.copyright {float: right; margin: 2px 25px;}

#footer ul.copyright li {
	display: inline;
	font-family: Arial, sans-serif !important;
	font-size: 65%;
	font-weight: lighter;
	text-transform: capitalize;
	float:left;
 	padding: 3px 8px 2px 8px;
    margin:0;
    border-right:1px solid rgba(233, 233, 233, 0.75);
}

#footer ul.copyright li.noBorderRight {border-right: none;}

#footer ul.copyright li a:link {color: #575757 !important;}
#footer ul.copyright li a:hover {opacity:0.65;}
#footer ul.copyright li a:visited {color: #575757;}
#footer ul.copyright li a:active {color: #000;}
