@charset "UTF-8";

/* cache busting NOTE: add at the end of every IMAGE file this: ?v=#version# */

/*!
 * Bootstrap v3.3.1 (http://getbootstrap.com)
 * Copyright 2011-2014 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */

/* ------ Container ---------------------------------- */

.container {padding: 0;}

 @media (min-width: 768px) {
  .container, .container-header-left-side {
    width: auto;
  }
}
@media (min-width: 992px) {
  .container, .container-header-left-side {
    width: auto;
  }
}
@media (min-width: 1200px) {
  .container, .container-header-left-side {
    width: auto;
  }
}

/* ------ Rows ---------------------------------- */

.row {
  margin-left: 0px;
  margin-right: 0px;
}

/* ------ Columns ---------------------------------- */

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  /* padding-left: 5px;
  padding-right: 5px;
  padding: 5px; */
}

/* ------ Buttons ---------------------------------- */

.btn {
  display: inline-block;
  margin-bottom: 0;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  background-color: transparent !important;
  border: 0px solid transparent;
  white-space: nowrap;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.8 !important;
  border-radius: 0px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-shadow: none !important;
}
.btn:focus,
.btn:active:focus,
.btn.active:focus,
.btn.focus,
.btn:active.focus,
.btn.active.focus {
  /* outline: thin dotted; */
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0;
}
.btn:hover,
.btn:focus,
.btn.focus {
  color: #575757;
  text-decoration: none;
}

.btn:active,
.btn.active {
  outline: 0;
  background-image: none;
  background-color: #4691ac;
  color:#fff;
  /* -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.35);
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.35); */
}
.btn.disabled,
.btn[disabled],
fieldset[disabled] .btn {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 0.35; /* was 0.65 */
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-default {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  color: #333333;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  background-color: #ffffff;
  border-color: #cccccc;
}
.btn-default .badge {
  color: #ffffff;
  background-color: #333333;
}
.btn-primary {
  color: #ffffff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: #ffffff;
  background-color: #286090;
  border-color: #204d74;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn-primary .badge {
  color: #337ab7;
  background-color: #ffffff;
}
.btn-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  color: #ffffff;
  background-color: #449d44;
  border-color: #398439;
}
.btn-success:active,
.btn-success.active,
.open > .dropdown-toggle.btn-success {
  background-image: none;
}
.btn-success.disabled,
.btn-success[disabled],
fieldset[disabled] .btn-success,
.btn-success.disabled:hover,
.btn-success[disabled]:hover,
fieldset[disabled] .btn-success:hover,
.btn-success.disabled:focus,
.btn-success[disabled]:focus,
fieldset[disabled] .btn-success:focus,
.btn-success.disabled.focus,
.btn-success[disabled].focus,
fieldset[disabled] .btn-success.focus,
.btn-success.disabled:active,
.btn-success[disabled]:active,
fieldset[disabled] .btn-success:active,
.btn-success.disabled.active,
.btn-success[disabled].active,
fieldset[disabled] .btn-success.active {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn-success .badge {
  color: #5cb85c;
  background-color: #ffffff;
}
.btn-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  color: #ffffff;
  background-color: #31b0d5;
  border-color: #269abc;
}
.btn-info:active,
.btn-info.active,
.open > .dropdown-toggle.btn-info {
  background-image: none;
}
.btn-info.disabled,
.btn-info[disabled],
fieldset[disabled] .btn-info,
.btn-info.disabled:hover,
.btn-info[disabled]:hover,
fieldset[disabled] .btn-info:hover,
.btn-info.disabled:focus,
.btn-info[disabled]:focus,
fieldset[disabled] .btn-info:focus,
.btn-info.disabled.focus,
.btn-info[disabled].focus,
fieldset[disabled] .btn-info.focus,
.btn-info.disabled:active,
.btn-info[disabled]:active,
fieldset[disabled] .btn-info:active,
.btn-info.disabled.active,
.btn-info[disabled].active,
fieldset[disabled] .btn-info.active {
  background-color: #5bc0de;
  border-color: #46b8da;
}
.btn-info .badge {
  color: #5bc0de;
  background-color: #ffffff;
}
.btn-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  color: #ffffff;
  background-color: #ec971f;
  border-color: #d58512;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #ffffff;
}
.btn-danger {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  color: #ffffff;
  background-color: #c9302c;
  border-color: #ac2925;
}
.btn-danger:active,
.btn-danger.active,
.open > .dropdown-toggle.btn-danger {
  background-image: none;
}
.btn-danger.disabled,
.btn-danger[disabled],
fieldset[disabled] .btn-danger,
.btn-danger.disabled:hover,
.btn-danger[disabled]:hover,
fieldset[disabled] .btn-danger:hover,
.btn-danger.disabled:focus,
.btn-danger[disabled]:focus,
fieldset[disabled] .btn-danger:focus,
.btn-danger.disabled.focus,
.btn-danger[disabled].focus,
fieldset[disabled] .btn-danger.focus,
.btn-danger.disabled:active,
.btn-danger[disabled]:active,
fieldset[disabled] .btn-danger:active,
.btn-danger.disabled.active,
.btn-danger[disabled].active,
fieldset[disabled] .btn-danger.active {
  background-color: #d9534f;
  border-color: #d43f3a;
}
.btn-danger .badge {
  color: #d9534f;
  background-color: #ffffff;
}
.btn-link {
  color: #337ab7;
  font-weight: normal;
  border-radius: 0;
}
.btn-link,
.btn-link:active,
.btn-link.active,
.btn-link[disabled],
fieldset[disabled] .btn-link {
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.btn-link,
.btn-link:hover,
.btn-link:focus,
.btn-link:active {
  border-color: transparent;
}
.btn-link:hover,
.btn-link:focus {
  color: #23527c;
  text-decoration: underline;
  background-color: transparent;
}
.btn-link[disabled]:hover,
fieldset[disabled] .btn-link:hover,
.btn-link[disabled]:focus,
fieldset[disabled] .btn-link:focus {
  color: #777777;
  text-decoration: none;
}
.btn-lg,
.btn-group-lg > .btn {
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
.btn-xs,
.btn-group-xs > .btn {
  padding: 1px 3px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 0;
}
.btn-block {
  display: block;
  width: 100%;
}
.btn-block + .btn-block {
  margin-top: 5px;
}

.close {
  float: right;
  font-size: 20px;
  font-weight: bold;
  line-height: 15px;
  color: #000000;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  /* filter: alpha(opacity=20); */
}

.close:hover,
.close:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 1.0;
  /* filter: alpha(opacity=40); */
}

button.close {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none;
}


/* ------ Colors ---------------------------------- */

/*   BLACK + WHITE text  */
.color-black, .bg-color-white {color: #000000 !important;}
.color-white, .bg-color-black {color: #FFFFFF !important;}

/*   BLACK + WHITE background  */
.bg-color-black {background-color: #000000 !important;}
.bg-color-white {background-color: #FFFFFF !important;}

/*   GRAY text  */
.avs-color-dark-gray, .avs-bg-color-cool-gray, .avs-bg-color-light-gray {color: #4A4A4A !important;}
.avs-color-mid-gray {color: #7C7C7C !important;}
.avs-color-cool-gray {color: #CACACA !important;}
.avs-color-light-gray {color: #E9E9E9 !important;}
.avs-bg-color-dark-gray, 
.avs-bg-color-mid-gray, 
.sg-color-silver, 
.sg-color-other {color: #fff !important;}

/*   GRAY background  */
.avs-bg-color-dark-gray {background-color: #4A4A4A !important;}
.avs-bg-color-mid-gray, 
.sg-color-silver, 
.sg-color-other {background-color: #7C7C7C !important;}
.avs-bg-color-cool-gray {background-color: #CACACA !important;}
.avs-bg-color-light-gray {background-color: #E4E4E4 !important;}
.avs-bg-color-cool-gray, .avs-bg-color-light-gray {color: #504F4F !important;}
.avs-bg-color-light-gray-alpha {background-color: rgba(233, 233, 233, 0.65);}

/*   RED text  */
.avs-color-dark-red {color: #AD1C0F !important;}
.avs-color-light-red {color: #ED222A !important;}
.avs-bg-color-dark-red, 
.avs-bg-color-light-red, 
.sg-color-errors {color: #fff !important;}

/*   RED background  */
.avs-bg-color-dark-red {background-color: #AD1C0F !important;color: #fff !important;}
.avs-bg-color-light-red, .sg-color-errors {background-color: #ED222A !important;}

/*   BLUE text  */
.avs-color-dark-blue {color: #263F66 !important;}
.avs-color-light-blue {color: #A5BEE5 !important;}

/*   BLUE background  */
.avs-bg-color-dark-blue {background-color: #263F66 !important;}
.avs-bg-color-light-blue {background-color: #A5BEE5 !important;}

/*   TEAL text  */
.avs-color-dark-teal {color: #246e7b !important;}
.avs-color-mid-teal {color: #4691ac !important;}
.avs-color-cool-teal {color: #6CC7CF !important;}
.avs-color-light-teal{color: #C5FFFF !important;}

/*   TEAL background  */
.avs-bg-color-dark-teal {background-color: #246e7b !important;}
.avs-bg-color-mid-teal {background-color: #4691ac !important;}
.avs-bg-color-cool-teal {background-color: #6CC7CF !important;}
.avs-bg-color-light-teal {background-color: #C5FFFF !important;}

/*   BROWN text  */
.avs-color-dark-brown {color: #8B6E40 !important;}
.avs-color-mid-brown {color: #BEA173 !important;}
.avs-color-cool-brown {color: #F1D4A6 !important;}
.avs-color-light-brown {color: #FFEEC0 !important;}

/*   BROWN background  */
.avs-bg-color-dark-brown {background-color: #8B6E40 !important;}
.avs-bg-color-mid-brown {background-color: #BEA173 !important;}
.avs-bg-color-cool-brown {background-color: #F1D4A6 !important;}
.avs-bg-color-light-brown {background-color: #FFEEC0 !important;}
.avs-bg-color-cool-brown {color: #504F4F !important;}

/*   PURPLE text  */
.avs-color-dark-purple {color: #5C265A !important;}
.avs-color-light-purple {color: #F5BFF3 !important;}

/*   PURPLE background  */
.avs-bg-color-dark-purple {background-color: #5C265A !important;}
.avs-bg-color-mid-purple {background-color: #8F598D !important;}
.avs-bg-color-light-purple {background-color: #F5BFF3 !important;}

/*   MAROON text  */
.avs-color-dark-maroon {color: #782E13 !important;}
.avs-color-light-maroon {color: #FFE1C6 !important;}

/*   MAROON background  */
.avs-bg-color-dark-maroon {background-color: #782E13 !important;}
.avs-bg-color-mid-maroon {background-color: #AB6146 !important;}
.avs-bg-color-light-maroon {background-color: #FFE1C6 !important;}

/*   OCHER text  */
.avs-color-dark-ocher {color: #6B4200 !important;}
.avs-color-light-ocher {color: #FFDB99 !important;}

/*   OCHER background  */
.avs-bg-color-dark-ocher {background-color: #6B4200 !important;}
.avs-bg-color-mid-ocher {background-color: #AE863D !important;}
.avs-bg-color-light-ocher {background-color: #FFDB99 !important;}

/*   DIRT text  */
.avs-color-dark-dirt {color: #5B4225 !important;}
.avs-color-light-dirt {color: #F4DBBE !important;}

/*   DIRT background  */
.avs-bg-color-dark-dirt {background-color: #5B4225 !important;}
.avs-bg-color-mid-dirt {background-color: #8E7558 !important;}
.avs-bg-color-light-dirt {background-color: #F4DBBE !important;}

/* .avs-color-accent-green {color: #009F65 !important;}
.avs-color-accent-red {color: #ED232B !important;}
.avs-color-accent-yellow {color: #FEBE10 !important;}  
.avs-bg-color-accent-green {background-color: #009F65 !important;}
.avs-bg-color-accent-red {background-color: #ED232B !important;}
.avs-bg-color-accent-yellow {background-color: #FEBE10 !important;} */

/*   GREEN text  */
.avs-color-dark-green {color: #7E8A35 !important;}
.avs-color-mid-green {color: #98A44F !important;}
.avs-color-cool-green {color: #D5E18C !important;}
.avs-color-light-green {color: #F3FFAA !important;}

/*   GREEN background  */
.avs-bg-color-dark-green {background-color: #7E8A35 !important;}
.avs-bg-color-mid-green {background-color: #98A44F !important;}
.avs-bg-color-cool-green {background-color: #D5E18C !important;}
.avs-bg-color-light-green {background-color: #F3FFAA !important;}
.avs-bg-color-cool-green {color: #504F4F !important;}

/*   YELLOW text  */
.avs-color-dark-yellow {color: #A07800 !important;}
.avs-color-mid-yellow {color: #D3AB03 !important;}
.avs-color-cool-yellow {color: #FFDE36 !important;}
.avs-color-light-yellow {color: #FFFF9C !important;}

/*   YELLOW background  */
.avs-bg-color-dark-yellow {background-color: #A07800 !important;}
.avs-bg-color-mid-yellow {background-color: #D3AB03 !important;}
.avs-bg-color-cool-yellow {background-color: #FFDE36 !important;}
.avs-bg-color-light-yellow {background-color: #FFFF9C !important;}
.avs-bg-color-cool-yellow, .avs-bg-color-light-yellow {color: #504F4F !important;}

/*   ORANGE text  */
.avs-color-dark-orange {color: #BE7901 !important;}
.avs-color-mid-orange {color: #D8931B !important;}
.avs-color-cool-orange {color: #F1AC34 !important;}
.avs-color-light-orange {color: #FFDF67 !important;}

/*   ORANGE background  */
.avs-bg-color-dark-orange {background-color: #BE7901 !important;}
.avs-bg-color-mid-orange {background-color: #D8931B !important;}
.avs-bg-color-cool-orange {background-color: #F1AC34 !important;}
.avs-bg-color-light-orange {background-color: #FFDF67 !important;}
.avs-bg-color-cool-orange, .avs-bg-color-light-orange {color: #504F4F !important;}

/* --------------for text-------------- */

.colorSilver, .colorCancel {color:#7C7C7C !important;}
.colorGrey {color: #504F4F !important;}
.colorSaved, .colorInitialSync {color:#216E7B !important;}
.colorHealthy, .colorConfirmApprove {color:#7e8a35 !important;}
.colorWeak, .colorMapping {color:#C8A91D !important;}
.colorPoor, .colorReserving {color:#BE7901 !important;}
.colorCompleteArchive {color: #A5885A !important;}
.colorException {color: #216e7b !important;}

.colorServer-Healthy-Text {color: #7e8a35 !important;}
.colorVolume-Healthy-Text {color: #7e8a35 !important;}
.colorServer-Weak-Text {color: #FFFF9C !important;}
.colorVolume-Weak-Text {color: #B99100 !important;}
.colorServer-Poor-Text {color: #FFE46C !important;}
.colorVolume-Poor-Text {color: #a45f00 !important;}
.colorServer-InitialSync-Text {color: #C5FFFF !important;}
.colorVolume-InitialSync-Text {color: #1F7A82 !important;}
.colorServer-Asset-Text {color: #BAB9B0 !important;}
.colorVolume-Asset-Text {color: #626d64 !important;}

.colorBandwidth-Out {color: #1A4F79 !important;}
.colorBandwidth-In {color: #7FB4DE !important;}

.sg-color-filter {color:#00355F !important;}

.sg-color-asset-volumes {color: #5e5e5e !important;}

.sg-color-application,
.sg-color-server, 
.sg-color-tapedevice, 
.sg-color-networking, 
.sg-color-storage, 
.sg-color-miscellaneous, 
.sg-color-printer, 
.sg-color-company-active, 
.sg-color-company-inactive, 
.sg-color-silver, 
.sg-color-other, 
.border-color-saved, 
.border-color-approved, 
.border-color-submitted, 
.border-color-partial, 
.border-color-errors, 
.border-color-archived, 
.sg-color-peach {color: #3F3E38 !important;}

.sg-color-saved, 
.sg-color-submitted, 
.sg-color-submit-map, 
.sg-color-submit-reserve, 
.sg-color-partial, 
.sg-color-fail, 
.sg-color-approved, 
.sg-color-errors,
.sg-color-archived, 
.label-important, 
.badge-important, 
.badge-info {color: #fff !important;}


/* --------------for backgrounds-------------- */

.sg-color-alerts {background-color:#FFCCFF;}
.sg-color-asset-servers {background-color: #727272 !important;}
.sg-color-asset-volumes {background-color: #D8D8D8 !important;}
.sg-color-filter {background-color: #c7daf8 !important;}
.sg-color-events {background-color:#C8F6E7;}
.sg-color-tickets {background-color:#ECC7FC;}

.sg-color-taupe {background-color: #BEA173 !important;border-color: #D8BB8D #D8BB8D #BEA173;}
.sg-color-peach {background-color: #FFEBBD;}
.sg-color-flesh {background-color: #FFFFF3 !important;border: 1px solid #F0F0E4;}

.sg-color-saved, .badge-info, .sg-color-initialsync, .sg-color-initialsync-server {background-color: #4691AC !important; color: #FFFFFF;}
.sg-color-saved, .badge-info, .border-color-saved, .border-color-initialsync {border-color: #4691ac #4691ac #216E7B;}
.sg-color-submit-map, .sg-color-weak, .sg-color-weak-server {background-color: #D3AB03 !important;color: #fff;}
.sg-color-partial, .sg-color-submit-reserve, .sg-color-poor, .sg-color-poor-server {background-color: #BE7901 !important;color: #fff;}
.sg-color-approved, .sg-color-healthy, .sg-color-healthy-server {background-color: #98A44F !important;color: #fff;}
.sg-color-archived, .sg-color-closed {background-color: #A5885A !important;color: #575757;}

.sg-color-initialsync-volume {background-color: #85E0E8 !important; color: #575757;}
.sg-color-healthy-volume {background-color: #cbd782 !important; color: #575757;}
.sg-color-weak-volume {background-color: #FFDE36 !important; color: #575757;}
.sg-color-poor-volume {background-color: #F1AC34 !important; color: #575757;}

.sg-color-application, .platform-header-application {background-color: #FCEB97 !important;}
.sg-color-server, .platform-header-server {background-color: #afe7ed !important;}
.sg-color-tapedevice, .platform-header-tapedevice {background-color: #f1f3a4 !important;}
.sg-color-networking, .platform-header-networking {background-color: #bde0b7 !important;}
.sg-color-storage, .platform-header-storage {background-color: #e0b7b7 !important;}
.sg-color-miscellaneous, .platform-header-miscellaneous {background-color: #aec7e9 !important;}
.sg-color-printer, .platform-header-printer {background-color: #cdb7e0 !important;}


.sg-color-about {background-color: #00355F !important;}




/* for borders ------------------------------- */
.sg-color-asset-servers, .sg-color-asset-volumes {border:1px solid #727272 !important; border-radius:0;}
.sg-color-about, .border-color-about {border-color: #00355F;}


/* for arrow tips -------------------------------   */
.popover.top .arrow.arrow-alerts {border-top-color: #FFCCFF;}
.popover.right .arrow.arrow-alerts {border-right-color: #FFCCFF;}
.popover.bottom .arrow.arrow-alerts {border-bottom-color: #FFCCFF;}
.popover.left .arrow.arrow-alerts {border-left-color: #FFCCFF;}

.popover.top .arrow.arrow-filter {border-top-color: #C7DAF8;}
.popover.right .arrow.arrow-filter {border-right-color: #C7DAF8;}
.popover.bottom .arrow.arrow-filter {border-bottom-color: #C7DAF8;}
.popover.left .arrow.arrow-filter {border-left-color: #C7DAF8;}

.popover.top .arrow.arrow-events {border-top-color: #C8F6E7;}
.popover.right .arrow.arrow-events {border-right-color: #C8F6E7;}
.popover.bottom .arrow.arrow-events {border-bottom-color: #C8F6E7;}
.popover.left .arrow.arrow-events {border-left-color: #C8F6E7;}

.popover.top .arrow.arrow-tickets {border-top-color: #ECC7FC;}
.popover.right .arrow.arrow-tickets {border-right-color: #ECC7FC;}
.popover.bottom .arrow.arrow-tickets {border-bottom-color: #ECC7FC;}
.popover.left .arrow.arrow-tickets {border-left-color: #ECC7FC;}

.popover.top .arrow.arrow-red {border-top-color: #B00014;}
.popover.right .arrow.arrow-red {border-right-color: #B00014;}
.popover.bottom .arrow.arrow-red {border-bottom-color: #B00014;}
.popover.bottom .arrow.arrow-red:after {border-bottom-color: #B00014;}
.popover.left .arrow.arrow-red {border-left-color: #B00014;}

.popover.top .arrow.arrow-silver {border-top-color: #d6d6d6;}
.popover.right .arrow.arrow-silver {border-right-color: #d6d6d6;}
.popover.bottom .arrow.arrow-silver {border-bottom-color: #d6d6d6;}
.popover.left .arrow.arrow-silver {border-left-color: #d6d6d6;}

.popover.top .arrow.arrow-mid-gray {border-top-color: #7C7C7C;}
.popover.right .arrow.arrow-mid-gray {border-right-color: #7C7C7C;}
.popover.bottom .arrow.arrow-mid-gray {border-bottom-color: #7C7C7C;}
.popover.bottom .arrow.arrow-mid-gray:after {border-bottom-color: #7C7C7C;}
.popover.left .arrow.arrow-mid-gray {border-left-color: #7C7C7C;}

.popover.top .arrow.arrow-about {border-top-color: #00355F;}
.popover.right .arrow.arrow-about {border-right-color: #00355F;}
.popover.bottom .arrow.arrow-about {border-bottom-color: #00355F;}
.popover.left .arrow.arrow-about {border-left-color: #00355F;}

.popover.top .arrow.arrow-popover {border-top-color: #575757;}
.popover.right .arrow.arrow-popover {border-right-color: #575757;}
.popover.bottom .arrow.arrow-popover {border-bottom-color: #575757;}
.popover.left .arrow.arrow-popover {border-left-color: #575757;}

.popover.top .arrow.arrow-saved, .popover.top .arrow.arrow-company, .popover.top .arrow.arrow-initialsync-server {border-top-color: #4692AD;}
.popover.right .arrow.arrow-saved, .popover.right .arrow.arrow-company, .popover.right .arrow.arrow-initialsync-server {border-right-color: #4692AD;}
.popover.bottom .arrow.arrow-saved, .popover.bottom .arrow.arrow-company, .popover.bottom .arrow.arrow-initialsync-server {border-bottom-color: #4692AD;}
.popover.left .arrow.arrow-saved, .popover.left .arrow.arrow-company, .popover.left .arrow.arrow-initialsync-server {border-left-color: #4692AD;}

.sg-color-initialsync-server, .sg-color-initialsync-volume,
.sg-color-healthy-server, .sg-color-healthy-volume,
.sg-color-weak-server, .sg-color-weak-volume,
.sg-color-poor-server, .sg-color-poor-volume {border-radius: 0px;}
   
.sg-color-submit-map, .sg-color-weak, .sg-color-weak-server, .border-color-submit-map, .border-color-weak {border-color: transparent;}
.popover.top .arrow.arrow-submit-map, .popover.top .arrow.arrow-weak {border-top-color: #E1C236;}
.popover.right .arrow.arrow-submit-map, .popover.right .arrow.arrow-weak {border-right-color: #E1C236;}
.popover.bottom .arrow.arrow-submit-map, .popover.bottom .arrow.arrow-weak {border-bottom-color: #E1C236;}
.popover.left .arrow.arrow-submit-map, .popover.left .arrow.arrow-weak {border-left-color: #E1C236;}

.sg-color-partial, .sg-color-submit-reserve, .sg-color-poor, .sg-color-poor-server, .border-color-partial, .border-color-submit-reserve, .border-color-poor {border-color: transparent;}
.popover.top .arrow.arrow-partial, .popover.top .arrow.arrow-submit-reserve, .popover.top .arrow.arrow-poor {border-top-color: #D7921A;}
.popover.right .arrow.arrow-partial, .popover.right .arrow.arrow-submit-reserve, .popover.right .arrow.arrow-poor {border-right-color: #D7921A;}
.popover.bottom .arrow.arrow-partial, .popover.bottom .arrow.arrow-submit-reserve, .popover.bottom .arrow.arrow-poor {border-bottom-color: #D7921A;}
.popover.left .arrow.arrow-partial, .popover.left .arrow.arrow-submit-reserve, .popover.left .arrow.arrow-poor {border-left-color: #D7921A;}

.sg-color-approved, .sg-color-healthy, .sg-color-healthy-server, .border-color-approved, .border-color-healthy {border-color: transparent;}
.popover.top .arrow.arrow-approved, .popover.top .arrow.arrow-healthy {border-top-color: #98A44F;}
.popover.right .arrow.arrow-approved, .popover.right .arrow.arrow-healthy {border-right-color: #98A44F;}
.popover.bottom .arrow.arrow-approved, .popover.bottom .arrow.arrow-healthy {border-bottom-color: #98A44F;}
.popover.left .arrow.arrow-approved, .popover.left .arrow.arrow-healthy {border-left-color: #98A44F;}

.popover.top .arrow.arrow-initialsync {border-top-color: #216E7B}
.popover.right .arrow.arrow-initialsync {border-right-color: #216E7B}
.popover.bottom .arrow.arrow-initialsync {border-bottom-color: #216E7B}
.popover.left .arrow.arrow-initialsync {border-left-color: #216E7B}

.border-color-application {border-color: #FFFAA6;}
.popover.top .arrow.arrow-application {border-top-color: #FFFAA6;}
.popover.right .arrow.arrow-application {border-right-color: #FFFAA6;}
.popover.bottom .arrow.arrow-application {border-bottom-color: #FFFAA6;}
.popover.left .arrow.arrow-application {border-left-color: #FFFAA6;}

.border-color-server {border-color: #e1f6f8;}
.popover.top .arrow.arrow-server {border-top-color: #e1f6f8;}
.popover.right .arrow.arrow-server {border-right-color: #e1f6f8;}
.popover.bottom .arrow.arrow-server {border-bottom-color: #e1f6f8;}
.popover.left .arrow.arrow-server {border-left-color: #e1f6f8;}

.border-color-tapedevice {border-color: #fafbe3;}
.popover.top .arrow.arrow-tapedevice {border-top-color: #fafbe3;}
.popover.right .arrow.arrow-tapedevice {border-right-color: #fafbe3;}
.popover.bottom .arrow.arrow-tapedevice {border-bottom-color: #fafbe3;}
.popover.left .arrow.arrow-tapedevice {border-left-color: #fafbe3;}

.border-color-networking {border-color: #ebf5e9;}
.popover.top .arrow.arrow-networking {border-top-color: #ebf5e9;}
.popover.right .arrow.arrow-networking {border-right-color: #ebf5e9;}
.popover.bottom .arrow.arrow-networking {border-bottom-color: #ebf5e9;}
.popover.left .arrow.arrow-networking {border-left-color: #ebf5e9;}

.border-color-storage {border-color: #f5e9e9;}
.popover.top .arrow.arrow-storage {border-top-color: #f5e9e9;}
.popover.right .arrow.arrow-storage {border-right-color: #f5e9e9;}
.popover.bottom .arrow.arrow-storage {border-bottom-color: #f5e9e9;}
.popover.left .arrow.arrow-storage {border-left-color: #f5e9e9;}

.border-color-misc {border-color: #e6eef8;}
.popover.top .arrow.arrow-misc {border-top-color: #e6eef8;}
.popover.right .arrow.arrow-misc {border-right-color: #e6eef8;}
.popover.bottom .arrow.arrow-misc {border-bottom-color: #e6eef8;}
.popover.left .arrow.arrow-misc {border-left-color: #e6eef8;}

.border-color-printer {border-color: #f0e9f5;}
.popover.top .arrow.arrow-printer {border-top-color: #f0e9f5;}
.popover.right .arrow.arrow-printer {border-right-color: #f0e9f5;}
.popover.bottom .arrow.arrow-printer {border-bottom-color: #f0e9f5;}
.popover.left .arrow.arrow-printer {border-left-color: #f0e9f5;}


/* ------ Dropdowns ---------------------------------- */

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px solid #000000;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 0 dotted;
  content: "";
}
.dropdown {
  position: relative;
}
.dropdown-toggle:hover, .dropdown-toggle:active, .dropdown-toggle:focus  {
  outline: 0 none;
  z-index: 2000;
}
.dropdown-menu {
    background-clip: padding-box;
    /* background-color: rgba(255, 255, 255, 0.85);
    /* border: 2px solid rgba(0, 0, 0, 0.15);
    border-radius: 6px 6px 6px 6px; */
    display: none;
    float: left;
    left: 0;
    list-style: none outside none;
    margin: 0;
    width: 100%;
    outline: 0 none;
    padding: 3px;
    position: absolute;
    top: 100%;
    z-index: 2000;
}

.light-background {background-color: rgba(255, 255, 255, 0.90) !important;}
.dark-background {background-color: rgba(0, 0, 0, 0.85) !important;}

.dropdown-menu.pull-right {
  right: 0;
  left: auto;
      z-index: 2000;
}
.dropdown-menu .divider, .divider {
  height: 1px;
  margin: 3px 0;
  overflow: visible;
  background-color: #e5e5e5;
  opacity: 0.5;
}

.divider-vertical {
  height: 8px;
  width: 1px;
  margin: 0 3px;
  overflow: visible;
  background-color: #e5e5e5;
  opacity: 0.5;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  color: #575757;
  white-space: nowrap;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu li:hover,
.dropdown-menu li:focus {
  text-decoration: none;
  color: #fff;
  background-color: #4692AD;
  border-radius:0px !important;
}
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  background-color: #4692AD;
  padding-bottom:2px;
}

.dropdown-menu > .disabled > a,
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  color: #999999;
}
.dropdown-menu > .disabled > a:hover,
.dropdown-menu > .disabled > a:focus {
  text-decoration: none;
  background-color: transparent;
  background-image: none;
  /* filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
  cursor: not-allowed; */
}
.open > .dropdown-menu {display: block;}
.open > a, .open > button {outline: 0;}

.dropdown-container {width:375px; height:600px; overflow-y:scroll;}

.dropdown-header {
  display: block;
  margin: 0;
  font-size: 100% !important;
  padding: 4px 12px 0 0 !important;
  color: #575757 !important;
  /* text-transform: uppercase;
  text-align:center; */
}

.dropdown-header a, .dropdown-container a {color:#333 !important; }
.dropdown-container .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus,
.dropdown-container .tool-links > li.active > a, .tool-links > li.active > a:hover, .tool-links > li.active > a:focus {
	color:#fff !important;
	background-color: #4692ad;
	border-radius: 0px;
	
	display: block;
  padding: 5px 0 0px 5px;
  clear: both;
  font-weight: normal;
  line-height: 1.428571429;
  white-space: nowrap;
}

.dropdown-content {   }

.dropdown-backdrop {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  z-index: 990;
}
.pull-right > .dropdown-menu {
  right: 0;
  left: auto;
}
.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {
  border-top: 0 dotted;
  border-bottom: 4px solid #000000;
  content: "";
}
.dropup .dropdown-menu,
.navbar-fixed-bottom .dropdown .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-bottom: 1px;
}
@media only screen and (min-width: 750px) {
  .navbar-right .dropdown-menu {
    right: 0;
    left: auto;
  }
}

/* ------ Nav + Tabs ---------------------------------- */

 .nav-contents {/*display:none;*/}
 .nav-contents ul {
    left: 0px;
        position:relative; 
        top:0px;
        border-right:1px solid #333;
}

.nav {
  margin-bottom: 0px;
  padding-left: 0;
  list-style: none;
  font-size: 85%;
}
.nav:before,
.nav:after {
  content: " ";
  display: table;
}
.nav:after {
  clear: both;
}
.nav > li {
  position: relative;
  display: block;
}

.nav > li > a {padding: 10px !important;}

.navbar-nav > li > a.dropdown-txt {
    padding-bottom: 14px !important;
    padding-top: 26px !important;
}

.navbar-nav > li > a.dropdown-icon {
    padding-bottom: 14px !important;
    padding-top: 16px !important;
}

.navbar-default .navbar-nav > li > a {
  color: #777;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #4692AD;
  /* background-color: #e1e1e1; */	
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #4692AD;
  /* color: #ffffff;
  background-color: #4692AD; */
}

.nav-tabs > li {
  float: left;
  /* margin-bottom: -1px; */
}
.nav-tabs > li > a {
  /* margin-right: 2px;
  line-height: 1.428571429;
  border: 1px solid transparent; */
  border-radius: 0 px;
  padding-top: 4px;
  padding-bottom: 2px;
  color:#fff;
  line-height: 15px;
  /* border: 1px solid transparent; */
  -webkit-border-radius: 8px 8px 0 0;
     -moz-border-radius: 8px 8px 0 0;
          border-radius: 8px 8px 0 0;
}

.nav-tabs > a {color:#6CC7CF;}
.nav-tabs > a.active {color:#4691ac; cursor: default;}
.nav-tabs > a.active:hover {color:#C5FFFF; cursor: default;}


/* .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #7c7c7c;
} */
.nav-tabs > li.active > a,
.nav-tabs > li.active > a:hover,
.nav-tabs > li.active > a:focus {
  color: #4692AD;
  cursor: default;
  /* background-color: #ffffff;
  border: 1px solid #ddd;
  border-bottom-color: transparent;*/
}

.nav-pills > li {
  float: left;
}
.nav-pills > li > a {
  border-radius: 0px;
}
.nav-pills > li + li {
  /* margin-left: 2px; */
}

.nav-stacked > li {
  float: none;
}
.nav-stacked > li + li {
  /* margin-top: 2px; */
  margin-left: 0;
}
.nav-justified {
  width: 100%;
}
.nav-justified > li {
  float: none;
}
.nav-justified > li > a {
  text-align: center;
}
@media only screen and (min-width: 750px) {
  .nav-justified > li {
    display: table-cell;
    width: 1%;
  }
}
/* .nav-tabs-justified {
  border-bottom: 0;
}
.nav-tabs-justified > li > a {
  border-bottom: 1px solid #7c7c7c;
  margin-right: 0;
}
.nav-tabs-justified > .active > a {
  border-bottom-color: #ffffff;
} */
.tabbable:before,
.tabbable:after {
  content: " ";
  display: table;
}
.tabbable:after {
  clear: both;
}
.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}
.tab-content > .active,
.pill-content > .active {
  display: block;
}
.nav .caret {
  border-top-color: #428bca;
  border-bottom-color: #428bca;
}
.nav a:hover .caret {
  border-top-color: #2a6496;
  border-bottom-color: #2a6496;
}
.nav-tabs .dropdown-menu {
  margin-top: -1px;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.tabs-stacked .open > a:hover {
  border-color: #999999;
}

.tabbable {}

.tabbable:before,
.tabbable:after {
  display: table;
  line-height: 0;
  }

.tabbable:after {clear: both;}

/* .tab-content {
        border-top: 1px solid #ddd;
        background-color:#fff;
        }
.tab-pane {padding:0 0 0 5px;} */

.tab-pane-header {
  background-color: #FFFFFF;
  /* border-radius: 8px 8px 8px 8px;
  padding: 0 0 0 5px; */
}

.tab-pane-body {
    background: none repeat scroll 0 0 #FFFFFF;
    overflow-y: auto;
        position:relative;
        border-radius: 0px;
}

.tab-pane-body-contact, .tab-pane-body-profile, .tab-pane-body-company {border-radius: 0 0 8px 8px;}

.tab-pane-content {/* margin: 0 6px 6px 6px; */}
.tab-pane-content-inner {overflow-y: auto;}

.tab-pane-footer {
        background-color: #E9E9E9;
    border-top: 1px solid #7c7c7c;
    bottom: 0;
    left: 0;
    margin: 0 2px 2px;
    padding: 4px 8px;
    position: fixed;
    right: 0;
  -webkit-border-radius: 0 0 10px 10px;
     -moz-border-radius: 0 0 10px 10px;
          border-radius: 0 0 10px 10px;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff;
}

.tab-pane-content-quartersize {
        margin:0px; 
        padding:0px 6px 0px 6px;
        max-height: 300px;
}

.tab-pane-footer-quartersize {
  position: relative; 
  bottom: 0;
  left: 0;
  margin: 0 0 6px 0;
  padding: 6px;
 }

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -2px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  margin-right: 19px;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover {
  border-color: #eeeeee #7c7c7c #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover {
  border-color: #ddd transparent #ddd #ddd;
  /* *border-right-color: #ffffff; */
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover {
  border-color: #eeeeee #eeeeee #eeeeee #7c7c7c;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover {
  border-color: #ddd #ddd #ddd transparent;
  /* *border-left-color: #ffffff; */
}

/* ------ Tables ---------------------------------- */

/* Author:	Munawar Ahmed Mohammed
        Website:	www.mobifreaks.com
        Demo URI:	http://www.mobifreaks.com/u/6
        Article URI:	http://www.mobifreaks.com/u/5 */

/* seo friendly tables */

.table {
    display:table;	/* Defines a Table */
    /* font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
    color:#8d8d8d; */
    margin:0; /* was margin:0 1%; and then margin:1% 15%; and then margin:4px 0; */
   font-family: Arial, sans-serif !important;
   border-left:1px solid rgba(57, 57, 57, 0.15);
}

.table, .table-row {font-size:95%;}
.table-head {font-size:80%;}

.table-head {
    display: table-header-group;
    text-transform: uppercase;/* Defines a table header group */
    border-bottom:1px solid rgba(57, 57, 57, 0.15);
    border-top:1px solid rgba(57, 57, 57, 0.35);
}
.table-row {
        display:table-row; /* Defines a table row */
        /* box-shadow:0 6px 3px -4px rgba(57, 57, 57, 0.25); */
}
/* .table-row .table-column:nth-child(1) {border-left:1px solid #eeeeee; First column in a row } */
/*.table-row:last-child .table-column {border-bottom:none;} *//* column in a last row */
.table-column {
        display:table-cell; /* Defines a table cell */
        border-bottom:1px solid rgba(57, 57, 57, 0.15);
        border-right:1px solid rgba(57, 57, 57, 0.15);
        padding: 4px;
    vertical-align: middle;
    text-align:center;
}

.table-column-width-extra-small {width:0.25%;}
.table-column-width-small {width:1%;}
.table-column-width-medium {width:10%;}
.table-column-width-large {width:30%;}

.table-column-width-large,
.table-column-width-medium,
.table-column-width-small,
.table-column-width-extra-small {border-right: 1px solid rgba(57, 57, 57, 0.15);}


/* .table-head .table-column:hover, .table-column:hover{background:rgba(0, 0, 0, 0.20);} */

.table-row-odd, .table-row-even {padding: 3px; margin: 0 5px;border-bottom: 1px solid #e7e7e7;}
/* .table-row-odd {background-color:#FFFFF2;}
.table-row-even {background-color:#fff;} */
.table-head .table-row:hover, .table-row:hover, .table-row-odd:hover, .table-row-even:hover {background-color:#F2FBFF;}

/* Responsive table */
@media only screen and (max-width: 900px) {

        .table,
        .table-row,
        .table-column,
        .table-column:before,
        .table-column div,
        .table-column div span {
                /* display:block; */
                text-align: left;/* Converts a table, table row, table column and table column:before into a block element */
                /* box-shadow:0 6px 3px -4px rgba(57, 57, 57, 0.5);	 */
        }

        .table,
        .table-row .table-column:last-child {border-bottom:none;}

        .table-head {
                position:absolute;	/* Hides table head but not using display none */
                top:-1000em;
                left:-1000em;
                text-align: left;
                display:none;
        }

        .table-column, .table-row .table-column:nth-child(1), .table-row .table-column:last-child, .table-row:last-child, .table-row {
                padding: 5px 10px;
                text-align: left;
                vertical-align: middle;
        }

        .table-column:before{ /* prints the value of data-label attribute before the column data */
                color: #FFFFFFF;
                content: " " attr(data-label) " : "; /* call the attribute value of data-label and adds a string // */
                font-size: 75%;
                font-weight: bold;
                padding-bottom: 5px;
                padding-right: 20px;
                text-transform:uppercase;
                /* opacity:0.4; */
                text-align: left;
        }

        .table-column, .table-column-width-extra-small, .table-column-width-small, .table-column-width-medium, .table-column-width-large {text-align: left; width:auto;}

        /* .table-head .table-column:hover, .table-column:hover{background:rgba(0, 0, 0, 0.20);color:#fff;} */
        .table-head .table-row:hover, .table-row:hover {background-color:#FFFFD9;}
}

/* ------ Forms + Inputs ---------------------------------- */

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}
legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: inherit;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}
label {
  display: inline-block;
  /* margin-bottom: 5px;
  font-weight: bold;*/
}

input, textarea, .form-control {  
        /* background-color: rgba(202, 202, 202, 0.25); */
        border:0 none; 
        padding:2px; 
}

input[type="search"] {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
input[type="radio"],
input[type="checkbox"] {
  margin: 4px 0 0;
  /* margin-top: 1px \9; */
  /* IE8-9 */

  line-height: normal;
}
input[type="file"] {
  display: block;
}
select[multiple],
select[size] {
  height: auto;
}
select optgroup {
  font-size: inherit;
  font-style: inherit;
  font-family: inherit;
}
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  /*  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px; */
}

input[readonly="readonly"] {background-color:transparent !important;  border-bottom: 0 none; }

.form-control:-moz-placeholder {
  color: #999999;
}

.form-control {
  display: block;
  width: 100%;
  /* height: 34px; */
  /* padding: 6px; padding: 6px 12px; */
  line-height: 1.428571429;
  color: #555555;
  vertical-align: middle;
  border-bottom: 1px solid rgba(57, 57, 57, 0.15);
  background-color:transparent !important; 
  border-radius: 0px;
  /*-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s; */
  box-shadow: none !important;
}

input.input-username-desktop, input.input-password-desktop {width:50%; }
input.input-username-mobile, input.input-password-mobile {width:100%; }

.form-control:focus {
  /* border-color: #66afe9; */
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-control[disabled],
.form-control[readonly],
fieldset[disabled] .form-control {
  cursor: not-allowed;
  /* background-color: #eeeeee; */
}
textarea.form-control {
  height: auto;
}
.form-group {
  margin-bottom: 15px;
}
.radio,
.checkbox {
  display: block;
  min-height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  vertical-align: middle;
}
.radio label,
.checkbox label {
  display: inline;
  margin-bottom: 0;
  font-weight: normal;
  cursor: pointer;
}
.radio input[type="radio"],
.radio-inline input[type="radio"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  float: left;
  margin-left: -20px;
}
.radio + .radio,
.checkbox + .checkbox {
  margin-top: -5px;
}
.radio-inline,
.checkbox-inline {
  display: inline-block;
  padding-left: 20px;
  margin-bottom: 0;
  vertical-align: middle;
  font-weight: normal;
  cursor: pointer;
}
.radio-inline + .radio-inline,
.checkbox-inline + .checkbox-inline {
  margin-top: 0;
  margin-left: 10px;
}
input[type="radio"][disabled],
input[type="checkbox"][disabled],
.radio[disabled],
.radio-inline[disabled],
.checkbox[disabled],
.checkbox-inline[disabled],
fieldset[disabled] input[type="radio"],
fieldset[disabled] input[type="checkbox"],
fieldset[disabled] .radio,
fieldset[disabled] .radio-inline,
fieldset[disabled] .checkbox,
fieldset[disabled] .checkbox-inline {
  cursor: not-allowed;
}
.input-sm {
  /* height: 30px; */
  padding: 4px; /* padding: 5px 10px; */
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-sm {
  height: 30px;
  line-height: 30px;
}
textarea.input-sm {
  height: auto;
}
.input-lg {
  height: 45px;
  padding: 8px; /* padding: 10px 16px; */
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-lg {
  height: 45px;
  line-height: 45px;
}
textarea.input-lg {
  height: auto;
}
.has-warning .help-block,
.has-warning .control-label {
  color: #c09853;
}
.has-warning .form-control {
  border-color: #c09853;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-warning .form-control:focus {
  border-color: #a47e3c;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #dbc59e;
}
.has-warning .input-group-addon {
  color: #c09853;
  border-color: #c09853;
  background-color: #fcf8e3;
}
.has-error .help-block,
.has-error .control-label {
  color: #b94a48;
}
.has-error .form-control {
  border-color: #b94a48;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-error .form-control:focus {
  border-color: #953b39;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #d59392;
}
.has-error .input-group-addon {
  color: #b94a48;
  border-color: #b94a48;
  background-color: #f2dede;
}
.has-success .help-block,
.has-success .control-label {
  color: #468847;
}
.has-success .form-control {
  border-color: #468847;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.has-success .form-control:focus {
  border-color: #356635;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 6px #7aba7b;
}
.has-success .input-group-addon {
  color: #468847;
  border-color: #468847;
  background-color: #dff0d8;
}
.form-control-static {
  margin-bottom: 0;
  padding-top: 7px;
}
.help-block {
  display: block;
  margin-top: 5px;
  margin-bottom: 10px;
  color: #737373;
}
@media only screen and (min-width: 750px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-left: 0;
  }
}
.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 7px;
}
.form-horizontal .form-group {
  margin-left: -15px;
  margin-right: -15px;
}
.form-horizontal .form-group:before,
.form-horizontal .form-group:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.form-horizontal .form-group:after {
  clear: both;
}
@media only screen and (min-width: 750px) {
  .form-horizontal .control-label {
    text-align: right;
  }
}
.input-group {
  position: relative;
  display: table;
  border-collapse: separate;
}
.input-group.col {
  float: none;
  padding-left: 0;
  padding-right: 0;
}
.input-group .form-control {
  width: 100%;
  margin-bottom: 0;
}
.input-group-lg > .form-control,
.input-group-lg > .input-group-addon,
.input-group-lg > .input-group-btn > .btn {
  height: 45px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}
select.input-group-lg > .form-control,
select.input-group-lg > .input-group-addon,
select.input-group-lg > .input-group-btn > .btn {
  height: 45px;
  line-height: 45px;
}
textarea.input-group-lg > .form-control,
textarea.input-group-lg > .input-group-addon,
textarea.input-group-lg > .input-group-btn > .btn {
  height: auto;
}
.input-group-sm > .form-control,
.input-group-sm > .input-group-addon,
.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
  border-radius: 3px;
}
select.input-group-sm > .form-control,
select.input-group-sm > .input-group-addon,
select.input-group-sm > .input-group-btn > .btn {
  height: 30px;
  line-height: 30px;
}
textarea.input-group-sm > .form-control,
textarea.input-group-sm > .input-group-addon,
textarea.input-group-sm > .input-group-btn > .btn {
  height: auto;
}
.input-group-addon,
.input-group-btn,
.input-group .form-control {
  display: table-cell;
}
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child),
.input-group .form-control:not(:first-child):not(:last-child) {
  border-radius: 0;
}
.input-group-addon,
.input-group-btn {
  width: 1%;
  white-space: nowrap;
  vertical-align: middle;
}
.input-group-addon {
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1;
  text-align: center;
  background-color: #eeeeee;
  border: 1px solid #cccccc;
  border-radius: 4px;
}
.input-group-addon.input-sm {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 3px;
}
.input-group-addon.input-lg {
  padding: 10px 16px;
  font-size: 18px;
  border-radius: 6px;
}
.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-top: 0;
}
.input-group .form-control:first-child,
.input-group-addon:first-child,
.input-group-btn:first-child > .btn,
.input-group-btn:first-child > .dropdown-toggle,
.input-group-btn:last-child > .btn:not(:last-child):not(.dropdown-toggle) {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}
.input-group-addon:first-child {
  border-right: 0;
}
.input-group .form-control:last-child,
.input-group-addon:last-child,
.input-group-btn:last-child > .btn,
.input-group-btn:last-child > .dropdown-toggle,
.input-group-btn:first-child > .btn:not(:first-child) {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
}
.input-group-addon:last-child {
  border-left: 0;
}
.input-group-btn {
  position: relative;
  white-space: nowrap;
}
.input-group-btn > .btn {
  position: relative;
}
.input-group-btn > .btn + .btn {
  margin-left: -4px;
}
.input-group-btn > .btn:hover,
.input-group-btn > .btn:active {
  z-index: 2;
}

/* ------ Labels + Badges ---------------------------------- */

.label {
  display: inline;
  /* padding: .2em .6em .3em;
  font-size: 75%;
  font-weight: bold; */
  line-height: 1;
  color: #ffffff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label[href]:hover,
.label[href]:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.label:empty {
  display: none;
}
.label-default {
  background-color: #999999;
}
.label-default[href]:hover,
.label-default[href]:focus {
  background-color: #808080;
}
.label-primary {
  background-color: #428bca;
}
.label-primary[href]:hover,
.label-primary[href]:focus {
  background-color: #3071a9;
}
.label-success {
  background-color: #5cb85c;
}
.label-success[href]:hover,
.label-success[href]:focus {
  background-color: #449d44;
}
.label-info {
  background-color: #5bc0de;
}
.label-info[href]:hover,
.label-info[href]:focus {
  background-color: #31b0d5;
}
.label-warning {
  background-color: #f0ad4e;
}
.label-warning[href]:hover,
.label-warning[href]:focus {
  background-color: #ec971f;
}
.label-danger {
  background-color: #d9534f;
}
.label-danger[href]:hover,
.label-danger[href]:focus {
  background-color: #c9302c;
}
.badge {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #999999;
  border-radius: 10px;
}
.badge:empty {
  display: none;
}
a.badge:hover,
a.badge:focus {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.btn .badge {
  position: relative;
  top: -1px;
}
a.list-group-item.active > .badge,
.nav-pills > .active > a > .badge {
  color: #428bca;
  background-color: #ffffff;
}
.nav-pills > li > a > .badge {
  margin-left: 3px;
}

/* ------ Modal ---------------------------------- */

.modal-open {
  overflow: hidden;
}
body.modal-open,
.modal-open .navbar-fixed-top,
.modal-open .navbar-fixed-bottom {
  margin-right: 15px;
}
.modal {
  display: none;
  overflow: auto;
  overflow-y: scroll;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1040;
}
.modal.fade .modal-dialog {
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  -webkit-transition: -webkit-transform 0.1s ease-out;
  -moz-transition: -moz-transform 0.1s ease-out;
  -o-transition: -o-transform 0.1s ease-out;
  transition: transform 0.13s ease-out;
}

.modal.in .modal-dialog {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
}
.modal-dialog {
        background-color: #4692AD;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 0px; /* was border-radius: 12px; */
    position: fixed;
    z-index: 1050;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
  /* margin-left: auto;
  margin-right: auto; */
  width: auto;
  padding: 2px; /* was padding: 10px; */
  z-index: 1050;
}

.modal-fullscreen {
        bottom: 5px;
    left: 5px;
    right: 5px;
    top: 5px;
    /* min-width: 860px; */
}

.modal-halfsize {
        /* bottom: 20%; */
    left: 25%;
    right: 25%;
    top: 10%;
}

.modal-quartersize {
    left: 136px;
    top: 35px;
    width: 425px;
}

.modal-quartersize-center {
    left: 30%;
    right: 30%;
    top: 10%;
    width: 450px;
}

.modal-content {
  position: relative;
  /* background-color: #ffffff;
  border: 1px solid #999999;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 6px;
  -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5); */
  background-clip: padding-box;
  outline: none;
}

.modal-backdrop, .modal-backdrop-toplevel {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #222222;
}

.modal-backdrop {z-index: 1030;}

.modal-backdrop-toplevel {z-index: 2040;}

.modal-backdrop.fade, .modal-backdrop-toplevel.fade {opacity: 0;}

.modal-backdrop,
.modal-backdrop.fade.in, 
.modal-backdrop-toplevel,
.modal-backdrop-toplevel.fade.in {
  opacity: 0.3;
  /* filter: alpha(opacity=30); */
}

.modal-header {
  padding: 0; /* was padding: 15px; */
  /* border-bottom: 1px solid #e5e5e5;
  min-height: 16.428571429px; */
}

.modal-header .close {
  margin: 4px; 
  font-size: 85%;
}
.modal-title {
  font-size: 90%;
  line-height: 1.42857;
  margin: 0;
  padding: 2px 0 2px 5px;
  color:#fff;
}
.modal-body {
  position: relative;
  padding: 2px; /* was padding: 20px; */
  background-color: #ffffff;
  -webkit-border-radius: 0;
     -moz-border-radius: 0;
          border-radius: 0;
}
.modal-footer {
  margin-top: 0px; /* was margin-top: 15px; */
  padding: 5px; /* was padding: 10px; */
  /* text-align: right; */
  background-color: #fff;
  border-top: 1px solid rgba(57, 57, 57, 0.15);
  /* bottom: 0;
  left: 0;
  margin: 21px;
  padding: 6px;
  position: fixed;
  right: 0;*/
  -webkit-border-radius: 0px;
     -moz-border-radius: 0px;
          border-radius: 0px; /* was border-radius: 0 0 8px 8px; */
  /* -webkit-box-shadow: inset 0 1px 0 #ffffff;
     -moz-box-shadow: inset 0 1px 0 #ffffff;
          box-shadow: inset 0 1px 0 #ffffff; */
}

.modal-footer:before,
.modal-footer:after {
  content: " ";
  display: table;
  line-height: 0;
}
.modal-footer:after {
  clear: both;
}
.modal-footer .btn + .btn {
  margin-left: 5px;
  margin-bottom: 0;
}
.modal-footer .btn-group .btn + .btn {margin-left: -1px;}
.modal-footer .btn-block + .btn-block {margin-left: 0;}

/* 
@media only screen and (min-width: 750px) {
  .modal-dialog {
    left: 50%;
    right: auto;
    width: 600px;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: #4692AD;
    border: 5px solid rgba(0, 0, 0, 0.3);
    border-radius: 18px 18px 18px 18px;
    position: fixed;
    z-index: 1050;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
     -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
          box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding-box;
          background-clip: padding-box;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
  }
}
@-ms-viewport {
  width: device-width;
} 
@media screen and (max-width: 400px) {
  @-ms-viewport {
    width: 320px;
  }
}*/
.fade {
  opacity: 0;
  -webkit-transition: opacity 0.15s linear;
  transition: opacity 0.15s linear;
}
.fade.in {
  opacity: 1;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  transition: height 0.35s ease;
}

/* ------ Alerts ---------------------------------- */

.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert h4 {
  margin-top: 0;
  color: inherit;
}
.alert .alert-link {
  font-weight: bold;
}
.alert > p,
.alert > ul {
  margin-bottom: 0;
}
.alert > p + p {
  margin-top: 5px;
}
.alert-dismissable {
  padding-right: 35px;
}
.alert-dismissable .close {
  position: relative;
  top: -2px;
  right: -21px;
  color: inherit;
}
.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
}
.alert-success hr {
  border-top-color: #c9e2b3;
}
.alert-success .alert-link {
  color: #356635;
}
.alert-info {
  background-color: #d9edf7;
  border-color: #bce8f1;
  color: #3a87ad;
}
.alert-info hr {
  border-top-color: #a6e1ec;
}
.alert-info .alert-link {
  color: #2d6987;
}
.alert-warning {
  background-color: #fcf8e3;
  border-color: #fbeed5;
  color: #c09853;
}
.alert-warning hr {
  border-top-color: #f8e5be;
}
.alert-warning .alert-link {
  color: #a47e3c;
}
.alert-danger {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.alert-danger hr {
  border-top-color: #e6c1c7;
}
.alert-danger .alert-link {
  color: #953b39;
}

/* ------ Panels ---------------------------------- */

.panel {
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 5px;
}
.panel-body:before,
.panel-body:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.panel-body:after {
  clear: both;
}
.panel > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item {
  border-width: 1px 0;
}
.panel > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel > .list-group .list-group-item:last-child {
  border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.panel > .table {
  margin-bottom: 0;
}
.panel > .panel-body + .table {
  border-top: 1px solid #7c7c7c;
}
.panel-heading {
  padding: 8px 4px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 75%;
}
.panel-title > a {
  color: inherit;
}
.panel-footer {
  padding: 8px 4px;
  background-color: #E9E9E9;
  border-top: 1px solid #7c7c7c;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
  overflow: hidden;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #7c7c7c;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #7c7c7c;
}
.panel-default {
  border-color: #7c7c7c;
}
.panel-default > .panel-heading {
  color: #504F4F;
  background-color: #E9E9E9;
  border-color: #7c7c7c;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #7c7c7c;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #7c7c7c;
}
.panel-primary {
  border-color: #428bca;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #428bca;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #428bca;
}
.panel-success {
  border-color: #d6e9c6;
}
.panel-success > .panel-heading {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #d6e9c6;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #d6e9c6;
}
.panel-warning {
  border-color: #fbeed5;
}
.panel-warning > .panel-heading {
  color: #c09853;
  background-color: #fcf8e3;
  border-color: #fbeed5;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #fbeed5;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #fbeed5;
}
.panel-danger {
  border-color: #eed3d7;
}
.panel-danger > .panel-heading {
  color: #b94a48;
  background-color: #f2dede;
  border-color: #eed3d7;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #eed3d7;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #eed3d7;
}
.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #bce8f1;
}

/* ------ Well ---------------------------------- */

.well {
  min-height: 20px;
  padding: 5px;
  margin-bottom: 10px;
  background-color: #E9E9E9;
  border: 1px solid #e3e3e3;
  border-radius: 0px !important;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.well-lg {
  padding: 24px;
  border-radius: 6px;
}
.well-sm {
  padding: 9px;
  border-radius: 3px;
}



/* ------ Popover ---------------------------------- */

.popover {
  position: absolute;
  cursor: default;
  top: 10px;
  left: -20px;
  display: none;
  padding: 0px !important;
  background-color: rgba(255, 255, 255, 0.95);
  border-width:0px !important;
  width: 0px;
  border-style:solid;
  border-color:none !important;
  z-index:3000;
  -webkit-border-radius: 0px !important; /* was 10px; */
     -moz-border-radius: 0px !important;
          border-radius: 0px !important;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
     -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
     -moz-background-clip: padding;
          background-clip: padding-box;
}

.popover425 {min-width: 425px;}
.popover400 {min-width: 400px;}
.popover375 {min-width: 375px;}
.popover350 {min-width: 350px;}
.popover300 {min-width: 300px;}
.popover275 {min-width: 275px;}
.popover250 {min-width: 250px;}
.popover200 {min-width: 200px;}
.popover175 {min-width: 175px;}
.popover150 {min-width: 150px;}
.popover100 {min-width: 100px;}

.popover.top {margin-top: -10px;}
.popover.right {margin-left: 10px;}
.popover.bottom {margin-top: 10px;}
.popover.left {margin-left: -10px;}

.popover-title {
  padding: 8px 0px 8px 10px !important;
  margin: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0.75);
  border-bottom: 1px solid #ebebeb;
  -webkit-border-radius: 0 !important;
     -moz-border-radius: 0 !important;
          border-radius: 0 !important;
}

.popover-content, .ticketing-container.popover-content  {
  font-family: Arial,sans-serif !important;
  max-height: 300px;
  overflow-y: auto;
  padding: 2px !important;
  text-transform: none;
  font-size: 14px;
  width: 100% !important;
  /* margin-top: 5px !important; */
}

.popover-content ul li button,
.popover-content ul li button:hover,
.popover-content ul li button:focus,
.popover-content ul li.active button,
.popover-content ul li.active button:hover,
.popover-content ul li.active button:focus {
  text-decoration: none;
  outline: 0;
  padding-top:6px;
  width: 100%;
  text-align:left;
}

.popover-content ul li button {color: #575757;}

.popover-content ul li button:hover,
.popover-content ul li button:focus {
  color: #4692AD;
  background-color: #F2FBFF;	
}

.popover-content ul li.active button,
.popover-content ul li.active button:hover,
.popover-content ul li.active button:focus {
  color: #4692AD;
  background-color: #F2FBFF;
  border-bottom: 1px solid #4692AD;
}

.popover-content ul.popover-tabs {margin-bottom:5px;}

.popover-content ul.popover-tabs li button,
.popover-content ul.popover-tabs li button:hover,
.popover-content ul.popover-tabs li button:focus,
.popover-content ul.popover-tabs li.active button,
.popover-content ul.popover-tabs li.active button:hover,
.popover-content ul.popover-tabs li.active button:focus {
    width: 50%;
    float: left;
    padding: 4px 0;
    position: relative;
    text-align:center;
}

.popover-content ul.popover-tabs li button,
.popover-content ul.popover-tabs li button:hover,
.popover-content ul.popover-tabs li button:focus {
    /* border: 1px solid #575757; */
    color: #575757;
}

.popover-content ul.popover-tabs li.active button,
.popover-content ul.popover-tabs li.active button:hover,
.popover-content ul.popover-tabs li.active button:focus {
    color: #4692AD;
    background-color: #F2FBFF;
    border: 1px solid #4692AD !important;
}

/* .content-header {padding-bottom:5px;}
.content-header-icon {position:relative; margin-right:10px;border-right:1px solid #c4c4c4; padding-right:6px;}
.content-header-text {font-size:105%;}
.content-description-container {padding-bottom:5px;}
.content-description-text, .asset-category {font-size:85%;}
.content-text-container {padding:0 0 5px 0;}
.content-text-container-inner {padding: 0 6px; margin-top: 5px;}
.content-text-container-inner ul {font-size:80%;line-height: 16px; }
.content-text-container-inner ul li.oddRow {margin:2px 0;padding:4px; border-radius:3px;}
.content-text-container-inner ul li.evenRow {margin:2px 0; padding:2px 4px;}*/
.oddRow-color-teal, .oddRow-color-saved {background-color: #EBF4F5;}
.oddRow-color-approved {background-color: #EBF4F5;}
.oddRow-color-error {background-color: #EBF4F5;}
.oddRow-color-server {background-color: #F1FEFF;}
.oddRow-color-tapedevice {background-color: #EBF4F5;}
.oddRow-color-storage {background-color: #EBF4F5;}
.oddRow-color-network {background-color: #EBF4F5;}
.oddRow-color-misc {background-color: #EBF4F5;}
.oddRow-color-printer {background-color: #EBF4F5;}
.oddRow-color-silver {background-color: #EBF4F5;}


.popover .arrow,
.popover .arrow:after {
  position: absolute;
  display: inline-block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}

.popover.top .arrow {
  bottom: -10px;
  left: 50%;
  margin-left: -13px;
  border-width: 10px 10px 0;
}


.popover.right .arrow {
  border-width: 10px 10px 10px 0;
  left: -10px;
  margin-top: -13px;
  top: 50%;
}


.popover.bottom .arrow {
  top: -10px;
  left: 50%;
  margin-left: -13px;
  border-width: 0 10px 10px;
}


.popover.left .arrow {
  top: 50%;
  right: -10px;
  margin-top: -13px;
  border-width: 10px 0 10px 10px;
}



/* ------ Tooltip ---------------------------------- */

.tooltip {
  position: absolute;
  z-index: 1030;
  display: block;
  visibility: visible;
  font-size: 70%;
  line-height: 12px;
  /* letter-spacing:1px; */
  opacity: 0;
  /* filter: alpha(opacity=0); */
}
.tooltip.in {
  opacity: 0.9;
  /* filter: alpha(opacity=90); */
}
.tooltip.top {
  margin-top: -3px;
  padding: 5px 0;
}
.tooltip.right {
  margin-left: 3px;
  padding: 0 5px;
}
.tooltip.bottom {
  margin-top: 3px;
  padding: 5px 0;
}
.tooltip.left {
  margin-left: -3px;
  padding: 0 5px;
}
.tooltip-inner {
  max-width: 250px;
  padding: 3px 8px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: rgba(0,0,0,0.85);
  border-radius: 4px;
}
.tooltip-arrow {
  position: absolute;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-left .tooltip-arrow {
  bottom: 0;
  left: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.top-right .tooltip-arrow {
  bottom: 0;
  right: 5px;
  border-width: 5px 5px 0;
  border-top-color: #000000;
}
.tooltip.right .tooltip-arrow {
  top: 50%;
  left: 0;
  margin-top: -5px;
  border-width: 5px 5px 5px 0;
  border-right-color: #000000;
}
.tooltip.left .tooltip-arrow {
  top: 50%;
  right: 0;
  margin-top: -5px;
  border-width: 5px 0 5px 5px;
  border-left-color: #000000;
}
.tooltip.bottom .tooltip-arrow {
  top: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-left .tooltip-arrow {
  top: 0;
  left: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}
.tooltip.bottom-right .tooltip-arrow {
  top: 0;
  right: 5px;
  border-width: 0 5px 5px;
  border-bottom-color: #000000;
}

/* ------ Responsive ---------------------------------- */
.breadcrumb {
  padding: 8px 15px;
  margin-bottom: 20px;
  list-style: none;
  background-color: #E9E9E9;
  border-radius: 4px;
}
.breadcrumb > li {
  display: inline-block;
}
.breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #cccccc;
}
.breadcrumb > .active {
  color: #999999;
}
.pagination {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.pagination > li {
  display: inline;
}
.pagination > li > a,
.pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  line-height: 1.428571429;
  text-decoration: none;
  background-color: #ffffff;
  border: 1px solid #7c7c7c;
  margin-left: -1px;
}
.pagination > li:first-child > a,
.pagination > li:first-child > span {
  margin-left: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
}
.pagination > li:last-child > a,
.pagination > li:last-child > span {
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
}
.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  background-color: #eeeeee;
}
.pagination > .active > a,
.pagination > .active > span,
.pagination > .active > a:hover,
.pagination > .active > span:hover,
.pagination > .active > a:focus,
.pagination > .active > span:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
  cursor: default;
}
.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus,
.pagination > .disabled > a,
.pagination > .disabled > a:hover,
.pagination > .disabled > a:focus {
  color: #999999;
  background-color: #ffffff;
  border-color: #7c7c7c;
  cursor: not-allowed;
}
.pagination-lg > li > a,
.pagination-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.pagination-lg > li:first-child > a,
.pagination-lg > li:first-child > span {
  border-bottom-left-radius: 6px;
  border-top-left-radius: 6px;
}
.pagination-lg > li:last-child > a,
.pagination-lg > li:last-child > span {
  border-bottom-right-radius: 6px;
  border-top-right-radius: 6px;
}
.pagination-sm > li > a,
.pagination-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.pagination-sm > li:first-child > a,
.pagination-sm > li:first-child > span {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.pagination-sm > li:last-child > a,
.pagination-sm > li:last-child > span {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.pager {
  padding-left: 0;
  margin: 20px 0;
  list-style: none;
  text-align: center;
}
.pager:before,
.pager:after {
  content: " ";
  display: table;
}
.pager:after {
  clear: both;
}
.pager:before,
.pager:after {
  content: " ";
  display: table;
}
.pager:after {
  clear: both;
}
.pager li {
  display: inline;
}
.pager li > a,
.pager li > span {
  display: inline-block;
  padding: 5px 14px;
  background-color: #ffffff;
  border: 1px solid #7c7c7c;
  border-radius: 15px;
}
.pager li > a:hover,
.pager li > a:focus {
  text-decoration: none;
  background-color: #eeeeee;
}
.pager .next > a,
.pager .next > span {
  float: right;
}
.pager .previous > a,
.pager .previous > span {
  float: left;
}
.pager .disabled > a,
.pager .disabled > a:hover,
.pager .disabled > a:focus,
.pager .disabled > span {
  color: #999999;
  background-color: #ffffff;
  cursor: not-allowed;
}
.jumbotron {
  padding: 30px;
  margin-bottom: 30px;
  font-size: 21px;
  font-weight: 200;
  line-height: 2.1428571435;
  color: inherit;
  background-color: #eeeeee;
}
.jumbotron h1,
.jumbotron .h1 {
  line-height: 1;
  color: inherit;
}
.jumbotron p {
  line-height: 1.4;
}
.container .jumbotron {
  border-radius: 6px;
}
.jumbotron .container {
  max-width: 100%;
}
@media screen and (min-width: 768px) {
  .jumbotron {
    padding-top: 48px;
    padding-bottom: 48px;
  }
  .container .jumbotron {
    padding-left: 60px;
    padding-right: 60px;
  }
  .jumbotron h1,
  .jumbotron .h1 {
    font-size: 63px;
  }
}
.thumbnail {
  display: block;
  padding: 4px;
  margin-bottom: 20px;
  line-height: 1.428571429;
  background-color: #ffffff;
  border: 1px solid #7c7c7c;
  border-radius: 4px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.thumbnail > img,
.thumbnail a > img {
  display: block;
  max-width: 100%;
  height: auto;
  margin-left: auto;
  margin-right: auto;
}
a.thumbnail:hover,
a.thumbnail:focus,
a.thumbnail.active {
  border-color: #428bca;
}
.thumbnail .caption {
  padding: 9px;
  color: #333333;
}

.media,
.media-body {
  overflow: hidden;
  zoom: 1;
}
.media,
.media .media {
  margin-top: 15px;
}
.media:first-child {
  margin-top: 0;
}
.media-object {
  display: block;
}
.media-heading {
  margin: 0 0 5px;
}
.media > .pull-left {
  margin-right: 10px;
}
.media > .pull-right {
  margin-left: 10px;
}
.media-list {
  padding-left: 0;
  list-style: none;
}
.list-group {
  margin-bottom: 20px;
  padding-left: 0;
}
.list-group-item {
  position: relative;
  display: block;
  padding: 8px 4px;
  margin-bottom: -1px;
  background-color: #ffffff;
  border: 1px solid #7c7c7c;
}
.list-group-item:first-child {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}
.list-group-item > .badge {
  float: right;
}
.list-group-item > .badge + .badge {
  margin-right: 5px;
}
a.list-group-item {
  color: #555555;
}
a.list-group-item .list-group-item-heading {
  color: #333333;
}
a.list-group-item:hover,
a.list-group-item:focus {
  text-decoration: none;
  background-color: #E9E9E9;
}
a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus {
  z-index: 2;
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}
a.list-group-item.active .list-group-item-heading,
a.list-group-item.active:hover .list-group-item-heading,
a.list-group-item.active:focus .list-group-item-heading {
  color: inherit;
}
a.list-group-item.active .list-group-item-text,
a.list-group-item.active:hover .list-group-item-text,
a.list-group-item.active:focus .list-group-item-text {
  color: #e1edf7;
}
.list-group-item-heading {
  margin-top: 0;
  margin-bottom: 5px;
}
.list-group-item-text {
  margin-bottom: 0;
  line-height: 1.3;
}
.panel {
  margin-bottom: 20px;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: 0px;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-body {
  padding: 5px;
}
.panel-body:before,
.panel-body:after {
  content: " ";
  display: table;
}
.panel-body:after {
  clear: both;
}
.panel-body:before,
.panel-body:after {
  content: " ";
  display: table;
}
.panel-body:after {
  clear: both;
}
.panel > .list-group {
  margin-bottom: 0;
}
.panel > .list-group .list-group-item {
  border-width: 1px 0;
}
.panel > .list-group .list-group-item:first-child {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel > .list-group .list-group-item:last-child {
  border-bottom: 0;
}
.panel-heading + .list-group .list-group-item:first-child {
  border-top-width: 0;
}
.panel > .table,
.panel > .table-responsive > .table {
  margin-bottom: 0;
}
.panel > .panel-body + .table,
.panel > .panel-body + .table-responsive {
  border-top: 1px solid #7c7c7c;
}
.panel > .table > tbody:first-child th,
.panel > .table > tbody:first-child td {
  border-top: 0;
}
.panel > .table-bordered,
.panel > .table-responsive > .table-bordered {
  border: 0;
}
.panel > .table-bordered > thead > tr > th:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:first-child,
.panel > .table-bordered > tbody > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:first-child,
.panel > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:first-child,
.panel > .table-bordered > thead > tr > td:first-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:first-child,
.panel > .table-bordered > tbody > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:first-child,
.panel > .table-bordered > tfoot > tr > td:first-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:first-child {
  border-left: 0;
}
.panel > .table-bordered > thead > tr > th:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > th:last-child,
.panel > .table-bordered > tbody > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > th:last-child,
.panel > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > th:last-child,
.panel > .table-bordered > thead > tr > td:last-child,
.panel > .table-responsive > .table-bordered > thead > tr > td:last-child,
.panel > .table-bordered > tbody > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tbody > tr > td:last-child,
.panel > .table-bordered > tfoot > tr > td:last-child,
.panel > .table-responsive > .table-bordered > tfoot > tr > td:last-child {
  border-right: 0;
}
.panel > .table-bordered > thead > tr:last-child > th,
.panel > .table-responsive > .table-bordered > thead > tr:last-child > th,
.panel > .table-bordered > tbody > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > th,
.panel > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > th,
.panel > .table-bordered > thead > tr:last-child > td,
.panel > .table-responsive > .table-bordered > thead > tr:last-child > td,
.panel > .table-bordered > tbody > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tbody > tr:last-child > td,
.panel > .table-bordered > tfoot > tr:last-child > td,
.panel > .table-responsive > .table-bordered > tfoot > tr:last-child > td {
  border-bottom: 0;
}
.panel > .table-responsive {
  border: 0;
  margin-bottom: 0;
}
.panel-heading {
  padding: 8px 4px;
  border-bottom: 1px solid transparent;
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-heading > .dropdown .dropdown-toggle {
  color: inherit;
}
.panel-title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 75%;
  color: inherit;
}
.panel-title > a {
  color: inherit;
}
.panel-footer {
  padding: 8px 4px;
  background-color: #E9E9E9;
  border-top: 1px solid #7c7c7c;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-group .panel {
  margin-bottom: 0;
  border-radius: 0px;
  overflow: hidden;
}
.panel-group .panel + .panel {
  margin-top: 5px;
}
.panel-group .panel-heading {
  border-bottom: 0;
}
.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 1px solid #7c7c7c;
}
.panel-group .panel-footer {
  border-top: 0;
}
.panel-group .panel-footer + .panel-collapse .panel-body {
  border-bottom: 1px solid #7c7c7c;
}
.panel-default {
  border-color: #7c7c7c;
}
.panel-default > .panel-heading {
  color: #333333;
  background-color: #E9E9E9;
  border-color: #7c7c7c;
}
.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #7c7c7c;
}
.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #7c7c7c;
}
.panel-primary {
  border-color: #428bca;
}
.panel-primary > .panel-heading {
  color: #ffffff;
  background-color: #428bca;
  border-color: #428bca;
}
.panel-primary > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #428bca;
}
.panel-primary > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #428bca;
}
.panel-success {
  border-color: #d6e9c6;
}
.panel-success > .panel-heading {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}
.panel-success > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #d6e9c6;
}
.panel-success > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #d6e9c6;
}
.panel-warning {
  border-color: #faebcc;
}
.panel-warning > .panel-heading {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.panel-warning > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #faebcc;
}
.panel-warning > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #faebcc;
}
.panel-danger {
  border-color: #ebccd1;
}
.panel-danger > .panel-heading {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.panel-danger > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #ebccd1;
}
.panel-danger > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #ebccd1;
}
.panel-info {
  border-color: #bce8f1;
}
.panel-info > .panel-heading {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.panel-info > .panel-heading + .panel-collapse .panel-body {
  border-top-color: #bce8f1;
}
.panel-info > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: #bce8f1;
}
.well {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  background-color: #E9E9E9;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.well blockquote {
  border-color: #ddd;
  border-color: rgba(0, 0, 0, 0.15);
}
.well-lg {
  padding: 24px;
  border-radius: 6px;
}
.well-sm {
  padding: 9px;
  border-radius: 3px;
}

/* ------ LOGIN CAROUSEL ---------------------------------- */

/* .carousel,
.item,
.active {
    height: 100%;
    width:100%;
    z-index: -1;
}

.carousel-inner {
    overflow: hidden;
    position: absolute;
    width: 100%;
}

.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
    width: 100%;
    height: 100%;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -1;
}

.carousel-indicators {
  position: absolute;
  bottom: 30px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
  opacity: 0.5;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
} */

/* ------ LOGIN CAROUSEL ---------------------------------- */

.carousel,
.item,
.active {
    height: 100%;
    z-index: -1;
}

.carousel-inner {
    height: 100%;
        z-index: -1;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
        z-index: -1;
        overflow:hidden;
}

.carousel-indicators {
  position: absolute;
  bottom: 130px;
  left: 50%;
  z-index: 15;
  width: 60%;
  margin-left: -30%;
  padding-left: 0;
  list-style: none;
  text-align: center;
  opacity: 0.5;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  border: 1px solid #ffffff;
  border-radius: 10px;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0);
}
.carousel-indicators .active {
  margin: 0;
  width: 12px;
  height: 12px;
  background-color: #ffffff;
}
