@charset "UTF-8";

/* cache busting NOTE: add at the end of every IMAGE file this: ?v=#version# */
/* http://kyleschaeffer.com/development/css-font-size-em-vs-px-vs-pt-vs/ */

@font-face {
	font-family: 'sg-iconfont-outline';
	src:url('../../webfont/sg-iconfont-outline.eot?-wdrzzf');
	src:url('../../webfont/sg-iconfont-outline.eot?#iefix-wdrzzf') format('embedded-opentype'),
		url('../../webfont/sg-iconfont-outline.ttf?-wdrzzf') format('truetype'),
		url('../../webfont/sg-iconfont-outline.woff?-wdrzzf') format('woff'),
		url('../../webfont/sg-iconfont-outline.svg?-wdrzzf#sg-iconfont-outline') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="sgicon-"], [class*="sgicon-"] {
	font-family: 'sg-iconfont-outline' !important;
	line-height:1.125; /* was 1 */ 

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.launchpad {margin-bottom:5px;}
.launchpad a.btn {/* width:75px; */ width:100px; color:#4691ac; height:auto;}
.launchpad a.btn:hover, .launchpad-text:hover {opacity: 0.5; color:#575757;}
.launchpad-icons {font-size:400%; color:#4692AD;border: 1px solid rgba(70,146,173,0.25);border-radius:6px; padding:5px;margin-bottom:4px;}
.launchpad-icons:hover {color:#575757;border: 1px solid #333;}
.launchpad-text, .tooldrawer-text {font-size: 90%; line-height: 12px; letter-spacing: 0.05em;text-align: center;text-transform: capitalize; margin-top:4px; white-space: normal;}

.tooldrawer-icon-text-container {margin-bottom:8px;}
.tooldrawer-icon-text-container a.btn {color:#fff; /* width:75px; */ width:100px; height:auto;}
.tooldrawer-icons {font-size:300%; color:#fff;border-radius: 8px;background-color:transparent;}
.tooldrawer-icon-text-container a.btn:hover, .tooldrawer-icons:hover, .tooldrawer-text:hover {opacity: 0.5;}
.tooldrawer-icon-text-container a.btn:active, .tooldrawer-icons:active, .tooldrawer-text:active {background-color: #4691ac !important; color:#FFFFFF;}
.tooldrawer-title {font-size: 60%; letter-spacing: 0.04em; text-align: center; text-transform:uppercase; margin:3px 0; padding:2px 0 1px 0; border-top:1px solid rgba(255, 255, 255, 0.25);border-bottom:1px solid rgba(255, 255, 255, 0.25);}
#tooldrawer-container ul li a.btn:hover,
#tooldrawer-container ul li a.btn:active {background-color: #4691ac !important; color:#FFFFFF;}

.fixeddashboard-icons-text-container {color:#4692AD;}

.pageview .btn {color:#4A4A4A; padding:1px;float:left; margin-right:8px;}
.pageview-icons {font-size:140%;}
.pageview .btn:hover {opacity: 0.5;}
.pageview .btn:active {background-color: #4691ac !important; color:#FFFFFF;}
.pageview-text, .pageview-text-small {font-size: 65%; text-transform:uppercase;}
.pageview-text {margin-top: 8px;}
.pageview-text-small {margin-top: 0px;}

.login-help-area, .user-help-area {color:#4A4A4A; text-align:right; float:right; height:25px;}
.login-help-area, .user-help-area-padding {padding: 6px 8px;}
/* .login-help-area .btn, .user-help-area .btn {width: 45px;height: 25px;} */
.login-help-area a.btn:hover, .user-help-area a.btn:hover {opacity: 0.5;}
.login-help-area a.login-btn-text, a.login-btn-text {
	background-color: #4691ac !important;
    border-radius: 0;
    color: #fff;
    height: 35px;
    margin-top: 10px;
    padding-top: 6px;
    width: 100%;
}

.toolselected-icons {font-size:200%;}

.about-icons {font-size:100%;}

.sgicon-action-menu-tools:before {
	content: "\e000";
}
.sgicon-action-menu-userhelp:before {
	content: "\e001";
}
.sgicon-action-menu:before {
	content: "\e002";
}
.sgicon-add-create:before {
	content: "\e003";
}
.sgicon-approved:before {
	content: "\e004";
}
.sgicon-arrow-down:before {
	content: "\e005";
}
.sgicon-arrow-left:before {
	content: "\e006";
}
.sgicon-arrow-right:before {
	content: "\e007";
}
.sgicon-arrow-up:before {
	content: "\e008";
}
.sgicon-calendar-date:before {
	content: "\e009";
}
.sgicon-check-mark:before {
	content: "\e00a";
}
.sgicon-close-cancel:before {
	content: "\e00b";
}
.sgicon-color-circle:before {
	content: "\e00c";
}
.sgicon-color-square:before {
	content: "\e00d";
}
.sgicon-company-profile:before {
	content: "\e00e";
}
.sgicon-company-search:before {
	content: "\e00f";
}
.sgicon-contact:before {
	content: "\e010";
}
.sgicon-contents:before {
	content: "\e011";
}
.sgicon-database:before {
	content: "\e012";
}
.sgicon-delete-remove-trash:before {
	content: "\e013";
}
.sgicon-disc-volume:before {
	content: "\e014";
}
.sgicon-display-topology:before {
	content: "\e015";
}
.sgicon-doc-approved:before {
	content: "\e016";
}
.sgicon-doc-billing:before {
	content: "\e017";
}
.sgicon-doc-cancel-delete:before {
	content: "\e018";
}
.sgicon-doc-download-csv:before {
	content: "\e019";
}
.sgicon-doc-download-doc:before {
	content: "\e01a";
}
.sgicon-doc-download-pdf:before {
	content: "\e01b";
}
.sgicon-doc-download-zip:before {
	content: "\e01c";
}
.sgicon-doc-download:before {
	content: "\e01d";
}
.sgicon-doc-draft-new:before {
	content: "\e01e";
}
.sgicon-doc-duplicate:before {
	content: "\e01f";
}
.sgicon-doc-locked:before {
	content: "\e020";
}
.sgicon-doc-submitted:before {
	content: "\e021";
}
.sgicon-doc-upload:before {
	content: "\e022";
}
.sgicon-doc:before {
	content: "\e023";
}
.sgicon-download:before {
	content: "\e024";
}
.sgicon-duration-time:before {
	content: "\e025";
}
.sgicon-edit-view:before {
	content: "\e026";
}
.sgicon-email:before {
	content: "\e027";
}
.sgicon-events:before {
	content: "\e028";
}
.sgicon-filter:before {
	content: "\e029";
}
.sgicon-folder-close:before {
	content: "\e02a";
}
.sgicon-folder-open:before {
	content: "\e02b";
}
.sgicon-home:before {
	content: "\e02c";
}
.sgicon-information:before {
	content: "\e02d";
}
.sgicon-launch:before {
	content: "\e02e";
}
.sgicon-link:before {
	content: "\e02f";
}
.sgicon-location:before {
	content: "\e030";
}
.sgicon-lock:before {
	content: "\e031";
}
.sgicon-mapped:before {
	content: "\e032";
}
.sgicon-misc:before {
	content: "\e033";
}
.sgicon-more:before {
	content: "\e034";
}
.sgicon-network-router:before {
	content: "\e035";
}
.sgicon-network-switch:before {
	content: "\e036";
}
.sgicon-network:before {
	content: "\e037";
}
.sgicon-not-approved:before {
	content: "\e038";
}
.sgicon-portal-raas:before {
	content: "\e039";
}
.sgicon-portal-service-now:before {
	content: "\e03a";
}
.sgicon-portal-spotlight:before {
	content: "\e03b";
}
.sgicon-portal-ucp-cloud:before {
	content: "\e03c";
}
.sgicon-portal-viewpoint:before {
	content: "\e03d";
}
.sgicon-post-test-survey:before {
	content: "\e03e";
}
.sgicon-printer:before {
	content: "\e03f";
}
.sgicon-refresh:before {
	content: "\e040";
}
.sgicon-reserved:before {
	content: "\e041";
}
.sgicon-search:before {
	content: "\e042";
}
.sgicon-server:before {
	content: "\e043";
}
.sgicon-settings:before {
	content: "\e044";
}
.sgicon-site-access-password:before {
	content: "\e045";
}
.sgicon-size-down:before {
	content: "\e046";
}
.sgicon-size-up:before {
	content: "\e047";
}
.sgicon-stopwatch:before {
	content: "\e048";
}
.sgicon-storage-dasd:before {
	content: "\e049";
}
.sgicon-storage-external:before {
	content: "\e04a";
}
.sgicon-storage:before {
	content: "\e04b";
}
.sgicon-tape-library:before {
	content: "\e04c";
}
.sgicon-ticketing:before {
	content: "\e04d";
}
.sgicon-tool-company-management:before {
	content: "\e04e";
}
.sgicon-tool-doc-repo-admin:before {
	content: "\e04f";
}
.sgicon-tool-doc-repo:before {
	content: "\e050";
}
.sgicon-tool-r2c-admin:before {
	content: "\e051";
}
.sgicon-tool-r2c-esr:before {
	content: "\e052";
}
.sgicon-tool-r2c-iseries:before {
	content: "\e053";
}
.sgicon-tool-r2c-sr:before {
	content: "\e054";
}
.sgicon-tool-r2c-srm:before {
	content: "\e055";
}
.sgicon-tool-test-plan:before {
	content: "\e056";
}
.sgicon-tool-ticketing:before {
	content: "\e057";
}
.sgicon-tool-user-management:before {
	content: "\e058";
}
.sgicon-tooltip:before {
	content: "\e059";
}
.sgicon-tutorial:before {
	content: "\e05a";
}
.sgicon-unlock:before {
	content: "\e05b";
}
.sgicon-upload:before {
	content: "\e05c";
}
.sgicon-user-profile:before {
	content: "\e05d";
}
.sgicon-user:before {
	content: "\e05e";
}
.sgicon-view-next:before {
	content: "\e05f";
}
.sgicon-view-previous:before {
	content: "\e060";
}

.sgicon-color-tp-status-draft-save:before,
.sgicon-color-tp-status-mapping:before,
.sgicon-color-tp-status-reserving:before,
.sgicon-color-tp-status-confirm-approve:before,
.sgicon-color-tp-status-archive:before, 
.sgicon-color-tp-status-canceled:before,
.sgicon-color-tp-application:before,
.sgicon-color-tp-asset-server:before, 
.sgicon-color-tp-asset-tapedrive:before, 
.sgicon-color-tp-asset-storage:before, 
.sgicon-color-tp-asset-network:before,
.sgicon-color-tp-asset-misc:before,
.sgicon-color-tp-asset-printer:before,
.sgicon-color-tp-asset-other:before,
.sgicon-color-tp-approved:before,
.sgicon-color-tp-failed:before,
.sgicon-color-server-healthy:before,
.sgicon-color-server-weak:before,
.sgicon-color-server-poor:before,
.sgicon-color-server-initialsync:before,
.sgicon-color-server-asset:before,
.sgicon-color-server-bandwidth-in:before,
.sgicon-color-server-bandwidth-out:before,
.sgicon-color-server-persist:before,
.sgicon-color-attention:before,
.sgicon-color-clear:before {
	content: "\e00d";
}

.sgicon-color-volume-weak:before,
.sgicon-color-volume-poor:before,
.sgicon-color-volume-initialsync:before,
.sgicon-color-volume-healthy:before, 
.sgicon-color-volume-asset:before,
.sgicon-color-error:before {
	content: "\e00c";
}

/* .sgicon-arrow-up:before, .sgicon-arrow-right:before, .sgicon-arrow-left:before, .sgicon-arrow-down:before {font-size: 85%;} */

/* Test Plan Asset Colors */
.sgicon-color-tp-application:before {color:#FCEB97;}
.sgicon-color-tp-asset-server:before {color:#afe7ed;}
.sgicon-color-tp-asset-tapedrive:before {color:#f1f3a4;}
.sgicon-color-tp-asset-storage:before {color:#e0b7b7;}
.sgicon-color-tp-asset-network:before {color:#bde0b7;}
.sgicon-color-tp-asset-misc:before {color:#aec7e9;}
.sgicon-color-tp-asset-printer:before {color:#cdb7e0;}
.sgicon-color-tp-asset-other:before {color:#CACACA;}


.sg-color-submit-map, .sg-color-weak, .sg-color-weak-server {background-color: #c8a91d !important;}
.sg-color-partial, .sg-color-submit-reserve, .sg-color-poor, .sg-color-poor-server {background-color: #BE7901 !important;}
.sg-color-approved, .sg-color-healthy, .sg-color-healthy-server {background-color: #7E8A35 !important;}
.sg-color-archived {background-color: #A5885A !important;}


/* Server Colors + Test Plan Status */
.sgicon-color-server-weak:before, .sgicon-color-tp-status-mapping:before {color:#D3AB03;}
.sgicon-color-server-poor:before, .sgicon-color-tp-status-reserving:before {color:#BE7901;}
.sgicon-color-server-persist:before {color:#85E0E8;}
.sgicon-color-server-initialsync:before, .sgicon-color-tp-status-draft-save:before {color:#216E7B;}
.sgicon-color-server-healthy:before, .sgicon-color-tp-status-confirm-approve:before, .sgicon-color-tp-approved:before {color:#98A44F;}
.sgicon-color-server-bandwidth-out:before {color:#1A4F79;}
.sgicon-color-server-bandwidth-in:before {color:#7FB4DE;}
.sgicon-color-server-asset:before {color:#626d64;}
.sgicon-color-tp-status-archive:before {color:#A5885A;}
.sgicon-color-tp-status-canceled:before {color:#CACACA;}

/* Volume Colors */
.sgicon-color-volume-initialsync:before {color:#6CC7CF;}
.sgicon-color-volume-asset:before {color:#BAB9B0;}
.sgicon-color-volume-weak:before {color:#FFDE36;}
.sgicon-color-volume-healthy:before {color:#CBD782;}
.sgicon-color-volume-poor:before {color:#F1AC34;}

.legend-server-asset, .legend-server-healthy, .legend-server-weak, .legend-server-poor,
.legend-server-initialsync, .legend-volume-asset, .legend-server-bandwidth-out, .legend-server-bandwidth-in,
.server-persists {font-size:55%;}

.follow-error {font-size:55%;}

.about-server-asset, .about-server-healthy, .about-server-weak, .about-server-poor,
.about-server-initialsync, .about-server-persist, .about-server-bandwidth-out, .about-server-bandwidth-in,
.about-volume-asset, .about-volume-healthy, .about-volume-weak, .about-volume-poor, 
.about-volume-initialsync, .about-error {font-size:80%; float:left; margin:0 2px;}

.sgicon-color-error:before, .sgicon-color-attention:before, .sgicon-color-tp-failed:before {color:#AD1C0F;}
.sgicon-color-clear:before {color:#fff;}





