@charset "UTF-8";

/* min = greater than or equal # referenced */
/* max = less than or equal # referenced */

/* 
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXX   IPADS + TABLETS    XXXXXXXXXXXXXX
XXXXXXXXXXXXX   RESPONSIVE QUERIES    XXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXX   1200x800 OR 800x1200    XXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXX   BELOW    XXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/

@media only screen and (max-width: 1199px) {

#footer { height:25px !important; }
.pull-right > .dropdown-menu {right: 4px;}

}

/* 
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXX   IPADS + TABLETS    XXXXXXXXXXXXXX
XXXXXXXXXXXXX   RESPONSIVE QUERIES    XXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXX   1200x800 OR 800x1200    XXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXX   BELOW    XXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/

@media only screen and (max-width: 1100px) {

#footer { height:25px !important; }

} 

/* 
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXX   IPADS + TABLETS    XXXXXXXXXXXXXX
XXXXXXXXXXXXX   RESPONSIVE QUERIES    XXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXX   1200x800 OR 800x1200    XXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXX   BELOW    XXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/

@media only screen and (max-width: 879px) {

.testplan-dash-text { font-size: 70%; }
#footer { height:25px !important; }

}

/* 
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXX   IPADS + TABLETS    XXXXXXXXXXXXXX
XXXXXXXXXXXXX   RESPONSIVE QUERIES    XXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXX   1024x768 OR 768x1024    XXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXX   BELOW    XXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/

@media only screen and (max-width: 769px) {

.login-messaging-block {
    top:80px;
    position:absolute;
    left: 0px;
    width:320px;
    padding: 20px 80px 20px 20px;
	}
  
.carousel-inner {
	overflow: hidden;
    position: absolute;
    width: 100%;
	}

.launchboard-tiles { margin: 33px 5px 5px 5px; }
.portalboard-tiles { margin-top: 10px 5px 5px 5px; }
.launchboard-tiles, .portalboard-tiles { padding-bottom:5px; }

#footer {height:auto !important;}
#footer ul.copyright {float: none;margin: -3px -19px 2px -10px;text-align: right;}
#footer ul.copyright li:first-of-type {padding: 6px 8px 0px 0px !important;float: left;border-right: none;}
#footer ul.copyright li {float: none; padding: 0px 8px !important; font-size:60%;}

}

/* 
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXX     SMALL TABLETS    XXXXXXXXXXXXXX
XXXXXXXXXXXXX   RESPONSIVE QUERIES    XXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXX   600x800 OR 800x600    XXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXX   BELOW    XXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/

@media only screen and (max-width: 767px) {

#wrapper {min-height: auto !important; top: 0px !important;}

.login-messaging-block {
    top:50px;
    position:absolute;
    left: 0px;
    width:320px;
    padding: 20px 80px 20px 20px;
	}
	
.navbar-toggle {margin-right: 6px !important; margin-top: 9px !important;}
.navbar-collapse {
	background-color: rgba(255, 255, 255, 0.95) !important;
	right: 0 !important;
	width: 800px !important;
	padding-right: 0px !important;
	}
  
.carousel-inner {
    overflow: hidden;
    position: absolute;
    width: 100%;
	}

.launchboard-tiles { margin: 33px 5px 5px 5px; }
.portalboard-tiles { margin-top: 10px 5px 5px 5px; }
.launchboard-tiles, .portalboard-tiles { padding-bottom:5px; }

#tooldrawer-container, #fixed-dashboard {top: 50px;}
#tooldrawer-container {height: 250px;overflow-y: scroll;}
.tooldrawer-toggle { margin-right: 10px;}
.tool-drawer-mobile {
    height: 50px;
    padding: 6px 0 0 0;
    background-color: #4692ad !important;
    width:40px;
	}
  
.img-xs {
  	width: 100%;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    top:0px;
	}
  
#header, 
#header img.header-mobile,
.header-left-side, 
.header-right-side {height: 50px;}

#header img.header-mobile {left: -10px;position: relative;}

.header-slant {
    border-right: 25px solid rgba(233, 233, 233, 0.65);
    border-top: 50px solid rgba(0, 0, 0, 0);
    left: -25px;
	}

.forgot-password-text {color:#575757;}
.login-help-area a.login-btn-text, a.login-btn-text {height: 58px; padding-top: 18px;}

.login-help-area {width: 480px; height:auto; padding: 7px;}
.user-help-area {width: 320px; height:80px; padding: 0;}
  
#footer {height:auto !important;}
 
}

/* 
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXX   IPHONE 5 + 5S   XXXXXXXXXXXXXXX
XXXXXXXXXXXXX   RESPONSIVE QUERIES    XXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXX   320x586 OR 568x320    XXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXX   BELOW    XXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/

@media only screen and (max-width: 600px) {

#wrapper {min-height: auto !important; top: 0px !important; margin-top: 0px !important;}
#navbar {position:relative; top:0px;}

.login-messaging-block {
    top:50px;
    position:absolute;
    left: 0px;
    width:320px;
    padding: 20px 80px 20px 20px;
	}
  
.launchboard-tiles { margin: 33px 5px 5px 5px; }
.portalboard-tiles { margin-top: 10px 5px 5px 5px; }
.launchboard-tiles, .portalboard-tiles { padding-bottom:5px; }

#tooldrawer-container, #fixed-dashboard {top: 50px;}

.img-xs {
  	width: 100%;
    background-position: top center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    z-index: -1;
    overflow: hidden;
    position: absolute;
    top:0px;
	}
	
.tool-drawer-mobile {
    height: 50px;
    padding: 12px 0 0 0;
    background-color: #4692ad !important;
    width:40px;
	}

.navbar-toggle {margin-right: 6px !important; margin-top: 9px !important;}
.navbar-collapse {
	background-color: rgba(255, 255, 255, 0.95) !important;
	right: 0 !important;
	width: 800px !important;
	padding-right: 0px !important;
	}
	
#header, 
#header img.header-mobile,
.header-left-side, 
.header-right-side {height: 50px;}

.header-slant {
    border-right: 25px solid rgba(233, 233, 233, 0.65);
    border-top: 50px solid rgba(0, 0, 0, 0);
    left: -25px;
	}
  
.popover { min-width:318px !important; max-width:318px !important; width:318px !important; }
.width350 {min-width: 300px !important; max-width: 300px !important; width: 300px !important;}
.popover-content, .ticketing-container.popover-content { height:300px; }

.modal-halfsize {
    height: 300px;
    left: 2%;
    overflow-y: scroll;
    right: 2%;
    top: 1%;
	}

.forgot-password-text {color:#575757;}
.login-help-area a.login-btn-text, a.login-btn-text {height: 58px; padding-top: 18px;}
	
.login-help-area {width: 480px;height:auto; padding: 7px;}
.user-help-area {width: 320px;height:80px; padding: 0;}
	
.goog-te-gadget-simple .goog-te-menu-value span:first-of-type {
    color: #4691ac;
    font-size: 75% !important;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
	}

#footer {height:auto !important; position: fixed !important;}

}

/* 
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXX   IPHONE 5 + 5S   XXXXXXXXXXXXXXX
XXXXXXXXXXXXX   RESPONSIVE QUERIES    XXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXX   320x586 OR 568x320    XXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXX   BELOW    XXXXXXXXXXXXXXXXXX
XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
*/

@media only screen and (max-width: 450px) {

#wrapper {min-height: auto !important; top: 0px !important; margin-top: 0px !important;}
#navbar {position:relative; top:0px;}

.login-messaging-block {
    top: 168px;
    position:absolute;
    left: 0px;
    width:100%;
    padding: 20px 80px 20px 20px;
	}

.navbar-toggle {margin-right: 6px !important; margin-top: 9px !important;}
.navbar-collapse {
	background-color: rgba(255, 255, 255, 0.95) !important;
	right: 0 !important;
	width: 800px !important;
	padding-right: 0px !important;
	}
.forgot-password-text {color:#575757;}	
.login-help-area {width: 320px;height:auto; padding: 7px;}
.forgot-password-text { padding: 0 !important; color:#333; float:left; margin-top:10px; }

.user-help-area {width: 320px;height:auto; padding: 0;}
  
.launchboard-tiles { margin: 33px 5px 5px 5px; }
.portalboard-tiles { margin-top: 10px 5px 5px 5px; }
.launchboard-tiles, .portalboard-tiles { padding-bottom:5px; }

#tooldrawer-container, #fixed-dashboard {top: 50px;}

#header, 
#header img.header-mobile,
.header-left-side, 
.header-right-side {height: 50px;}

.goog-te-gadget-simple .goog-te-menu-value span:first-of-type {
    color: #4691ac;
    font-size: 75% !important;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    top: -2px;
	}
  
#footer {height:auto !important; position: fixed !important;}

}